{% extends "layouts/layout_detalle_productos.html" %}
{% block title %}Producto 1{% endblock %}
{% block content %}
<div class="container my-5">
    <div class="container-fluid" id="cardIndex">
        <div class="container py-4 row justify-content-center m-auto">
            <div class="row py-3 justify-content-center">
                <div class="col-md-6 p-4 card card-body cardIndexPlanes"> 
                    <main>
                        <section>
                            <h2 style="color: gold;">Información de Contacto</h2>
                            <p>Para ponerte en contacto con nosotros, puedes utilizar la siguiente información:</p>
                            <ul>
                                <li>Teléfono: +543543690045</li>
                                <li>Correo electrónico: info@serviciodpi.com</li>
                                <li>Dirección: Calle Colombia #480, Córdoba, Argentina</li>
                            </ul>
                        </section>
                    
                        <section>
                            <h2 style="color: gold;">Formulario de Contacto</h2>
                            <form action="/enviar-email-de-contacto" method="POST">
                                <div class="form-group">
                                    <label style="color: gold;" for="nombre">Nombre:</label>
                                    <input type="text" class="form-control" id="nombre" name="nombre" required>
                                </div>
                    
                                <div class="form-group">
                                    <label style="color: gold;" for="email">Correo Electrónico:</label>
                                    <input type="email" class="form-control" id="email" name="email" required>
                                </div>
                    
                                <div class="form-group">
                                    <label style="color: gold;" for="mensaje">Mensaje:</label>
                                    <textarea class="form-control" id="mensaje" name="mensaje" rows="4" required></textarea>
                                </div>
                    
                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary" value="Enviar">
                                </div>
                            </form>
                            <div class="form-group">
                                <a href="/" class="btn btn-success mt-3">Volver</a>
                            </div>
                        </section>
                    </main>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
