
{% block content %}
<div>
  

  <div class="image-grid">
    {% for image_path in image_paths %}
      <div class="card">
        <div class="card-header">
          <h3>Nombre del Usuario</h3> <!-- Reemplaza con el nombre real del usuario -->
          <button class="close-card" onclick="cerrarTarjeta(this.parentElement.parentElement)">Cerrar</button>
        </div>
        <div class="card-body">
          <img src="{{ url_for('static', filename=image_path) }}" alt="Imagen">
          <button class="close-button-mostrar" onclick="eliminarImagen(this.parentElement)">X</button>
        </div>
        <div class="card-footer">
          <p>Descripción de la imagen</p> <!-- Reemplaza con la descripción real de la imagen -->
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<script>
function eliminarImagen(cardBody) {
  // Implementa la lógica para eliminar la imagen
  console.log('Eliminar imagen:', cardBody.querySelector('img').src);
  // Aquí puedes realizar una solicitud al servidor para eliminar la imagen
  // o implementar la lógica necesaria del lado del cliente.
}

function cerrarTarjeta(card) {
  card.style.display = 'none';
}
</script>
{% endblock %}
