
{% if layout == 'layout'%}
{% extends 'layouts/layout.html' %}
{% endif %}

{% if layout == 'layout_fichas'%}
{% extends 'layouts/layout_fichas.html' %}
{% endif %}

{% if layout == 'layoutConexBroker' %}
{% extends 'layouts/layoutConexBroker.html' %}    
{% endif %}
{% if layout == 'layout_signal' %}
{% extends 'layouts/layout_signal.html' %}    
{% endif %}

{% block title %}Galeria imagenes{% endblock %}
{% block content %}
<div>
   <div class="container_galeria_imagenes">
        <div class="post-card">
            <div class="post-header">
              <img src="{{ url_for('static', filename='img/leon_transp.png') }}" alt="Select File Icon" style="width: 24px; height: 24px;">
                <input type="text" placeholder="Crear publicación" class="post-input_creaPublicacion" id="createPostBtn_creaPublicacion">
              </div>

            <div class="post-options">
                <div class="option">
                  <img src="{{ url_for('static', filename='icons/image-upload-icon.png') }}" alt="Select File Icon" style="width: 24px; height: 24px;">
                  <span>Contenido multimedia</span>
                </div>
                <div class="option">
                  <img src="{{ url_for('static', filename='icons/clipart3496311.png') }}" alt="Select File Icon" style="width: 24px; height: 24px;">
                    <span>Contribuye con tu experiencia</span>
                </div>
                <div class="option">
                  <img src="{{ url_for('static', filename='icons/edit-icon-png-3598.png') }}" alt="Select File Icon" style="width: 24px; height: 24px;">
                  <span>Escribir artículo</span>
                </div>
            </div>
        </div>
    </div>


    <div class="container mt-4">
      <!-- Contenedor para mostrar las publicaciones -->
      <div id="postDisplayContainer" class="row">
          <!-- Aquí se insertarán las tarjetas de publicaciones -->
      </div>
  </div>

  <div class="ubicacion-imagenes">
    <!-- Aquí se incrustará la galería de imágenes -->
  </div>




   





<!-- Modal for creating a post -->
<div id="createPostModal_creaPublicacion" class="modal_creaPublicacion">
  <div class="modal-content_creaPublicacion">
    <span class="close_creaPublicacion text-black">&times;</span>
    <h2 class="modal-title_creaPublicacion text-black">Crear Publicación</h2>
    <form id="createPostForm_creaPublicacion" enctype="multipart/form-data">
      
      <!-- Input for the title of the publication -->
      <div class="form-group_creaPublicacion">
        <label for="postTitle_creaPublicacion" class="text-black">Título:</label>
        <input type="text" id="postTitle_creaPublicacion" name="postTitle_creaPublicacion" placeholder="Escribe el título de la publicación" class="form-control" required>
      </div>
      
      <!-- Textarea for the body of the post -->
      <div class="form-group_creaPublicacion">
        <label for="body" class="text-black">Texto:</label>
        <textarea id="body" name="postText_creaPublicacion" placeholder="Escribe tu publicación" class="form-control" required></textarea>
      </div>

      <!-- Textarea for the description of the post -->
      <div class="form-group_creaPublicacion">
        <label for="description" class="text-black">Descripción:</label>
        <textarea id="description" name="postDescription_creaPublicacion" placeholder="Escribe una descripción" class="form-control" required></textarea>
      </div>

      <!-- Combobox for estado -->
      <div class="form-group_creaPublicacion">
        <label for="postEstado_creaPublicacion" class="text-black">Estado:</label>
        <select id="postEstado_creaPublicacion" name="postEstado_creaPublicacion" class="form-control" required>
          <option value="" disabled selected>Selecciona un estado</option>
          <option value="activo">Activo</option>
          <option value="inactivo">Inactivo</option>
          <option value="pendiente">Pendiente</option>
        </select>
      </div>

      <!-- Combobox for ambitos -->
      <div class="form-group_creaPublicacion">
        <label for="postAmbito_creaPublicacion" class="text-black">Ámbito:</label>
        <select id="postAmbito_creaPublicacion" name="postAmbito_creaPublicacion" class="form-control" required>
          <option value="" disabled selected>Selecciona un ámbito</option>
          <option value="social">Social</option>
          <option value="educativo">Educativo</option>
          <option value="laboral">Laboral</option>
        </select>
      </div>

      <div class="input-group_creaPublicacion">
        <!-- Hidden file input -->
        <button class="close-button-media_imagenes" onclick="closePreview()" style="display: none;">X</button>
                    
        <input type="file" id="fileInput_creaPublicacion" name="mediaFile_creaPublicacion" accept="image/*,video/*" multiple style="display: none;">
        
        <!-- Button with media icon to trigger file input -->
        <label for="fileInput_creaPublicacion" class="media-icon-button_creaPublicacion">
          <img src="{{ url_for('static', filename='icons/image-upload-icon.png') }}" alt="Select File Icon" style="width: 24px; height: 24px;">
          <span class="text-black">Seleccionar archivo</span>
        </label>

        <!-- Emoticon button -->
        <button type="button" id="emoticonButton" data-bs-toggle="modal" data-bs-target="#emoticonModal" class="text-black">
          <!-- Emoticon icon here -->
        </button>
      </div>

      <!-- Container to display selected images and videos -->
      <div id="mediaContainer_creaPublicacion" class="media-container_creaPublicacion"></div>
      
      <button type="submit" class="btn btn-primary text-black">Enviar</button>
    </form>
  </div>
</div>






<!-- Modal for viewing and editing an image -->
<div id="imageModal_creaPublicacion" class="image-modal_creaPublicacion">
  <div class="image-modal-content_creaPublicacion">
    <span class="close-image_creaPublicacion">&times;</span>
    <div class="cropper-container">
      <img id="modalImage_creaPublicacion" src="" alt="Selected Image">
    </div>
    
    <button id="saveCroppedImage">Guardar Imagen</button>
  </div>
</div>




<!-- Modal for selecting emoticons -->
<div class="modal fade" id="emoticonModal" tabindex="-1" aria-labelledby="emoticonModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content-selected-emoticon" id="emoticonModal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="emoticonModalLabel">Selecciona un Emoticón</h5>
              <button type="button" class="btn-close" id="custom-close-button" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="emoticonEmoticons">
              <!-- Emoticons will be loaded here -->
          </div>
      </div>
  </div>
</div>


<!-- ... Tu código HTML ... -->
{% include 'layouts/layout_footer.html' %}
<script>





  document.addEventListener('DOMContentLoaded', function() {
    cargarPublicaciones();
  });
  
  function cargarPublicaciones() {
    var correo_electronico = localStorage.getItem('correo_electronico');
    var roll = localStorage.getItem('roll');
    var access_token = localStorage.getItem('access_token');
  
    if (!access_token) {
      alert("No se ha encontrado el token de acceso.");
      return;
    }
  
    var formData = new FormData();
    formData.append('roll', roll);
    formData.append('correo_electronico', correo_electronico);
  
    $.ajax({
      url: '/media-publiaciones-mostrar',
      type: 'POST',
      data: formData,
      processData: false,
      contentType: false,
      headers: {
        'Authorization': 'Bearer ' + access_token
      },
      success: function(response) {
        if (Array.isArray(response)) {
          var postDisplayContainer = $('#postDisplayContainer');
          postDisplayContainer.empty();
  
          response.forEach(function(post) {
            if (post.imagenes.length > 0 || post.videos.length > 0) {
              var mediaHtml = '';
              var baseUrl = window.location.origin;
  
              if (Array.isArray(post.imagenes) && post.imagenes.length > 0) {
                // Mostrar solo la primera imagen
                var firstImageUrl = baseUrl + '/' + post.imagenes[0].filepath;
                mediaHtml += `<img src="${firstImageUrl}" alt="Imagen de la publicación" onclick="abrirModal(${post.publicacion_id})">`;
  
                // Guardar las demás imágenes para mostrarlas en el modal
                var modalImagesHtml = '';
                post.imagenes.forEach(function(image, index) {
                  if (index > 0) { // Saltar la primera imagen
                    var imageUrl = baseUrl + '/' + image.filepath;
                    modalImagesHtml += `<img src="${imageUrl}" alt="Imagen de la publicación">`;
                  }
                });
  
                // Crear el HTML del modal
                var modalHtml = `
                  <div class="modal-image-publicacion" id="modal-${post.publicacion_id}" style="display:none;">
                    <div class="modal-content">
                      <span class="close" onclick="cerrarModal(${post.publicacion_id})">&times;</span>
                      <div class="modal-image-grid">
                        ${modalImagesHtml}
                      </div>
                    </div>
                  </div>
                `;
  
                postDisplayContainer.append(modalHtml);
              }
  
              var estadoClass;
              var estadoTextClass;
              switch (post.estado) {
                case 'activo':
                  estadoClass = 'estado-activo';
                  estadoTextClass = 'estado-activo';
                  break;
                case 'inactivo':
                  estadoClass = 'estado-inactivo';
                  estadoTextClass = 'estado-inactivo';
                  break;
                case 'pendiente':
                  estadoClass = 'estado-pendiente';
                  estadoTextClass = 'estado-pendiente';
                  break;
                default:
                  estadoClass = '';
                  estadoTextClass = '';
              }
  
              var cardHtml = `
                <div class="card-publicacion-admin ${estadoClass}" id="card-${post.publicacion_id}" onclick="cambiarEstado(event, ${post.publicacion_id})">
                  <div class="card-body">
                    <h5 class="card-title">${post.titulo}</h5>
                    <p class="card-text-estado ${estadoTextClass}">${post.estado}</p>
                    <p class="card-text">${post.correo_electronico}</p>
                    <p class="card-date">${formatDate(post.fecha_creacion)}</p>
                    <p class="card-text">${post.texto}</p>
                    <div class="card-media-grid-publicacion-admin">
                      ${mediaHtml}
                    </div>
                    <p class="card-text">${post.ambito}</p>
                    <p class="card-text">${post.descripcion}</p>
                    <div class="btn-modificar-eliminar">
                      <button class="btn-modificar" onclick="modificarPublicacion(${post.publicacion_id})">Modificar</button>
                      <button class="btn-eliminar" onclick="eliminarPublicacion(${post.publicacion_id})">Eliminar</button>
                    </div>
                  </div>
                </div>
              `;
  
              postDisplayContainer.append(cardHtml);
            } else {
              console.log('Publicación sin contenido:', post.publicacion_id);
            }
          });
        } else {
          console.error("La respuesta no es un array. Recibido:", response);
        }
      },
      error: function(xhr, status, error) {
        alert("Error al cargar las publicaciones. Inténtalo de nuevo.");
      }
    });
  }
  
  function modificarPublicacion(id) {
    alert('Modificar publicación con ID: ' + id);
  }
  
  function eliminarPublicacion(id) {
    alert('Eliminar publicación con ID: ' + id);
    eliminarPublicacion(id)
  }
  
  function abrirModal(id) {
    $('#modal-' + id).show();
  }
  
  function cerrarModal(id) {
    $('#modal-' + id).hide();
  }
  
  function formatDate(dateString) {
    const date = new Date(dateString);
    
    const day = String(date.getDate()).padStart(2, '0');
    const month = String(date.getMonth() + 1).padStart(2, '0');
    const year = date.getFullYear();
    const hours = String(date.getHours()).padStart(2, '0');
    const minutes = String(date.getMinutes()).padStart(2, '0');
    const seconds = String(date.getSeconds()).padStart(2, '0');
    
    return `${day}/${month}/${year} ${hours}:${minutes}:${seconds}`;
  }
  
  function cambiarEstado(event, id) {
    // Evitar el cambio de estado si el clic fue en una imagen
    if (event.target.tagName.toLowerCase() === 'img') {
      return;
    }
  
    var card = document.getElementById('card-' + id);
    var estadoP = card.querySelector('.card-text-estado');
  
    switch (estadoP.textContent.trim()) {
      case 'activo':
        estadoP.textContent = 'inactivo';
        card.classList.remove('estado-activo');
        card.classList.add('estado-inactivo');
        break;
      case 'inactivo':
        estadoP.textContent = 'pendiente';
        card.classList.remove('estado-inactivo');
        card.classList.add('estado-pendiente');
        break;
      case 'pendiente':
        estadoP.textContent = 'activo';
        card.classList.remove('estado-pendiente');
        card.classList.add('estado-activo');
        break;
      default:
        estadoP.textContent = '';
        card.classList.add('estado-activo');
    }
  }
  





  function eliminarPublicacion(id) {
    var confirmDelete = confirm('¿Estás seguro de que quieres eliminar esta publicación?');
    if (!confirmDelete) return;

    var correo_electronico = localStorage.getItem('correo_electronico');
    var access_token = localStorage.getItem('access_token');

    if (!access_token) {
        alert("No se ha encontrado el token de acceso.");
        return;
    }

    var formData = new FormData();
    formData.append('publicacion_id', id);
    formData.append('correo_electronico', correo_electronico);

    $.ajax({
        url: '/social_imagenes_eliminar_publicacion',
        type: 'POST',
        data: formData,
        processData: false,
        contentType: false,
        headers: {
            'Authorization': 'Bearer ' + access_token
        },
        success: function(response) {
            if (response.success) {
                alert('Publicación eliminada exitosamente.');
                $('#card-' + id).remove(); // Eliminar la tarjeta de la interfaz
            } else {
                alert('Error al eliminar la publicación: ' + response.error);
            }
        },
        error: function(xhr, status, error) {
            alert("Error al eliminar la publicación. Inténtalo de nuevo.");
        }
    });
}







  
  
  












function fetchPosts() {  
    const sortByElement = document.getElementById('sort-by');
    if (!sortByElement) {
        console.error('El elemento con id "sort-by" no se encuentra en el DOM.');
        return;
    }
    const sortBy = sortByElement.value;
    fetch(`/api/posts?sort_by=${sortBy}`)
        .then(response => response.json())
        .then(posts => {
            const postsContainer = document.getElementById('posts');
            postsContainer.innerHTML = '';
            posts.forEach(post => {
                const postElement = document.createElement('div');
                postElement.className = 'post';
                postElement.innerHTML = `
                    <div class="post-header">
                        <img src="https://via.placeholder.com/40" alt="User Image">
                        <strong>${post.user}</strong>
                        <span>${post.timestamp}</span>
                    </div>
                    <div class="post-body">
                        <p>${post.content}</p>
                        ${post.media_url ? `<video controls src="${post.media_url}"></video>` : ''}
                    </div>
                    <div class="post-footer">
                        <div class="views">Views: ${post.views}</div>
                        <div class="actions">
                            <button class="action">Comment</button>
                            <button class="action">Share</button>
                            <button class="action">Forward</button>
                        </div>
                    </div>
                `;
                postsContainer.appendChild(postElement);
            });
        })
        .catch(error => console.error('Error fetching posts:', error));
}

function createPost() {
    const user = document.getElementById('user').value;
    const content = document.getElementById('content').value;
    const media_url = document.getElementById('media_url').value;

    if (user && content) {
        fetch('/api/posts', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ user, content, media_url })
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById('user').value = '';
            document.getElementById('content').value = '';
            document.getElementById('media_url').value = '';
            fetchPosts();
        });
    } else {
        alert('Please enter your name and content');
    }
}




















  function eliminarImagen(imageName) {
    // Mostrar un cuadro de confirmación antes de proceder
    var confirmarEliminacion = confirm('¿Estás seguro de que deseas eliminar esta imagen?');

    if (confirmarEliminacion) {
      var accessToken = localStorage.getItem('access_token');
      var randomNumber = Math.round(Math.random() * 1000000);

      $.ajax({
        url: '/eliminarImagen',
        type: 'POST',
        data: {
          randomNumber: randomNumber,
          imageName: imageName,
          // Otros datos si es necesario
        },
        headers: {
          'Authorization': 'Bearer ' + accessToken
        },
        success: function(response) {
          console.log('Imagen eliminada con éxito:', response);
          $('#result').html('Imagen eliminada con éxito. Respuesta del servidor: ' + response);

          // Puedes realizar otras acciones después de eliminar la imagen, como actualizar la interfaz de usuario.
        },
        error: function(error) {
          $('#result').html('Error al eliminar la imagen. Detalles: ' + JSON.stringify(error));
        }
      });
    } else {
      // El usuario canceló la eliminación
      console.log('Eliminación cancelada por el usuario.');
    }
  }

  function cerrarTarjeta(card) {
    card.style.display = 'none';
  }






























  // Get the modal
var modal = document.getElementById("createPostModal_creaPublicacion");

// Get the button that opens the modal
var btn = document.getElementById("createPostBtn_creaPublicacion");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close_creaPublicacion")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
      modal.style.display = "none";
  }
}





document.addEventListener('DOMContentLoaded', function() {
  initializeMediaHandlers();
 
});

function initializeMediaHandlers() {
  var fileInput = document.getElementById('fileInput_creaPublicacion');
  var mediaContainer = document.getElementById('mediaContainer_creaPublicacion');
  var mediaModal = document.getElementById('imageModal_creaPublicacion');
  var modalImage = document.getElementById('modalImage_creaPublicacion');
  var closeMediaModal = document.querySelector('.close-image_creaPublicacion');
  var cropper;

  fileInput.addEventListener('change', function(event) {
    var files = event.target.files;

    for (var i = 0; i < files.length; i++) {
      var file = files[i];
      var reader = new FileReader();

      reader.onload = function(e) {
        var mediaElement;
        if (file.type.startsWith('image/')) {
          mediaElement = document.createElement('img');
          mediaElement.src = e.target.result;
          mediaElement.classList.add('thumbnail_creaPublicacion');
        } else if (file.type.startsWith('video/')) {
          mediaElement = document.createElement('video');
          mediaElement.src = e.target.result;
          mediaElement.controls = true;
          mediaElement.classList.add('thumbnail_creaPublicacion');
        }

        mediaElement.addEventListener('click', function() {
          openMediaModal(e.target.result, file.type);
        });
        mediaContainer.appendChild(mediaElement);
      };

      reader.readAsDataURL(file);
    }
  });

  function openMediaModal(src, type) {
    if (type.startsWith('image/')) {
      modalImage.src = src;
      mediaModal.style.display = 'block';

      // Inicializar Cropper.js
      cropper = new Cropper(modalImage, {
        aspectRatio: 16 / 9, // Ajusta la relación de aspecto según sea necesario
        viewMode: 1,
        autoCropArea: 1,
        cropBoxResizable: true,
        cropBoxMovable: true,
        movable: true,
      });
    } else if (type.startsWith('video/')) {
      modalImage.src = ''; // Clear image when opening video
      modalImage.innerHTML = `<video src="${src}" controls style="max-width: 100%; max-height: 100%;"></video>`;
    }
  }



  function saveCroppedImage() {
    if (cropper) {
      cropper.getCroppedCanvas().toBlob(function(blob) {
        var url = URL.createObjectURL(blob);
        var img = document.createElement('img');
        img.src = url;
        img.classList.add('thumbnail_creaPublicacion');

        // Añadir la imagen recortada al contenedor de medios en el modal de creación
        mediaContainer.appendChild(img);

        // Asegurar que la imagen recortada se puede abrir en el modal
        img.addEventListener('click', function() {
          openMediaModal(url, 'image/');
        });

        // Eliminar la imagen original
        var thumbnails = mediaContainer.getElementsByClassName('thumbnail_creaPublicacion');
        for (var i = 0; i < thumbnails.length; i++) {
          if (thumbnails[i].src === modalImage.src) {
            mediaContainer.removeChild(thumbnails[i]);
            break;
          }
        }

        // Cerrar el modal de edición y eliminar el cropper
        mediaModal.style.display = 'none';
        cropper.destroy();
      });
    }
  }

  closeMediaModal.addEventListener('click', function() {
    mediaModal.style.display = 'none';
    if (cropper) {
      cropper.destroy();
    }
  });

  
  document.getElementById('saveCroppedImage').addEventListener('click', saveCroppedImage);
}




function closePreview() {
  var previewImage = document.getElementById('preview-image-media_imagenes');
  var fileInput = document.getElementById('imagen-media_imagenes');
  var uploadButton = document.getElementById('open-popup-media_imagenes');

  previewImage.src = '#'; // Limpiar la imagen
  fileInput.value = ''; // Limpiar el campo de entrada de archivos
  var closeButton = document.querySelector('.close-button-media_imagenes');
  closeButton.style.display = 'none'; // Ocultar el botón de cerrar
  uploadButton.disabled = true; // Deshabilitar el botón
}



function dataURLToFile(dataURL, filename) {
  var arr = dataURL.split(',');
  var mime = arr[0].match(/:(.*?);/)[1];
  var bstr = atob(arr[1]);
  var n = bstr.length;
  var u8arr = new Uint8Array(n);
  while (n--) {
      u8arr[n] = bstr.charCodeAt(n);
  }
  return new File([u8arr], filename, { type: mime });
}

$(document).ready(function() {



  var storedFiles = []; // Array para almacenar todos los archivos seleccionados

  // Evento cuando se seleccionan archivos
  $("#fileInput_creaPublicacion").on("change", function(event) {
    var files = event.target.files;

    // Añadir cada archivo al array storedFiles
    for (var i = 0; i < files.length; i++) {
      storedFiles.push(files[i]);
    }
    
    // Opcional: puedes mostrar una vista previa de los archivos seleccionados aquí
  });





  $("#createPostForm_creaPublicacion").on("submit", function(event) {
    event.preventDefault(); // Prevent the default form submission

    var formData = new FormData(this);

    
     // Añadir imágenes y videos cargados al FormData
     var access_token = localStorage.getItem('access_token');
     var correo_electronico = localStorage.getItem('correo_electronico');
     var color_texto = 'black'
     var color_titulo = 'black'
 
   // Añadir los datos al FormData 
     formData.append('correo_electronico', correo_electronico);
     formData.append('color_texto', color_texto);
     formData.append('color_titulo', color_titulo);
     // Añadir todos los archivos almacenados en storedFiles al FormData
     for (var i = 0; i < storedFiles.length; i++) {
       var file = storedFiles[i];

       formData.append('mediaFile_' + i, file);
       formData.append('mediaFileSize_' + i, file.size);
       formData.append('mediaFileIndex_' + i, i);
       formData.append('mediaFileName_' + i, file.name);
       formData.append('mediaFileType_' + i, file.type);
       formData.append('mediaFileLastModified_' + i, file.lastModified);
       formData.append('mediaFileLastModifiedDate_' + i, file.lastModifiedDate ? file.lastModifiedDate.toISOString() : 'No disponible');
       formData.append('mediaFileWebkitRelativePath_' + i, file.webkitRelativePath || 'No disponible');
 
       // Imprimir propiedades del archivo añadido
      // console.log('  - Nombre del archivo:', file.name);
      // console.log('  - Última modificación:', file.lastModified);
      // console.log('  - Fecha de última modificación:', file.lastModifiedDate);
      // console.log('  - Tamaño del archivo:', file.size);
      // console.log('  - Tipo de archivo:', file.type);
      // console.log('  - Ruta webkit relativa:', file.webkitRelativePath);
     }
 


    

    // Aquí puedes ver qué hay en el FormData antes de enviarlo
     
      $.ajax({
        // Configuración de la solicitud AJAX
        url: '/social_imagenes_crear_publicacion',
        type: 'POST',
        data: formData,
        processData: false,
        contentType: false,
        headers: {
          'Authorization': 'Bearer ' + access_token
        },
        success: function(response) {
          if (Array.isArray(response)) {
            var postDisplayContainer = $('#postDisplayContainer');
            postDisplayContainer.empty();
    
            response.forEach(function(post) {
              if (post.imagenes.length > 0 || post.videos.length > 0) {
                var mediaHtml = '';
                var baseUrl = window.location.origin;
    
                if (Array.isArray(post.imagenes) && post.imagenes.length > 0) {
                  // Mostrar solo la primera imagen
                  var firstImageUrl = baseUrl + '/' + post.imagenes[0].filepath;
                  mediaHtml += `<img src="${firstImageUrl}" alt="Imagen de la publicación" onclick="abrirModal(${post.publicacion_id})">`;
    
                  // Guardar las demás imágenes para mostrarlas en el modal
                  var modalImagesHtml = '';
                  post.imagenes.forEach(function(image, index) {
                    if (index > 0) { // Saltar la primera imagen
                      var imageUrl = baseUrl + '/' + image.filepath;
                      modalImagesHtml += `<img src="${imageUrl}" alt="Imagen de la publicación">`;
                    }
                  });
    
                  // Crear el HTML del modal
                  var modalHtml = `
                    <div class="modal-image-publicacion" id="modal-${post.publicacion_id}" style="display:none;">
                      <div class="modal-content">
                        <span class="close" onclick="cerrarModal(${post.publicacion_id})">&times;</span>
                        <div class="modal-image-grid">
                          ${modalImagesHtml}
                        </div>
                      </div>
                    </div>
                  `;
    
                  postDisplayContainer.append(modalHtml);
                }
    
                var estadoClass;
                var estadoTextClass;
                switch (post.estado) {
                  case 'activo':
                    estadoClass = 'estado-activo';
                    estadoTextClass = 'estado-activo';
                    break;
                  case 'inactivo':
                    estadoClass = 'estado-inactivo';
                    estadoTextClass = 'estado-inactivo';
                    break;
                  case 'pendiente':
                    estadoClass = 'estado-pendiente';
                    estadoTextClass = 'estado-pendiente';
                    break;
                  default:
                    estadoClass = '';
                    estadoTextClass = '';
                }
    
                var cardHtml = `
                  <div class="card-publicacion-admin ${estadoClass}" id="card-${post.publicacion_id}" onclick="cambiarEstado(event, ${post.publicacion_id})">
                    <div class="card-body">
                      <h5 class="card-title">${post.titulo}</h5>
                      <p class="card-text-estado ${estadoTextClass}">${post.estado}</p>
                      <p class="card-text">${post.correo_electronico}</p>
                      <p class="card-date">${formatDate(post.fecha_creacion)}</p>
                      <p class="card-text">${post.texto}</p>
                      <div class="card-media-grid-publicacion-admin">
                        ${mediaHtml}
                      </div>
                      <p class="card-text">${post.ambito}</p>
                      <p class="card-text">${post.descripcion}</p>
                      <div class="btn-modificar-eliminar">
                        <button class="btn-modificar" onclick="modificarPublicacion(${post.publicacion_id})">Modificar</button>
                        <button class="btn-eliminar" onclick="eliminarPublicacion(${post.publicacion_id})">Eliminar</button>
                      </div>
                    </div>
                  </div>
                `;
    
                postDisplayContainer.append(cardHtml);
              } else {
                console.log('Publicación sin contenido:', post.publicacion_id);
              }
            });
          } else {
            console.error("La respuesta no es un array. Recibido:", response);
          }
        },
        error: function(xhr, status, error) {
          alert("Error al cargar las publicaciones. Inténtalo de nuevo.");
        }
      });
  });

  function dataURLToFile(dataURL, filename) {
    var arr = dataURL.split(','), mime = arr[0].match(/:(.*?);/)[1],
        bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
    while (n--) {
      u8arr[n] = bstr.charCodeAt(n);
    }
    return new File([u8arr], filename, {type: mime});
  }
});



</script>

<!-- ... Más código HTML ... -->
















{% endblock %}
