{% extends 'layouts/layout.html' %}

{% block content %}
  <!-- Modal -->
 

  <div id="miModal" class="modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Publicar</h5>
                <button type="button" onclick="window.location.href='/home'" class="btn-close" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Contenido del modal -->
                <div class="description-block" id="description-block" style="max-width: 100%;">
                    <textarea id="file-description" style="max-width: 100%;" rows="3" placeholder="Ingrese su descripción aquí"></textarea>
                    <div>
                        <button id="color-picker-btn" class="btn btn-primary">Seleccionar Color</button>
                        <div id="selected-color"></div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="preview-image-container">
                        <img id="preview-image" src="#" alt="Vista previa de la imagen">
                        <button class="close-button" onclick="closePreview()" style="display: none;">X</button>
  

                        <form id="myForm" enctype="multipart/form-data">
                            <label for="imagen" class="custom-file-upload">
                                <input type="file" name="imagen" id="imagen" accept="image/*" onchange="previewSelectedImage()">
                                <i class="fas fa-folder"></i> Seleccionar Archivo
                            </label>
                        </form>
                    </div>
                  
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="open-popup" onclick="uploadImage()">Subir Archivo</button>
                </div>
            </div>
        </div>
    </div>
</div>






<!-- Modal para previsualizar la imagen -->
<div class="modal" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="previewModalLabel">Vista previa de la imagen</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <img id="preview-image" src="#" alt="Vista previa de la imagen">
          </div>
      </div>
  </div>
</div>






  <script>
    function closePreview() {
      var previewImage = document.getElementById('preview-image');
      var fileInput = document.getElementById('imagen');
  
      previewImage.src = '#'; // Limpiar la imagen
  
      // Limpiar el campo de entrada de archivos para que se pueda seleccionar una nueva imagen
      fileInput.value = '';
    // Mostrar el botón close-button solo si hay una imagen cargada
    var closeButton = document.querySelector('.close-button');
    closeButton.style.display = 'none';
    }
  


    function previewSelectedImage() {
      var fileInput = document.getElementById('imagen');
      var previewImage = document.getElementById('preview-image');
  
      var file = fileInput.files[0];
  
      if (file) {
          var reader = new FileReader();
  
          reader.onload = function (e) {
              previewImage.src = e.target.result;
          };
  
          reader.readAsDataURL(file);
      } else {
          // Limpiar la vista previa si no se selecciona ningún archivo
          previewImage.src = '#';
      }
      // Mostrar el botón close-button solo si hay una imagen cargada
    var closeButton = document.querySelector('.close-button');
    closeButton.style.display = 'block';
  }
  
  
  function openPreviewModal() {
      var fileInput = document.getElementById('imagen');
      var file = fileInput.files[0];
  
      if (file) {
          previewImage(); // Muestra la vista previa si hay un archivo seleccionado
      } else {
          alert('Selecciona una imagen antes de previsualizar.');
      }
  }









    function uploadImage() {
      var fileInput = document.getElementById('imagen');
      var fileName = '';
      var accessToken = localStorage.getItem('access_token');

      // Verificar si se seleccionó un archivo
      if (fileInput.files.length > 0) {
        // Obtener el nombre del archivo del último segmento de la ruta
        fileName = fileInput.files[0].name;
      } else {
        alert('Por favor, seleccione un archivo.');
        return;
      }

      // Aquí puedes usar "fileName" según tus necesidades
      console.log('Nombre del archivo:', fileName);


      var formData = new FormData();
      formData.append('imagen', fileInput.files[0]);
      formData.append('nombreArchivo', fileName); // Agregar el nombre del archivo

    
      $.ajax({
        url: '/cargarImagen', // Reemplaza esto con la ruta correcta en tu servidor
        type: 'POST',
        data: formData,
        processData: false, // Evitar que jQuery procese los datos
        contentType: false, // Evitar que jQuery establezca el tipo de contenido
        headers: {
          'Authorization': 'Bearer ' + accessToken
        },
        success: function(response) {
          // Manejar la respuesta del servidor aquí
          console.log('Imagen cargada con éxito:', response);
          $('#result').html('Imagen cargada con éxito. Respuesta del servidor: ' + response);
        },
        error: function(error) {
          // Manejar errores aquí
          console.error('Error al cargar la imagen:', error);
          $('#result').html('Error al cargar la imagen. Detalles: ' + JSON.stringify(error));
        }
      });
    }








    const miModal = document.getElementById("miModal");
    
    let myDropzone;
    let dropzoneInitialized = false;
    var nombreUsuario = localStorage.getItem("usuario");
    var randomNumber = Math.round(Math.random() * 1000000);


    window.addEventListener("load", function () {
      
      miModal.style.display = "block";
      document.body.style.overflow = "hidden"; // Deshabilitar el desplazamiento del fondo

     
      
      
      
    });

    const closeButton = document.querySelector(".btn-close");

    closeButton.addEventListener("click", function (event) {
      console.log("Se hizo clic en miModal o en el botón de cerrar");
    
      document.body.style.overflow = "auto"; // Habilitar el desplazamiento del fondo
    });

    // Agregar evento de eliminación de imagen al hacer clic en la cruz
    function addDeleteEvent(imageElement) {
      const closeButton = document.createElement("span");
      closeButton.className = "close-button";
      closeButton.innerHTML = "&#x2715;"; // Icono de cruz
      closeButton.addEventListener("click", function () {
        const imageWrapper = imageElement.parentNode;
        imageWrapper.parentNode.removeChild(imageWrapper);
      });

      imageElement.appendChild(closeButton);
    }

    const pickr = Pickr.create({
      el: '#color-picker-btn',
      theme: 'classic',
      default: '#0000FF8C',
      swatches: [
        '#FFFFFF73', '#0000007A', '#FF000094', '#00FF006B', '#0000FF5C', '#FFFF0069', '#FE02FE59', '#0CDBDBB3'
      ],
      components: {
        preview: false,
        opacity: false,
        hue: true,
        interaction: {
          input: false,
          clear: true,
          save: true,
          interaction: false
        }
      },
      i18n: {
        'btn:save': 'Guardar',
        'btn:clear': 'Salir'
      },
      preview: {
        label: 'Color seleccionado:',
      }
    });

    // Maneja el evento "save" de pickr para obtener el color seleccionado
    pickr.on('save', (color) => {
      const selectedColor = color.toHEXA().toString();
      document.getElementById('selected-color').style.backgroundColor = selectedColor;
      document.getElementById('file-description').style.backgroundColor = selectedColor;
    });
  </script>
{% endblock %}
