{% extends 'layouts/layout.html'%}
{% block content%}
<!-- Modal -->
<style>
  .modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    padding: 20px;
    max-width: 80%;
    width: 500px;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .modal-title {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    color: black;
  }

  .modal-body {
    margin-bottom: 20px;
  }

  .modal-footer {
    display: flex;
    justify-content: flex-end;
  }

  #my-dropzone {
    max-height: 300px;
    overflow-y: auto;
  }
</style>

<div id="miModal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Cargar Imagen o Video</h5>
        <button type="button" onclick="window.location.href='/home'" class="btn-close" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Contenido del modal -->
        <div id="popup">
          <div class="container">
            <div class="description-block">
              <textarea id="file-description" rows="3"></textarea>
            </div>
          </div>
          <form id="my-dropzone" action="/cargarImagen" class="dropzone">
           
            <div class="dz-message">
              Arrastra y suelta aquí tus archivos (imagen o video)
            </div>
           
             
            
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" id="open-popup">Subir Archivo</button>
      </div>
    </div>
  </div>
</div>


<script>
  const miModal = document.getElementById("miModal");

  window.addEventListener("load", function() {
    miModal.style.display = "block";
    document.body.style.overflow = "hidden"; // Deshabilitar el desplazamiento del fondo
  });

  miModal.addEventListener("click", function(event) {
    if (event.target === miModal || event.target.className === "btn-close") {
      miModal.style.display = "none";
      document.body.style.overflow = "auto"; // Habilitar el desplazamiento del fondo
    }
  });
</script>

{% endblock %}
