# Ignore venv folder
/venv/

# Ignore pruebasheetpython.json
src/strategies/pruebasheetpython.json

src/upload_to_gcs.json

src/credentialIa.json

# Ignore specific test files
/src/Test/test_euler.py

# Ignore __pycache__ folders and .pyc files
__pycache__/
*.pyc

# Ignore workspace file
bot421.code-workspace
