{% extends "layouts/layout_detalle_productos.html" %}
{% block title %}Sobre Nosotros{% endblock %}
{% block content %}
<div class="container my-5">
    <div class="container-fluid" id="cardIndex">
        <div class="container py-4 row justify-content-center m-auto">
            <div class="row py-3 justify-content-center">
                <div class="col-md-6 p-4 card card-body cardIndexPlanes"> 
                    <h2 class="card-title">Sobre Nosotros</h2>
                    <h4 class="planes-titulo" style="color: gold; font-size: 24px;">Comparte tu estrategia</h4>
                    <h4 class="planes-titulo" style="color: white; font-size: 24px;">Automaticamente <span class="planes-sub-titulo" style="color: white; font-size: 18px;">benericios continuas</span></h4>
                    <hr class="separator">
                    <p style="margin-bottom: 5px;">Beneficios diarios y por mes</p>
                    <p style="margin-bottom: 5px;">Retorno de capital: <span style="color: white; background-color: green; border-radius: 5px; font-size: 14px; padding-left: 10px; padding-right: 10px;">Sí</span></p>
                    <p style="margin-bottom: 5px;">Costo: $ 0 + <span style="color: white; background-color: green; border-radius: 5px; font-size: 14px; padding-left: 10px; padding-right: 10px;"> % Retorno de Capital </span></p>
                    <p style="margin-bottom: 5px; color: #7fff7f;">El sistema te paga por compartir te estrategia exitosa.</p>
                    <p>Especializados en Quant Trading, optimizamos inversiones con algoritmos avanzados. Ofrecemos bots automáticos, copy trading, y cursos en línea, maximizando retornos y minimizando riesgos.</p>
                    <p style="color: #7fff7f;">En nuestra plataforma, ofrecemos servicios innovadores para optimizar tus inversiones y estrategias de trading. Nos especializamos en Quant Trading, utilizando algoritmos avanzados para maximizar retornos y minimizar riesgos. Desde bots automáticos hasta sistemas de operaciones semiautomáticas, nuestros productos están diseñados para ofrecer beneficios consistentes. Además, proporcionamos cursos en línea y oportunidades de copy trading para mejorar tus habilidades. Nuestro compromiso es garantizar retornos significativos y un soporte constante para nuestros usuarios.</p>
                    <p  style="color: #7fff7f;">Esto permite a los Usuarios cargar sus propias estrategias ganadoras</p>
                    <p >Para cargar, operar y compartir tu propia estrategia comunicate con nosotros</p>
                    <a href="/" class="btn btn-success">Volver</a>
                </div>
            </div>
        </div>
    </div>
</div>



{% include 'layouts/layout_footer.html' %}
{% endblock %}
