{% extends "layouts/layout_detalle_productos.html" %}
{% block title %}Sobre Nosotros{% endblock %}
{% block content %}
<div class="container my-5">
    <div class="container-fluid" id="cardIndex">
        <div class="row justify-content-center m-auto py-4">
            <div class="col-md-6 p-4 card card-body cardIndexPlanes" style="background-color: white; border: 1px solid #000;">
                <h2 class="card-title text-center" style="color: #343a40;">Sobre Nosotros</h2>
                <h4 class="text-center" style="color: gold; font-size: 24px;">Quant Trading</h4>
                <h4 class="text-center" style="color: #343a40; font-size: 24px;">Automatizamos <span style="color: #343a40; font-size: 18px;">estrategias</span></h4>
                <hr class="separator">

                <p style="color: #6c757d;">Somos un equipo de ingenieros apasionados por la tecnología y las finanzas. Desde 2014, nos hemos dedicado a investigar y desarrollar soluciones innovadoras para optimizar las inversiones en activos financieros. Nuestro objetivo siempre ha sido claro: combinar la tecnología web, matemáticas avanzadas, estadísticas y teoría financiera para crear un sistema robusto y eficiente que ayude a los usuarios a maximizar sus inversiones.</p>

                <p style="color: #495057;">Durante estos años, hemos trabajado incansablemente para perfeccionar nuestro sistema. El resultado de este esfuerzo es una plataforma que puede incrementar las inversiones en más de un 200% anual, utilizando estrategias transparentes y comprensibles para el usuario.</p>

                <p style="color: #6c757d;">Nos especializamos en Quant Trading, utilizando algoritmos avanzados para maximizar retornos y minimizar riesgos. Nuestros servicios incluyen bots automáticos, sistemas de operaciones semiautomáticas, copy trading y cursos en línea. Cada uno de estos productos está diseñado para proporcionar beneficios consistentes y mejorar las habilidades de nuestros usuarios.</p>

                <p style="color: #495057;">La transparencia y la confianza son fundamentales para nosotros. Por ello, nos aseguramos de que cada estrategia y técnica utilizada sea clara y accesible. Queremos que nuestros usuarios comprendan y confíen en los métodos que empleamos.</p>

                <p style="color: #6c757d;">Nuestra misión no termina aquí. Estamos comprometidos a seguir avanzando, investigando y desarrollando nuevas técnicas y estrategias para ofrecer aún más valor a nuestros usuarios. Tu apoyo es crucial para que podamos continuar en este camino de innovación y excelencia.</p>

                <p style="color: #495057;">Te invitamos a unirte a nuestra comunidad y ser parte de una revolución en el mundo de las inversiones financieras. Juntos, seguiremos alcanzando nuevas metas y superando los límites de lo posible.</p>

                <p style="color: #6c757d;">Gracias por tu confianza y apoyo. ¡Sigamos construyendo el futuro de las inversiones juntos!</p>

                <div class="text-center">
                    <a href="/" class="btn btn-success">Volver</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'layouts/layout_footer.html' %}
{% endblock %}
