<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Página de Entrada</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!--CSS PERSONALIZADO -->
    <link rel =  "stylesheet" href = "{{ url_for('static',filename='css/splashPages/splash.css')}}">
    
    <style>
        body {
            background-color: black; /* Establece el color de fondo negro para todo el cuerpo del documento */
            color: white; /* Cambia el color del texto a blanco para mejor contraste */
            font-family: Arial, sans-serif; /* Define una fuente para el texto */
        }
    </style>
</head>
<body>

     <div class="splash_carga_publicaciones" id="splashNotificaciones" style="display: none;">
        <div class="splash-contenido">
            <div class="spinner"></div>
          </div>
      </div>
      <input type="hidden" name="dominio" id="dominio" value="{{ dominio }}">
      <input type="hidden" name="pagina" id="pagina" value="{{ pagina }}">

    
      <!-- Contenido de tu página aquí 
      <h1>Bienvenido a la Página de Entrada</h1>
      <p>Esta es una página con fondo negro.</p>
      -->
    

    <script src="{{ url_for('static', filename='js/entradas/entrada.js') }}"></script>

    
</body>
</html>
