<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Página de Entrada</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <script>
        $(document).ready(function() {
            // Función para enviar los datos de localStorage al servidor
            function sendLocalStorage() {
                var refresh_token = localStorage.getItem('refresh_token');
                var correo_electronico = localStorage.getItem('correo_electronico');
                var cuenta = localStorage.getItem("cuenta");
                var usuario = localStorage.getItem("usuario");
                var simuladoOproduccion = localStorage.getItem("selector");

                $.ajax({
                    url: '/send_local_storage',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        'rutaDeLogeo': 'Entrada',
                        'refresh_token': refresh_token,
                        'correo_electronico': correo_electronico,
                        'cuenta': cuenta,
                        'usuario': usuario,
                        'simuladoOproduccion': simuladoOproduccion
                    }),
                    success: function(data) {
                        if (data.success) {
                            window.location.href = data.ruta;  // Redirige a la página correspondiente después de enviar los datos
                        } else {
                            console.error("Error enviando los datos de localStorage");
                        }
                    },
                    error: function(error) {
                        console.error("Error:", error);
                    }
                });
            }

            // Llama a la función para enviar los datos de localStorage
            sendLocalStorage();
        });
    </script>
</body>
</html>
