{% extends "layouts/layout.html" %}
{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Estrategia operando Bot420</h1>
  <p class="lead">EN CUALQUIER MOMENTO PUEDE DETENER EL WEBSOCKET</p>
  <hr class="my-4">
  <p>Para detener el WEBSOCKET PRESIONE EL BOTON.</p>
  <button class="btn btn-primary btn-lg" id="detenerBtn">DETENER</button>
  <hr class="my-4">
  <p>Para detener todas las operaciones PRESIONE EL BOTON DE PANICO.</p>
  <form  name="logeo" action="/botonPanico/" method="post" class="btn-guardar_inst">   
    <input type="hidden" name="usuario_portfolio" id="usuario_portfolio">
    <input type="hidden" name="account" id="account"> 
    <input type="hidden" name="access_token_portfolio" id="access_token_portfolio"> 
    <input type="hidden" name="correo_electronico_portfolio" id="correo_electronico_portfolio"> 
    <div class="col">           
        <button type="submit" class="btn btn-primary my-2">TERMINAR TODO</button>
      </div>
  </form>

  <hr class="my-4">
  <p>Para ir a estrategias puedes presionar el boton.</p>  
  <a class="btn btn-primary btn-lg" href="/inicioEstrategias" role="button">Estrategias</a>


    <script>
      var cuenta = localStorage.getItem("cuenta");
     
      document.getElementById("account").value = cuenta;
      $(document).ready(function() {
        $('#detenerBtn').click(function() {
          var usuario_id = localStorage.getItem('usuario_id');
          
          $.ajax({
            type: 'POST',
            url: '/detenerWS/',
            data: { usuario_id: usuario_id },
            success: function(response) {
              // Hacer algo con la respuesta si es necesario
            },
            error: function(error) {
              console.log('Error al detener WS:', error);
            }
          });
        });
      });
    </script>
</div>

{% endblock%}