{% with messages = get_flashed_messages()%}
{% if messages %}
{% for message in messages%}  
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
{% endfor %}
{% endif %}
{% endwith %}
{% extends 'layouts/layoutConexBroker.html'%}
{% block content%}
            <div class = 'container p-4'>
                <div class = "col-md-4 offset-md-4"> 
                 <!--   <form  action="/cargaDatosEstrategyUno/" method="post" class="btn-estrategiaUno">
                        <div class="form-group"><input type="text" name="Ticker" placeholder="DLR/MAR22">  </div>            
                        <div class="form-group"><input type="text" name="cantidad" placeholder="12"> </div> 
                        <div class="form-group"><input type="text" name="spread" placeholder="0.05"> </div> 
                        <div class="form-group"><Button type="submit" class="btn btn-primary btn-sm btn-block form-control" >Submit</Button> </div> 
                                                   
                     </form>  
                  -->         
                </div> 
                <div class="row">
                    <p>INICIO MANUAL DE LA ESTRATEGIA.</p>
                    <div class="d-flex align-items-center mb-3">
                        
                        <form action="/estrategia_sheet_WS/" method="POST">
                            <input type="hidden" name="access_token" id="access_token">                       
                            <input type="hidden" name="usuario" id="usuario">  
                            <input type="hidden" name="correo_electronico" id="correo_electronico">
                            <input type="hidden" name="cuenta" id="cuenta">
                            <button type="submit" class="btn btn-primary btn-block mr-2" onclick="setLocalStorageValue('MANUAL')">Estrategia Sheet Ws</button>    
                        </form>
                        
                        <a class="btn btn-danger btn-lg d-inline-block ml-2"  role="button" onclick="setLocalStorageValue('AUTOMATICO')">RUN</a>
                    </div>
                        <div class="col-md-4">
                            <form name="logeo" action="/botonPanico/" method="post" class="btn-guardar_inst">
                            <input type="hidden" name="account" id="account">
                            <button type="submit" class="btn btn-danger my-2">TERMINAR TODO</button>
                            </form>
                        </div>
                    
                </div>
                <div>
                    <p>Para iniciar estrategia presionar el boton.</p>
                    <a class="btn btn-primary btn-lg" href="/basicas/" role="button">Estrategia </a>
                </div>
                
                <div>
                    <p>Para iniciar estrategia presionar el boton.</p>
                    <a class="btn btn-primary btn-lg" href="/estrategyPcDaniel/" role="button">Estrategia PcDaniel </a>
                </div>
                <div>
                    <p>Para iniciar Estrategia001 presionar el boton.</p>
                    <a class="btn btn-primary btn-lg" href="/Estrategia_001/" role="button">Estrategia_001 </a>
                </div>
                <hr style="border-color: white;">
                <div class = "row">
                    <div class = "col-md-4">
                        <!-- Formulario oculto para enviar los datos mediante POST -->
                        <form id="ruta_de_test_ws" action="/ruta_de_test_ws" method="POST">
                            <input type="hidden" name="access_token1" id="access_token1">
                            <input type="hidden" name="usuario1" id="usuario1">
                            <input type="hidden" name="correo_electronico1" id="correo_electronico1">
                            <input type="hidden" name="cuenta1" id="cuenta1">
                            <!-- Agregar el botón de Bootstrap que dice TEST -->
                            <button type="button" class="btn btn-primary mb-2" onclick="submitForm()">TEST</button>
                        </form>
                    </div>
                    <div class = "col-md-4">   

                        <form action="/detenerWS/" method="post">
                            <input type="hidden" name="usuario_id" id="usuario_id">
                            <button type="submit" class="btn btn-primary btn-lg">DETENER Web Socket</button>
                        </form>
                
                    </div>    
                </div> 
            

        <script>
            var refresh_token = localStorage.getItem('access_token');
            correo_electronico = localStorage.getItem('correo_electronico');
            var cuenta = localStorage.getItem("cuenta");
            var usuario = localStorage.getItem("usuario");
            document.getElementById("cuenta").value = cuenta
            document.getElementById("usuario").value = usuario
            document.getElementById("correo_electronico").value = correo_electronico
            document.getElementById("access_token").value = access_token
            document.getElementById("cuenta1").value = cuenta
            document.getElementById("usuario1").value = usuario
            document.getElementById("correo_electronico1").value = correo_electronico

            document.getElementById("access_token1").value = access_token
            document.getElementById("usuario_id").value = usuario;
            function setLocalStorageValue(value) {
                localStorage.setItem('inicio_automatico', value);
            }

            document.getElementById("account").value = cuenta;

            function submitForm() {
                document.getElementById("ruta_de_test_ws").submit();
            }
        </script>
    </div>
{%endblock%}
       