{% with messages = get_flashed_messages()%}
{% if messages %}
{% for message in messages%}  
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
{% endfor %}
{% endif %}
{% endwith %}
{% extends 'layout.html'%}
{% block content%}
            <div class = 'container p-4'>
                <div class = "col-md-4 offset-md-4"> 
                 <!--   <form  action="/cargaDatosEstrategyUno/" method="post" class="btn-estrategiaUno">
                        <div class="form-group"><input type="text" name="Ticker" placeholder="DLR/MAR22">  </div>            
                        <div class="form-group"><input type="text" name="cantidad" placeholder="12"> </div> 
                        <div class="form-group"><input type="text" name="spread" placeholder="0.05"> </div> 
                        <div class="form-group"><Button type="submit" class="btn btn-primary btn-sm btn-block form-control" >Submit</Button> </div> 
                                                   
                     </form>  
                  -->         
                </div> 
                <div>
                    <p>Para iniciar estrategia que gana por spread presionar el boton.</p>
                    <a class="btn btn-primary btn-lg" href="/estrategyUno/" role="button">Estrategia </a>
                </div>
                <div>
                    <p>Para iniciar estrategia presionar el boton.</p>
                    <a class="btn btn-primary btn-lg" href="/estrategyDos/" role="button">Estrategia </a>
                </div>
                <div>
                    <p>Para iniciar estrategia presionar el boton.</p>
                    <a class="btn btn-primary btn-lg" href="/leerSheet/" role="button">Sheet </a>
                    <a class="btn btn-primary btn-lg" href="/estrategyPcDaniel/" role="button">Estrategia PcDaniel </a>
                </div>
                <div>
                    <p>Para iniciar Estrategia001 presionar el boton.</p>
                    <a class="btn btn-primary btn-lg" href="/Estrategia_001/" role="button">Estrategia_001 </a>
                </div>
            </div>
{%endblock%}
       