{% extends "layouts/layout.html" %}
{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Bienvenido!, estas logeado en Bot420</h1>
  <p class="lead">Aqui puedes ver todos los videos e imagenes que se suben los usuarios relacionados</p>
  <hr class="my-4">
  <div class="row">
    <div class="ubicacion-imagenes">
      <!-- Aquí se incrustará la galería de imágenes -->
    </div>
  </div>
  
</div>
<script>
// tuscript.js
$(document).ready(function () {
  // Ruta al archivo con la galería de imágenes
  var galeriaURL = '/MostrarImages/';

  // Realizar la solicitud Ajax
  $.ajax({
    url: galeriaURL,
    dataType: 'html',
    success: function (data) {
      // Insertar el contenido de la galería en la ubicación deseada
      $('.ubicacion-imagenes').html(data);
    },
    error: function () {
      console.error('Error al cargar la galería de imágenes.');
    }
  });
});

</script>
{% endblock%}
