{% extends "layout.html" %}
{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Bienvenido!, estas logeado en Bot420</h1>
  <p class="lead">Para operar puedes seleccionar la pestaña Get Instrumentos</p>
  <hr class="my-4">
  <p>Para ir a operaciones puedes presionar el boton.</p>
  <a class="btn btn-primary btn-lg" href="/operar" role="button">Operaciones</a>
</div>
<script>
// Acceder a los tokens desde el diccionario de contexto de Flask
  var cuenta = "{{ cuenta[0] }}";
  var usuario = "{{ cuenta[1] }}";
 

  // Almacenar los tokens en el localStorage
  localStorage.setItem("cuenta", cuenta);
  localStorage.setItem("usuario", usuario);
  localStorage.setItem("selector",selector);
 
 

  // Obtener los tokens de localStorage
  function obtenerTokens() {
    var access_token = localStorage.getItem('access_token');
    var refresh_token = localStorage.getItem('refresh_token');
    return {access_token, refresh_token};
  }

  // Enviar los tokens al endpoint de registro de usuario
  $("#registro-usuario-form").submit(function(event) {
    event.preventDefault();
    var correo_electronico = $("#correo_electronico").val();
    var password = $("#password").val();
    var confirm_password = $("#confirm_password").val();
    var access_token = obtenerTokens().access_token;
    var refresh_token = obtenerTokens().refresh_token;
    $.ajax({
      url: "{{ url_for('autenticacion.loginUsuario') }}",
      method: "POST",
      data: {
        correo_electronico: correo_electronico,
        password: password,
        confirm_password: confirm_password,
        access_token: access_token,
        refresh_token: refresh_token
      },
      success: function(response) {
        almacenarTokens(response.access_token, response.refresh_token);
        window.location.href = "{{ url_for('autenticacion.loginBroker') }}";
      },
      error: function(jqXHR, textStatus, errorThrown) {
        console.log(jqXHR.responseText);
      }
    });
  });

</script>
{% endblock%}
