{% extends 'layouts/layout_without_navbar.html' %}
{% block content %}
  <div class="container p-4">
    <div class="row">
      <div class="col-md-12">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <div class="container p-4">
          <h1 name="mensaje" id="mensaje" class="text-white">API BOT DYP</h1>
        </div>
        <div class="card card-body"></div>
      </div>

      <div class="col-md-7"></div>
    </div>

    <div class="container p-4">
      <h1 class="text-white">Login</h1>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flashes">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <div class="alert alert-danger">
                  {% for message in messages %}
                    <p>{{ message }}</p>
                  {% endfor %}
                </div>
              {% endif %}
            {% endwith %}

            <form method="POST" action="{{ url_for('autenticacion.loginUsuario') }}">
              <div class="form-group">
                <label for="correo_electronico" class="text-white">Correo electrónico:</label>
                <input type="email" class="form-control" id="correo_electronico" name="correo_electronico" required>
              </div>
          
              <div class="form-group">
                <label for="password" class="text-white">Contraseña:</label>
                <input type="password" class="form-control" id="password" name="password" required>
              </div>
          
              <div class="row">
                <div class="col">
                  <button type="submit" class="btn btn-primary my-2">Iniciar sesión</button>
                </div>
                <div class="col">
                  <a href="/registrar_usuario">
                    <button type="button" class="btn btn-secondary my-2">Registrarse</button>
                  </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <h1 class="text-white">Iniciar sesión con Google</h1>
      <form action="/login/google" method="get">
        <button type="submit" class="btn btn-primary btn-block my-2">Iniciar sesión con Google</button>
      </form>

    </div>
    <div class="card card-body"></div>
  </div>

  <!-- Aquí se agrega el script -->  
  <script>
    $(document).ready(function() {
      // Obtener el token del localStorage
      var token = localStorage.getItem('access_token');
    
      if (token) { // Verificar si el token existe en el localStorage
        // Enviar una solicitud a la ruta Flask y pasar el token como parte del cuerpo de la solicitud en formato JSON
        $.ajax({
          type: "POST",
          url: "{{ url_for('autenticacion.loginIndex') }}",
          contentType: "application/json",
          data: JSON.stringify({'token': token}),
          success: function(response) {
            // Manejar la respuesta de la ruta Flask
            if (response.redirect) {
              // Si la respuesta contiene una propiedad 'redirect', redirigir a la página de destino
              window.location.href = response.redirect;
            }
          }
        });
      }
    });
  </script>

{% endblock %}
