
{% extends 'layout.html'%}
{% block content%}
    <div class = 'container p-4'>
      <div class = 'row'>
        <div class = "col-md-12">
          {% with messages = get_flashed_messages()%}
          {% if messages %}
          {% for message in messages%}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
          {% endif %}
          {% endwith %}
          <div class = "card card-body"> </div>
          <div class = 'container p-4'>
            <h1 name = "mensaje" id = "mensaje " >PRIMARY API BOT DYP</h1>
          </div>
          <div class = "card card-body"> </div>
        </div>
        <div class = "col-md-7">

        </div>
      </div>
        
      </div>
      <div class = 'container p-4'></div>
   
    </div>
</body> 

</html>
{%endblock%}