<!DOCTYPE html>
<htm lang="en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <meta http-equiv = "X-UA-Compatible" content = "id=edge">
    <title>Bot WebSocket Primary</title>
    <!--BOOSTRAP 5.1.3-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
    
    <!--CSS PERSONALIZADO -->
    <link rel =  "stylesheet" href = {{ url_for('static',filename='css/main.css')}}>
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon.png')}}">
    
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js" integrity="sha512-xbQU0+iHqhVt7VIXi6vBJKPh3IQBF5B84sSHdjKiSccyX/1ZI7Vnkt2/8y8uruj63/DVmCxfUNohPNruthTEQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/js/actualizaTabla.js"></script>             
</head>

<body>
    <!-- As a heading -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/loginApi">Bot 420</a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNav" >
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                   <!--  
                    <li class="nav-item ">
                        <a class="nav-link active" aria-current="page" href="/index">Home</a>
                    </li>
                  
                    <li class="nav-item">
                        <a class="nav-link" href="/instrumentos_detalles">Get Instruments</a>
                    </li>
                  
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Suscripciones</a>
                        <ul class="dropdown-menu">                        
                          <li><a class="dropdown-item" href="/suscriptos">Susc Instruments</a></li>                        
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="/suscripcionDb">List Instruments</a></li>                          
                        </ul>
                    </li>
                     --> 
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Estrategias</a>
                        <ul class="dropdown-menu">                        
                          <li><a class="dropdown-item" href="/inicioEstrategias">Estrategia</a></li>                        
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="/SuscripcionPorWebSocket/">listado</a></li>                          
                        </ul>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/estadoOperacion">Portfolio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Ordenes</a>
                        <ul class="dropdown-menu">                        
                          <li><a class="dropdown-item" href="/estadoOperacion">Estado</a></li>                        
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="/operar">Operar</a></li>                          
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Cuenta</a>
                        <ul class="dropdown-menu">                        
                          <li><a class="dropdown-item" href="/posicionCuenta">Posicion</a></li>                        
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="/detalleCuenta">Detalle</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="/reporteCuenta">Reporte</a></li>                         
                        </ul>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link disabled">Salir</a>
                    </li>
                </ul>
                
            </div>
        </div>
    </nav>
    <div class = 'container p-4'>
      {%block content%}
      {% endblock%}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{{url_for('static',filename='js/main.js')}}"></script>
</body>
</html>
