{% extends 'layouts/layout_without_navbar.html' %}
{% block content %}


<html lang="es">
  
<body> 

  <div class = 'container p-4'>
    <h1 name = "mensaje" id = "mensaje " >LOGEO EN PRIMARY API</h1>
    <div class = "col-md-4 offset-md-4">
    

    <!--<meta http-equiv="refresh" content="1;url=http://localhost:5000/cargar" />-->

    <form  name="logeo" action="/loginExt" method="post" class="btn-guardar_inst">
      <input type="hidden" name="fecha" id="fecha">
      <input type="hidden" name="token" id="token"> 
      <input type="hidden" name="environment" id="environment"> 
      <input type="text" name="usuario" placeholder="mauriciodioli6603" >  
      <input type="text" name="contraseña" placeholder="zbwitW5#"  >
      <input type="text" name="cuenta" placeholder="REM6603"  >
        
      <select class="form-select"aria-label="Default select example" name = "selctorEnvironment" id="selctorEnvironment">
        <option selected>Open this select menu</option>
        <option value="1">Simulacion</option>
        <option value="2">Produccion</option>     
      </select>     
      <input type='submit' value='Logear'>
    </form>
  
      <script>
        let guardada = localStorage.getItem("date")
        let tokenGuardado = localStorage.getItem("access_token")  
        console.log("entra en scriptt en archivo login.html y guarda la fecha: ",guardada)//muestra localStorage
       // console.log("entra en scriptt en archivo login.html y guarda la token: ",tokenGuardado)//muestra localStorage    
        if(!tokenGuardado)
        {
          console.log("entra if tokenGuardado pero no contiene token en el archivo login.html")
          // Acceder a los tokens desde el diccionario de contexto de Flask
          {% if tokens is defined %}
   

            var access_token = "{{ tokens[0] }}";
            var refresh_token = "{{ tokens[1] }}";

            // Almacenar los tokens en el localStorage
            localStorage.setItem("access_token", access_token);
            localStorage.setItem("refresh_token", refresh_token);
          
          {% endif %}

        }
        else{
          console.log("entra if tokenGuardado")
          document.getElementById("token").value = tokenGuardado;//aqui guardo token en el input token 
          console.log(tokenGuardado)
        } 
        
        if(!guardada)
        {
          // token = document.getElementsByName("tokens")[0].value;
          let fecha = new Date()
          fecha = fecha.getDate() +" "+fecha.getMonth() +" "+fecha.getYear();
          console.log("entra en if = null")
          localStorage.setItem('date', fecha);//guardo en localStorage
        }else{
          document.getElementById("fecha").value = guardada;//aqui guardo la fecha en input fecha
          
          console.log(guardada)
         
        } 
      
        
      </script>

    {%if fechas%}       
     <meta http-equiv="refresh" content="1;url=http://localhost:5000/mostrar" />
     <!-- <meta http-equiv="refresh" content="1;url=https://blooming-escarpment-18800.herokuapp.com/mostrar" />-->
    {%endif%}
    </div>
  </div>
</body>
</html>

{% endblock%}