.home-publicaciones-ambitos {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en múltiples filas */
    justify-content: center; /* Centra las tarjetas horizontalmente */
    gap: 20px; /* Espacio entre las tarjetas (opcional) */
    padding: 20px; /* Espacio alrededor del contenedor (opcional) */
}


.card-publicacion-ambitos img,
.card-publicacion-ambitos video {
    display: block;
    width: 100%; /* Ajusta al ancho del contenedor */
    height: auto; /* Mantiene la proporción */
    object-fit: contain; /* Asegura que todo el contenido se muestre sin recortes */
    border: none; /* Elimina bordes por defecto */
}



.card-media-grid-publicacion-ambitos {
    margin-bottom: 0; /* Espacio entre la imagen y el resto del contenido */
}

a.btn-close-publicacion-ambitos {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    color: white; /* Color de la X */
    text-decoration: none; /* Elimina el subrayado */
    cursor: pointer; /* Cambia el cursor al pasar sobre el enlace */
    font-size: 24px; /* Tamaño de la X */
    padding: 0; /* Quita el espaciado interno */
    margin: 0; /* Quita el margen si es necesario */
    top: 10px; /* Ajusta esto según sea necesario */
    right: 10px; /* Ajusta esto según sea necesario */
    z-index: 10; /* Asegura que esté por encima de otros elementos */
}

a.btn-close-publicacion-ambitos:hover {
    color: rgba(255, 255, 255, 0.7); /* Color de la X al pasar el mouse */
}

.btn-close-publicacion-ambitos {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    position: absolute;
    top: 10px; /* Ajusta esto según sea necesario */
    right: 10px; /* Ajusta esto según sea necesario */
    cursor: pointer;
    z-index: 10; /* Asegura que esté por encima de otros elementos */
}

.btn-close-publicacion-ambitos:hover {
    color: #ddd; /* Color al pasar el cursor sobre el botón */
}

.card-publicacion-ambitos {
    position: relative; /* Necesario para posicionar elementos hijos */
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco para contraste con el fondo negro */
    padding: 0; /* Eliminar el padding si lo hay */
    border-radius: 8px; /* Bordes redondeados opcionalmente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para darle un efecto de profundidad */
    overflow: hidden; /* Asegura que la imagen no se desborde */
}

.text-truncated-publicaciones-ambitos {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Número de líneas que se muestran antes de truncar */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-expanded-publicaciones-ambitos {
    display: block;
}

/* Estilo del botón */
.btn-ver-mas-publicaciones-ambitos {
    background-color: transparent; /* Fondo transparente */
    border: 1px solid transparent; /* Borde transparente */
    color: rgb(139, 139, 139); /* Color del texto */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    text-decoration: underline; /* Subrayado del texto */
    padding: 5px 10px; /* Espaciado interno */
    transition: color 0.3s ease; /* Transición suave para el cambio de color */
}

/* Estilo del botón cuando se pasa el mouse sobre él */
.btn-ver-mas-publicaciones-ambitos:hover {
    color: rgb(85, 85, 85); /* Color del texto al pasar el mouse */
}

/* Estilo del botón cuando está enfocado (clic o tabulación) */
.btn-ver-mas-publicaciones-ambitos:focus {
    outline: none; /* Eliminar el contorno por defecto del navegador */
    color: rgb(85, 85, 85); /* Color del texto al enfocar el botón */
}

/* Estilo del botón cuando se hace clic */
.btn-ver-mas-publicaciones-ambitos:active {
    color: rgb(85, 85, 85); /* Color del texto al hacer clic */
}

/* Ocultar el botón con la clase 'hidden' */
.btn-ver-mas-publicaciones-ambitos.hidden {
    display: none;
}








































/* Contenedor de texto centrado */
.texto-superior {
    display: flex;            /* Usa flexbox para el centrado */
    justify-content: center;  /* Centrado horizontal */
    align-items: center;      /* Centrado vertical */
    position: absolute;       /* Asegura que se mantenga en la parte superior */
    top: 160px;                /* Ajusta la distancia desde la parte superior */
    left: 50%;                /* Para centrarlo horizontalmente */
    transform: translateX(-50%); /* Compensa el desplazamiento para un centrado perfecto */
    z-index: 10;              /* Asegura que el texto esté por encima de la imagen/video */
    color: #7fff7f;           /* Color verde claro */
    font-size: 16px;          /* Ajusta el tamaño de la fuente si es necesario */
}

/* Estilo para el párrafo dentro del contenedor */
.texto-superior p {
    margin: 0;                /* Elimina el margen predeterminado */
    text-align: center;       /* Centrado de texto */
    font-size: 16px;          /* Ajusta el tamaño de la fuente si es necesario */
}











#principal-media {
    width: 100%; /* Hace que el contenedor ocupe el 100% del ancho disponible */
    max-width: 1300px; /* Limita el contenedor a un máximo de 1200px de ancho */
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna */
    align-items: center; /* Centra horizontalmente todos los elementos dentro del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    text-align: center; /* Centra el texto */
}

#principal-media img,
#principal-media video {
    width: 100%; /* Hace que la imagen/video ocupe el 100% del ancho disponible */
   /* height: auto;*/ /* Mantiene la altura proporcional a la anchura */
    max-width: 20%; /* Asegura que no se agrande más allá de su contenedor */
    max-height: 80vh; /* Limita la altura máxima al 80% del alto de la ventana */
    object-fit: contain; /* Asegura que la imagen/video se ajuste manteniendo las proporciones */
    border-radius: 8px; /* Bordes redondeados opcionales */
    cursor: pointer; /* Cambia el cursor al pasar sobre la imagen o video */
}

#principal-media img:hover,
#principal-media video:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al hacer hover */
}

@media (max-width: 768px) {
    #principal-media {
        max-width: 90%; /* Ajusta el tamaño máximo del contenedor para pantallas pequeñas */
        padding: 10px;  /* Reduce el espaciado en pantallas más pequeñas */
    }

    #principal-media img,
    #principal-media video {
        max-width: 100%; /* Asegura que no se agrande más allá de su contenedor */
        max-height: 300px; /* Ajusta la altura máxima para pantallas pequeñas */
        width: 100%; /* Ajusta el ancho al 100% en pantallas pequeñas */
        object-fit: contain; /* Mantiene las proporciones correctas */
    }
}








/* Asegura que las imágenes y videos se adapten al tamaño del contenedor */
.media-adaptada {
    width: 100%; /* Hace que la imagen/video ocupe el 100% del ancho disponible */
    height: auto; /* Mantiene la proporción de la imagen/video */
    object-fit: contain; /* Asegura que la imagen o el video se ajusten sin deformarse */
    max-width: 100%; /* Evita que los medios se desborden horizontalmente */
    max-height: 300px; /* Limita la altura máxima si es necesario */
    margin: 10px 0; /* Añade algo de espacio alrededor de las imágenes/videos */
}




.imagen-muestra-despliegue-publicacion-home, .video-muestra-despliegue-publicacion-home {
    margin: 10px;
    text-align: center; /* Centra las imágenes/videos */
    display: inline-block; /* Permite que se alineen en línea si es necesario */
}

.imagenes-muestra-despliegue-publicacion-home, .videos-muestra-despliegue-publicacion-home {
    display: flex;
    flex-wrap: wrap; /* Permite que las imágenes o videos se envuelvan en varias filas si es necesario */
    justify-content: center; /* Centra los elementos horizontalmente */
}