{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}  
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
{% endif %}
{% endwith %}

{% extends 'layouts/layoutConexBroker.html' %}
{% block content %}
<div class='container p-4'>
    <div class="container p-4">
        <form action="/instrument_by_symbol/" method="POST" id="filterForm">
            <input type="text" name="symbol" placeholder="symbol">
            <input type="hidden" id="accountCuenta" name="accountCuenta">
            <button type="button" onclick="filterTable()">Submit</button>
        </form>
    </div>
    <div class='container p-4'>
        <div class="table-responsive">  
            <table class="table table-dark table-striped">
                <thead>           
                    <tr>
                        <th scope="col">Ticker</th>
                        <th scope="col">maturityDate</th>
                        <th scope="col">maxTradeVol</th>                           
                        <th scope="col">minTradeVol</th>                           
                        <th scope="col">priceConvertionFactor</th>
                        <th scope="col">Suscribir</th>                            
                    </tr>            
                </thead>
                <tbody>
                    {% for dato in datos %}
                    <tr data-symbol="{{ dato.instrumentId.symbol }}">
                        <th scope="row">{{ dato.instrumentId.symbol }}</th>
                        <td>{{ dato.maturityDate }}</td>
                        <td>{{ dato.maxTradeVol }}</td>                           
                        <td>{{ dato.minTradeVol }}</td>
                        <td>{{ dato.priceConvertionFactor }}</td>
                        <td>
                            <form class="subscriptionForm" method="POST">
                                <div class="form-group">
                                    <input type="hidden" name="symbol" value="{{ dato.instrumentId.symbol|replace(" ", " ") }}" class="form-control">
                                </div> 
                                <div class="form-group">
                                    <input type="hidden" name="websocketSuscricionCuenta" class="websocketSuscricionCuenta">
                                </div>
                                <div class="form-group">
                                    <input type="hidden" name="websocketSuscricionToken" class="websocketSuscricionToken">
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary btn-sm btn-block form-control submitBtn">Submit</button>
                                </div>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            
        </div> 
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var account = localStorage.getItem('cuenta');
        var access_token = localStorage.getItem('access_token');
    
        // Asigna los valores de token y cuenta a los campos ocultos
        var forms = document.querySelectorAll('form.subscriptionForm');
        forms.forEach(function(form) {
            form.querySelector('.websocketSuscricionCuenta').value = account;
            form.querySelector('.websocketSuscricionToken').value = access_token;
    
            form.querySelector('.submitBtn').addEventListener('click', function(event) {
                event.preventDefault(); // Evitar el envío del formulario por defecto
                submitForm(form);
            });
        });
    });
    
    function submitForm(form) {
        var formData = new FormData(form);
        debugger;
        fetch('/SuscripcionWs/', {
            method: 'POST',
            body: formData,
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
            // Aquí puedes manejar la respuesta del servidor
            updateTable(data); // Actualizar la tabla con los datos recibidos
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
    
   
    function filterTable() {
        // Obtén el formulario
        const form = document.querySelector('filterForm');
        debugger;
        // Obtén los valores de los inputs
       
        const symbolInput = document.querySelector('input[name="symbol"]').value.toLowerCase();
        var account = localStorage.getItem('cuenta');
        // Crea un FormData con los valores obtenidos
        var formData = new FormData();
        formData.append('symbol', symbolInput);
        formData.append('account', account);
    
        // Enviar los datos al servidor con fetch
        fetch('/instrumentos_existentes_by_listado/', {
            method: 'POST',
            body: formData,
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
            // Aquí puedes manejar la respuesta del servidor
            updateTable(data)
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
      

    function updateTable(data) {
        // Obtener el cuerpo de la tabla
        debugger;
        const tbody = document.querySelector('.table-responsive tbody');
        
        // Limpiar el contenido existente en la tabla
        tbody.innerHTML = '';
    
        // Iterar sobre los datos y crear nuevas filas
        data.forEach((item, index) => {
            const row = document.createElement('tr');
            row.setAttribute('data-symbol', item);
    
            // Crear y agregar las celdas a la fila
            row.innerHTML = `
                <th scope="row">${item}</th>
                <td>Información adicional</td>
                <td>Información adicional</td>
                <td>Información adicional</td>
                <td>Información adicional</td>
                <td>
                    <form class="subscriptionForm" method="POST">
                        <div class="form-group">
                            <input type="hidden" name="symbol" value="${item}" class="form-control">
                        </div> 
                        <div class="form-group">
                            <input type="hidden" name="websocketSuscricionCuenta" class="websocketSuscricionCuenta">
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="websocketSuscricionToken" class="websocketSuscricionToken">
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary btn-sm btn-block form-control submitBtn">Submit</button>
                        </div>
                    </form>
                </td>
            `;
    
            // Agregar la fila al cuerpo de la tabla
            tbody.appendChild(row);
        });
          // Asociar eventos de clic a los botones de envío
    assignSubmitEvents();
    }


    
function assignSubmitEvents() {
    var account = localStorage.getItem('cuenta');
    var access_token = localStorage.getItem('access_token');

    // Asigna los valores de token y cuenta a los campos ocultos
    var forms = document.querySelectorAll('form.subscriptionForm');
    forms.forEach(function(form) {
        form.querySelector('.websocketSuscricionCuenta').value = account;
        form.querySelector('.websocketSuscricionToken').value = access_token;

        form.querySelector('.submitBtn').addEventListener('click', function(event) {
            event.preventDefault(); // Evitar el envío del formulario por defecto
            submitForm(form);
        });
    });
}

</script>
{% endblock %}

