{% extends 'layouts/layout_index.html' %}

{% block content %}
  <div class="container" lang="en">
    <div class="row">
      <div class="col-md-12">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <div class="horizontal-padding vertical-padding">
          <section class="planes mt-4" id="planes">
            <div class="planes-info d-flex align-items-center justify-content-center flex-column text-center">
              <h4 class="planes-titulo" style="color:gold; font-size: 24px;">DPI</h4>
              <h1 class="planes-descripcion" style="color:white; font-size: 32px;">Invest In Your Future <br> TODAY!</h1>
              <h6 class="planes-descripcion" style="color:white; font-size: 14px; line-height: 1.5;">
                Our strategies teach you how to invest. You can start from <br>
                100 USD or less, with no limits! <br>
                Manual and automated system! <br>
                Don’t miss the chance to learn!
              </h6>

              <div class="container-fluid" id="cardIndex">
                <div class="container py-4">
                  <div class="row justify-content-center">

                    <div class="col-md-6 p-4 card card-body cardIndexPlanes">


                    <h2>Domains</h2>
                        <h4 class="planes-titulo" style="color:gold; font-size: 24px;">Social & Commercial</h4>
                        <h4 class="planes-titulo" style="color: white; font-size: 24px;">Commercial Operations <span class="planes-sub-titulo" style="color: white; font-size: 18px;">Users & Companies</span></h4>
                        <hr class="separator">
                        <p style="margin-bottom: 5px;">Benefits from sales and users</p>
                        <p style="margin-bottom: 5px;">Capital return: <span style="color: white; background-color: green; border-radius: 5px; font-size: 14px; padding: 0 10px;">Yes</span></p>
                        <p style="margin-bottom: 5px;">Cost $ 0 + <span style="color: white; background-color: green; border-radius: 5px; font-size: 14px; padding: 0 10px;">% Capital</span></p>
                        <div class="card-corner-band"><div class="card-corner-text">NEW</div></div>
                        <form action="/detalle/index-dominios/layout_detalle_productos" method="GET">
                          <button class="card-button long-button" style="margin-top: 20px;" type="submit">Learn more</button>
                        </form>

                    </div>

                    <div class="col-md-6 p-4 card card-body cardIndexPlanes">
                      <h2>Trading System</h2>
                      <h4 class="planes-titulo" style="color:gold; font-size: 24px;">From $ 1000</h4>
                      <h4 class="planes-titulo" style="color: white; font-size: 24px;">Up to 2% <span class="planes-sub-titulo" style="color: white; font-size: 18px;">Monthly</span></h4>
                      <hr class="separator">
                      <p style="margin-bottom: 5px;">Monthly benefits</p>
                      <p style="margin-bottom: 5px;">Capital return: <span style="color: white; background-color: green; border-radius: 5px; font-size: 14px; padding: 0 10px;">Yes</span></p>
                      <p style="margin-bottom: 5px;">Total 240% + <span style="color: white; background-color: green; border-radius: 5px; font-size: 14px; padding: 0 10px;">Capital</span></p>
                      <div class="card-corner-band"><div class="card-corner-text">NEW</div></div>
                      <form action="/detalle/sistema-operaciones/layout_detalle_productos" method="GET">
                        <button class="card-button long-button" style="margin-top: 20px;" type="submit">Learn more</button>
                      </form>
                    </div>
                  </div>

                  <div class="row justify-content-center">
                    <div class="col-md-6 card card-body cardIndexPlanes">
                      <h2>Courses</h2>
                      <h4 class="planes-titulo" style="color:gold; font-size: 24px;">Trading & More</h4>
                      <h4 class="planes-titulo" style="color: white; font-size: 24px;">$ 15 <span class="planes-sub-titulo" style="color: white; font-size: 18px;">Monthly</span></h4>
                      <hr class="separator">
                      <p style="margin-bottom: 5px;">Online</p>
                      <p style="margin-bottom: 5px;">Study material: <span style="color: white; background-color: green; border-radius: 5px; font-size: 14px; padding: 0 10px;">Yes</span></p>
                      <p style="margin-bottom: 5px;">See course list <span style="color: white; background-color: green; border-radius: 5px; font-size: 14px; padding: 0 10px;">Online</span></p>
                      <div class="card-corner-band"><div class="card-corner-text">NEW</div></div>
                      <form action="/detalle/index-cursos/layout_detalle_productos" method="GET">
                        <button class="card-button long-button" style="margin-top: 20px;" type="submit">Learn more</button>
                      </form>
                    </div>

                    <div class="col-md-6 p-4 card card-body cardIndexPlanes">
                      <h2>Copy Trading</h2>
                      <h4 class="planes-titulo" style="color:gold; font-size: 24px;">From $ 1000</h4>
                      <h4 class="planes-titulo" style="color: white; font-size: 24px;">Up to 2% <span class="planes-sub-titulo" style="color: white; font-size: 18px;">Monthly</span></h4>
                      <hr class="separator">
                      <p style="margin-bottom: 5px;">Upload your strategies</p>
                      <p style="margin-bottom: 5px;">Capital return: <span style="color: white; background-color: green; border-radius: 5px; font-size: 14px; padding: 0 10px;">Yes</span></p>
                      <p style="margin-bottom: 5px;">Total 240% + <span style="color: white; background-color: green; border-radius: 5px; font-size: 14px; padding: 0 10px;">Capital</span></p>
                      <div class="card-corner-band"><div class="card-corner-text">NEW</div></div>
                      <form action="/detalle/copy-trader/layout_detalle_productos" method="GET">
                        <button class="card-button long-button" style="margin-top: 20px;" type="submit">Learn more</button>
                      </form>
                    </div>
                  </div>

                  <div class="row justify-content-center">
                    <div class="col-md-6 card card-body cardIndexPlanes">
                      <h2>Signals Panel</h2>
                      <h4 class="planes-titulo" style="color:gold; font-size: 24px;">$ 1000 - No limit</h4>
                      <h4 class="planes-titulo" style="color: white; font-size: 24px;">% <span class="planes-sub-titulo" style="color: white; font-size: 18px;">Monthly</span></h4>
                      <hr class="separator">
                      <p style="margin-bottom: 5px;">Monthly benefits</p>
                      <p style="margin-bottom: 5px;">Capital return: <span style="color: white; background-color: red; border-radius: 5px; font-size: 14px; padding: 0 10px;">No</span></p>
                      <p style="margin-bottom: 5px;">Total 240%</p>
                      <div class="card-corner-band"><div class="card-corner-text">NEW</div></div>
                      <form action="/detalle/panel-manual/layout_detalle_productos" method="GET">
                        <button class="card-button long-button" style="margin-top: 20px;" type="submit">Learn more</button>
                      </form>
                    </div>

                    <div class="col-md-6 card card-body cardIndexPlanes">
                      <h2>Tokens System</h2>
                      <h4 class="planes-titulo" style="color:gold; font-size: 24px;">0.65 %</h4>
                      <h4 class="planes-titulo" style="color: white; font-size: 24px;">0.65% <span class="planes-sub-titulo" style="color: white; font-size: 18px;">Per token</span></h4>
                      <hr class="separator">
                      <p style="margin-bottom: 5px;">Share your tokens</p>
                      <p style="margin-bottom: 5px;">Tracking %: <span style="color: white; background-color: green; border-radius: 5px; font-size: 14px; padding: 0 10px;">Yes</span></p>
                      <p style="margin-bottom: 5px;">Total 60% <span style="color: white; background-color: green; border-radius: 5px; font-size: 14px; padding: 0 10px;">Max Capital</span></p>
                      <div class="card-corner-band"><div class="card-corner-text">NEW</div></div>
                      <form action="/detalle/fichas-tokens/layout_detalle_productos" method="GET">
                        <button class="card-button long-button" style="margin-top: 20px;" type="submit">Learn more</button>
                      </form>
                    </div>

                    <div class="row justify-content-center">
                      <div class="col-md-6 card card-body cardIndexPlanes">
                        <h2>CF Fintech</h2>
                        <h4 class="planes-titulo" style="color:gold; font-size: 24px;">Your own company</h4>
                        <h4 class="planes-titulo" style="color: white; font-size: 24px;">Share your business <span class="planes-sub-titulo" style="color: white; font-size: 18px;">Monthly</span></h4>
                        <hr class="separator">
                        <p style="margin-bottom: 5px;">Monthly benefits</p>
                        <p style="margin-bottom: 5px;">Capital return: <span style="color: white; background-color: green; border-radius: 5px; font-size: 14px; padding: 0 10px;">Yes</span></p>
                        <p style="margin-bottom: 5px;">Cost $15 + <span style="color: white; background-color: green; border-radius: 5px; font-size: 14px; padding: 0 10px;">% Capital</span></p>
                        <div class="card-corner-band"><div class="card-corner-text">NEW</div></div>
                        <form action="/detalle/index-fintech/layout_detalle_productos" method="GET">
                          <button class="card-button long-button" style="margin-top: 20px;" type="submit">Learn more</button>
                        </form>
                      </div>

                      <div class="col-md-6 p-4 card card-body cardIndexPlanes">
                        <h2>Operations Engine</h2>
                        <h4 class="planes-titulo" style="color: gold; font-size: 24px;">Own strategies</h4>
                        <h4 class="planes-titulo" style="color: white; font-size: 24px;">2.5% <span class="planes-sub-titulo" style="color: white; font-size: 18px;">Monthly</span></h4>
                        <hr class="separator">
                        <p style="margin-bottom: 5px;">Annual benefits</p>
                        <p style="margin-bottom: 5px;">Capital return: <span style="color: white; background-color: green; border-radius: 5px; font-size: 14px; padding: 0 10px;">Yes</span></p>
                        <p style="margin-bottom: 5px;">Total 300% + <span style="color: white; background-color: green; border-radius: 5px; font-size: 14px; padding: 0 10px;">Capital</span></p>
                        <div class="card-corner-band"><div class="card-corner-text">NEW</div></div>
                        <form action="/detalle/motor-de-operaciones/layout_detalle_productos" method="GET">
                          <button class="card-button long-button" style="margin-top: 20px;" type="submit">Learn more</button>
                        </form>
                      </div>
                    </div>

                    <div class="row justify-content-center">
                      <div class="col-md-6 card card-body cardIndexPlanes">
                        <h2>Virtual Currencies</h2>
                        <h4 class="planes-titulo" style="color:gold; font-size: 24px;">Invest in virtual coin</h4>
                        <h4 class="planes-titulo" style="color: white; font-size: 24px;">Beat inflation <span class="planes-sub-titulo" style="color: white; font-size: 18px;">Monthly</span></h4>
                        <hr class="separator">
                        <p style="margin-bottom: 5px;">Monthly benefits</p>
                        <p style="margin-bottom: 5px;">Capital return: <span style="color: white; background-color: green; border-radius: 5px; font-size: 14px; padding: 0 10px;">Yes</span></p>
                        <p style="margin-bottom: 5px;">Cost $ 0 + <span style="color: white; background-color: green; border-radius: 5px; font-size: 14px; padding: 0 10px;">% Capital</span></p>
                        <div class="card-corner-band"><div class="card-corner-text">NEW</div></div>
                        <form action="/detalle/index-monedas-virtuales/layout_detalle_productos" method="GET">
                          <button class="card-button long-button" style="margin-top: 20px;" type="submit">Learn more</button>
                        </form>
                      </div>

                      <div class="col-md-6 card card-body cardIndexPlanes">
                      
                      <h2>Automated Bot</h2>
                          <h4 class="planes-titulo" style="color:gold; font-size: 24px;">From $ 1000</h4>
                          <h4 class="planes-titulo" style="color: white; font-size: 24px;">2% <span class="planes-sub-titulo" style="color: white; font-size: 18px;">Monthly</span></h4>
                          <hr class="separator">
                          <p style="margin-bottom: 5px;">Monthly benefits</p>
                          <p style="margin-bottom: 5px;">Capital return: <span style="color: white; background-color: green; border-radius: 5px; font-size: 14px; padding: 0 10px;">Yes</span></p>
                          <p style="margin-bottom: 5px;">Total 24% + <span style="color: white; background-color: green; border-radius: 5px; font-size: 14px; padding: 0 10px;">Capital</span></p>
                          <div class="card-corner-band"><div class="card-corner-text">NEW</div></div>
                          <form action="/detalle/bot-automatico/layout_detalle_productos" method="GET">
                            <button class="card-button long-button" style="margin-top: 20px;" type="submit">Learn more</button>
                          </form>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </section>

          <div class="horizontal-padding vertical-padding">
            <section class="sobre-nosotros" id="sobre-nosotros">
              <div class="container" id="container-sobre-nosotros">
                <h4 class="sobre-nosotros" style="color: gold; font-size: 24px;">ABOUT US</h4>
                <h1 class="sobre-nosotros-descripcion" style="color: white; font-size: 32px;"></h1>
                <div class="flex-container">
                  <div class="image-container-sobre-nosotros">
                    <img src="/static/bitCoinSobreNosotros.jpg" alt="Image description" style="width: 200%; height: auto;">
                  </div>
                  <div class="text-container-sobre-nosotros" style="text-align: left;">
                    <form action="detalle/sobreNosotros/layout_detalle_productos" method="GET">
                      <button class="card-button long-button" style="margin-top: 20px;" type="submit">Read more</button>
                    </form>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <div class="horizontal-padding vertical-padding">
            <section class="faq" id="faq">
              <div class="faq-info">
                <h1 class="faq-titulo" style="color: gold;">FAQ</h1>
              </div>

              <div class="card card-menu cardIndexSobreN" id="sobreNcardId">
                <div class="accordion bg-black" id="accordionSobreN">
                  <div class="accordion-item" id="accordionSobreN-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button" id="idBotonAcordSN" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        What is DPI Investments
                      </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionSobreN">
                      <div class="accordion-body">
                        <strong>High-tech venture applied to the market.</strong>
                        <p>Our company, founded 4 years ago, is dedicated to revolutionizing the financial market through the automation of trading strategies. With a team of experts in technology and finance, we specialize in developing advanced systems that allow investors to maximize returns and manage portfolios efficiently.</p>
                        <p>Since day one, we’ve been committed to innovation and excellence, offering tailored solutions that adapt to changing market needs. Our products range from automated trading bots to semi-automatic systems that support informed decision-making, designed to operate in both local and international markets.</p>
                        <p>One of our main areas of focus is Quant Trading, which involves using mathematical and statistical models to identify and exploit trading opportunities. Our quants work tirelessly to develop sophisticated algorithms that analyze large volumes of real-time data, enabling precise and highly effective strategies.</p>
                        <p>Our goal is to empower clients with cutting-edge tools that simplify investing and optimize performance. With constant attention to quality and customer service, we strive to be leaders in financial technology.</p>
                        <code>DPI Investments</code>, leveraging artificial intelligence toward the future.
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card card-menu cardIndexSobreN" id="sobreNcardId">
                <div class="accordion bg-black" id="accordionSobreN">
                  <div class="accordion-item" id="accordionSobreN-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button" id="idBotonAcordSN" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDos" aria-expanded="true" aria-controls="collapseDos">
                        How did it start?
                      </button>
                    </h2>
                    <div id="collapseDos" class="accordion-collapse collapse" data-bs-parent="#accordionSobreN">
                      <div class="accordion-body">
                        <strong>Technological beginnings.</strong>
                        <p>Our company, founded 4 years ago by two visionary engineers, focuses on automating trading strategies. With backgrounds in AI, real-time operating systems, electronics, and heterogeneous computing, the founders combined their expertise to create advanced financial technology solutions.</p>
                        <p>Driven by the growing need for efficient, automated systems in capital markets, they developed platforms that integrate AI and real-time data analysis. From the start, the goal was to provide tools that simplify investing, optimize performance, and reduce risk.</p>
                        <p>We continue to innovate, offering solutions that adapt to market changes — from automated bots to semi-automatic systems — operating in local and international markets.</p>
                        <p>Quant Trading is a core focus: we use models to identify opportunities. Our team builds algorithms that process real-time data to implement precise, effective strategies.</p>
                        <p>We strive to empower clients with next-gen tools that streamline investing and boost returns, aiming to lead FinTech with quality and service.</p>
                        <code>DPI Investments</code>, cutting-edge tech.
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card card-menu cardIndexSobreN" id="sobreNcardId">
                <div class="accordion bg-black" id="accordionSobreN">
                  <div class="accordion-item" id="accordionSobreN-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button" id="idBotonAcordSN" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTres" aria-expanded="true" aria-controls="collapseTres">
                        What can you find here?
                      </button>
                    </h2>
                    <div id="collapseTres" class="accordion-collapse collapse" data-bs-parent="#accordionSobreN">
                      <div class="accordion-body">
                        <div class="service-item">
                          <h3 style="color: yellow;">Operations Engine</h3>
                          <p>Implement your own strategies with a monthly return of 2.5%. Achieve significant annual benefits with capital return and a total of 300% + capital.</p>
                          <a href="/detalle/motor-de-operaciones/layout_detalle_productos" class="btn btn-success" style="margin-top: 10px;">Learn more</a>
                        </div>
                        <hr class="separator">
                        <div class="service-item">
                          <h3 style="color: yellow;">Automated Bot</h3>
                          <p>Automated operations in local and international markets with a 2% monthly return. Ideal for consistent monthly gains with a total of 24% + capital.</p>
                          <a href="/detalle/bot-automatico/layout_detalle_productos" class="btn btn-success" style="margin-top: 10px;">Learn more</a>
                        </div>
                        <hr class="separator">
                        <div class="service-item">
                          <h3 style="color: yellow;">Trading System</h3>
                          <p>Semi-automatic operations to support informed decisions with up to 2% monthly return. Get a total of 240% + capital annually.</p>
                          <a href="/detalle/sistema-operaciones/layout_detalle_productos" class="btn btn-success" style="margin-top: 10px;">Learn more</a>
                        </div>
                        <hr class="separator">
                        <div class="service-item">
                          <h3 style="color: yellow;">Copy Trading</h3>
                          <p>Copy successful strategies or upload your own, with up to 2% monthly return and a total of 240% + capital annually.</p>
                          <a href="/detalle/copy-trader/layout_detalle_productos" class="btn btn-success" style="margin-top: 10px;">Learn more</a>
                        </div>
                        <hr class="separator">
                        <div class="service-item">
                          <h3 style="color: yellow;">Signals Panel</h3>
                          <p>Daily signals to trade and spot opportunities. While capital return isn’t guaranteed, it targets a total of 240% annually.</p>
                          <a href="/detalle/panel-manual/layout_detalle_productos" class="btn btn-success" style="margin-top: 10px;">Learn more</a>
                        </div>
                        <hr class="separator">
                        <div class="service-item">
                          <h3 style="color: yellow;">Tokens System</h3>
                          <p>Share your tokens and track investments with a 0.65% return per token, making monitoring and optimization easier.</p>
                          <a href="/detalle/fichas-tokens/layout_detalle_productos" class="btn btn-success" style="margin-top: 10px;">Learn more</a>
                        </div>
                        <hr class="separator">
                        <div class="service-item">
                          <h3 style="color: yellow;">Courses</h3>
                          <p>Online courses on trading and more, with study materials and an accessible monthly cost. Ideal to level up your skills.</p>
                          <a href="/detalle/index-cursos/layout_detalle_productos" class="btn btn-success" style="margin-top: 10px;">Learn more</a>
                        </div>
                        <hr class="separator">
                        <div class="service-item">
                          <h3 style="color: yellow;">CF Fintech</h3>
                          <p>Share your business and receive monthly benefits, with an initial cost plus a capital percentage. Built for fintech entrepreneurs.</p>
                          <a href="/detalle/index-fintech/layout_detalle_productos" class="btn btn-success" style="margin-top: 10px;">Learn more</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card card-menu cardIndexSobreN" id="sobreNcardId">
                <div class="accordion bg-black" id="accordionSobreN">
                  <div class="accordion-item" id="accordionSobreN-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button" id="idBotonAcordSN" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCuatro" aria-expanded="true" aria-controls="collapseCuatro">
                        How do we help you?
                      </button>
                    </h2>
                    <div id="collapseCuatro" class="accordion-collapse collapse" data-bs-parent="#accordionSobreN">
                      <div class="accordion-body">
                        <div class="help-item">
                          <h3 style="color: yellow;">Strategy Automation</h3>
                          <p>Automated systems implement complex strategies without manual intervention, saving time and reducing errors — from bots to semi-automatic systems and copy trading — all built to maximize ROI.</p>
                        </div>
                        <hr class="separator">
                        <div class="help-item">
                          <h3 style="color: yellow;">Access to Global Opportunities</h3>
                          <p>We enable access to local and international markets, helping you diversify and seize global opportunities. Our system triggers automatically, operating in Argentina and the U.S. at the same time every day.</p>
                        </div>
                        <hr class="separator">
                        <div class="help-item">
                          <h3 style="color: yellow;">Education & Training</h3>
                          <p>Online courses with study materials and expert access to improve your skills and make informed decisions.</p>
                        </div>
                        <hr class="separator">
                        <div class="help-item">
                          <h3 style="color: yellow;">Tracking & Monitoring</h3>
                          <p>Real-time tools keep you on top of daily opportunities and your portfolio performance.</p>
                        </div>
                        <hr class="separator">
                        <div class="help-item">
                          <h3 style="color: yellow;">Advanced Tools</h3>
                          <p>Signals panels and tokens systems to support informed decisions and efficient asset management.</p>
                        </div>
                        <hr class="separator">
                        <div class="help-item">
                          <h3 style="color: yellow;">Support & Community</h3>
                          <p>Continuous support and an active community to share strategies and grow together.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </section>
          </div>

          <div class="horizontal-padding vertical-padding py-4">
            <section class="contacto" id="contacto">
              <div class="contactos-info">
                <h1 class="contactos-titulo" style="color: gold;">CONTACT</h1>
                <h3 class="contactos-titulo" style="color:white">WE ADVISE YOU</h3>
                <form action="/llamada/index-contacto" method="GET">
                  <button class="card-button long-button" style="margin-top: 20px;" type="submit">Talk to us</button>
                </form>
              </div>
            </section>
          </div>

          <div class="horizontal-padding vertical-padding py-4">
            <section class="ingreso" id="ingreso">
              <div class="ingreso-info">
                <h1 class="ingreso-titulo" style="color: gold;">Login</h1>
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <ul class="flashes">
                      {% for message in messages %}
                        <li>{{ message }}</li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                {% endwith %}

                <div class="form-container">
                  <div class="row">
                    {% with messages = get_flashed_messages() %}
                      {% if messages %}
                        <div class="alert alert-danger">
                          {% for message in messages %}
                            <p>{{ message }}</p>
                          {% endfor %}
                        </div>
                      {% endif %}
                    {% endwith %}

                    <form method="POST" action="{{ url_for('autenticacion.loginUsuario') }}">
                      <div class="form-group">
                        <input type="email" class="form-control mb-3" id="correo_electronico" name="correo_electronico" autocomplete="email" placeholder="Email" required>
                      </div>

                      <div class="form-group">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                        <span class="toggle-password" onclick="togglePasswordVisibility('password')">👁️</span>
                      </div>

                      <div class="row justify-content-center">
                        <div class="col-md-6 mb-4">
                          <button type="submit" class="btn btn-primary">Sign in</button>
                        </div>
                        <div class="col-md-6 mb-2">
                          <a href="/registrar_usuario">
                            <button type="button" class="btn btn-secondary">Register</button>
                          </a>
                        </div>
                      </div>
                    </form>

                    <form action="/login/google" method="get" class="mt-4 bts">
                      <a class="gplogin social"><i class="fa fa-google-plus"></i><span>Sign in with Google</span></a>
                    </form>

                    <div class="row justify-content-center mt-3">
                      <div class="col-md-12 text-center">
                        <a href="/usuarios_recuperar_contrasena_usuario_sistema" class="btn btn-link text-white">Forgot your password?</a>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </section>
          </div>

        </div> <!-- centered content end -->
      </div>
    </div>
  </div>

  {% include 'layouts/layout_footer.html' %}
}



  
  <!-- Aquí se agrega el script -->  
  <script>
   
    function showError(message) {
      // muestra un mensaje de error al usuario
      alert(message);
      // o agrega un elemento HTML con el mensaje de error a la página
      // por ejemplo, con jQuery:
      // $('body').append('<div class="alert alert-danger">' + message + '</div>');
    }
  
     
      // Obtener el token del localStorage
      var token = localStorage.getItem('access_token');
      var refresh_token = localStorage.getItem('refresh_token');
      var selectorEnvironment = localStorage.getItem('selector');
      account =  localStorage.getItem('cuenta');
      if (token) {
        const payload = JSON.parse(atob(token.split('.')[1]));
        const tokenExpirationDate = new Date(payload.exp * 1000);
        const currentDateTime = new Date();
        vencimiento_access_token = currentDateTime.getTime() > tokenExpirationDate.getTime();
      } else {
      // En caso de que no haya un token
      //  console.log("No hay token disponible");
      }  
      //console.log("tokenExpirationDate: ",tokenExpirationDate," currentDateTime: ",currentDateTime," vencimiento: ",vencimiento_access_token)
      
      if (token) { // Verificar si el token existe en el localStorage
        // Enviar una solicitud a la ruta Flask y pasar el token como parte del cuerpo de la solicitud en formato JSON
        $.ajax({
          type: "POST",
          url: "{{ url_for('autenticacion.loginIndex') }}",
          contentType: "application/json",
          data: JSON.stringify({'token': token,'refresh_token':refresh_token,'selectorEnvironment':selectorEnvironment,'account':account}),
          success: function(response) {
            if (response.redirect) {
              window.location.href = response.redirect;
            } else {
              // handle error
              if (vencimiento_access_token){
                localStorage.removeItem('access_token')
              }
              showError("No se pudo redirigir al usuario se puede haber vencido el token loguee nuevamente");
            }
          },
          error: function(error) {
            // handle error
            showError("Hubo un error en la solicitud AJAX");
          }
        });
      }
   






      
  function togglePasswordVisibility(id) {
    var passwordField = document.getElementById(id);
    var icon = passwordField.nextElementSibling;

    if (passwordField.type === "password") {
      passwordField.type = "text";
      icon.textContent = "🙈";
    } else {
      passwordField.type = "password";
      icon.textContent = "👁️";
    }
  }


  </script>
{% endblock %}