{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

{% if layout == 'layout' %}
    {% extends 'layouts/layout.html' %}
{% elif layout == 'layout_fichas' %}
    {% extends 'layouts/layout_fichas.html' %}
{% elif layout == 'layoutConexBroker' %}
    {% extends 'layouts/layoutConexBroker.html' %}
{% endif %}

{% block content %}
<body>
    <style>      

        .transparent-card {
            background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con 50% de opacidad */
            border: none; /* Sin borde */
            color: white; /* Color del texto en blanco */
        }
        
        .card-button {
            cursor: pointer; /* El cursor cambia a puntero cuando se pasa sobre la tarjeta */
        }
        
        .card-button:hover .transparent-card {
            background-color: rgba(0, 0, 0, 0.7); /* Fondo negro con 70% de opacidad al pasar el ratón */
        }
        
        .card-button:active .transparent-card {
            background-color: rgba(0, 0, 0, 0.9); /* Fondo negro con 90% de opacidad al hacer clic */
        }
    </style>

    <div class="container" id="cardIndex">       
        <div class="card-button" id="cardIndexFichas" data-saldo="{{ saldo }}" data-size="{{ size }}" data-symbol="{{ Symbol }}" data-price="{{ price }}">
            <div class="card card-body transparent-card">
                <h2>Caucion:</h2>
                <h4 class="planes-titulo" style="color: gold; font-size: 24px;">
                    $ {{ saldo }} 
                    <span style="color: white; background-color: green; border-radius: 5px; font-size: 14px; padding-left: 10px; padding-right: 10px;">Disponible</span>
                </h4>
                <h4 class="planes-titulo" style="color: {{ 'green' if size > 0 else 'red' }}; font-size: 24px;">
                    {{ size }}% 
                    <span class="planes-sub-titulo" style="color: white; font-size: 18px;">De cuenta</span>
                    <span class="flecha" style="color: {{ 'green' if size > 0 else 'red' }};"></span>
                </h4>
                <hr class="separator">
                <p style="margin-bottom: 5px; color: gold;">{{ Symbol }}</p>

                <p style="margin-bottom: 5px;">Valor variable: 
                    <span style="color: white; background-color: red; border-radius: 5px; font-size: 14px; padding-left: 10px; padding-right: 10px;">Si</span>
                </p>
                <p style="margin-bottom: 5px;">Precio de caucion : 
                    {{ price }} 
                    <span style="color: white; background-color: red; border-radius: 5px; font-size: 14px; padding-left: 10px; padding-right: 10px;">Operando</span>
                </p>
                <p style="margin-bottom: 5px;">MARKET: 
                    {{ price }} 
                    <span style="color: white; background-color: green; border-radius: 5px; font-size: 14px; padding-left: 10px; padding-right: 10px;">Cuenta</span>
                </p>
                <div class="card-corner-band">
                    <div class="card-corner-text">NUEVO</div>
                </div>
            </div>
        </div>
    </div>

     <script>
        $(document).ready(function(){
            $('#cardIndexFichas').click(function(){
                var saldo = $(this).data('saldo');
                //var size = $(this).data('size');
                var size = '1000'; // No es necesario comentar esta línea si es parte del código final
                var symbol = $(this).data('symbol');
                var price = $(this).data('price');
                var form_caucionar_accessToken = localStorage.getItem('access_token');
                var accounCuenta_form_caucionar = localStorage.getItem('cuenta');
        
                // Mostrar el mensaje de advertencia
                var confirmar = confirm('¿Estás seguro de que quieres enviar estos datos?');
        
                if (confirmar) {
                    $.ajax({
                        url: '/caucionador_caucionar_post',  // URL de la ruta Flask
                        method: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            accounCuenta_form_caucionar: accounCuenta_form_caucionar,
                            form_caucionar_saldo: saldo,
                            form_caucionar_size: size,
                            form_caucionar_price: price,
                            form_caucionar_Symbol: symbol,
                            form_caucionar_accessToken: form_caucionar_accessToken,  // Reemplaza con tu token de acceso
                            form_caucionar_layout: 'layoutConexBroker'
                        }),
                        success: function(response) {
                            console.log('Datos enviados exitosamente');
                            console.log(response.message);
                            // Aquí puedes manejar la respuesta del servidor
                            alert(response.message);
                        },
                        error: function(xhr, status, error) {
                            console.error('Error al enviar los datos:', error);
                            alert('Error al procesar la solicitud: ' + error);
                        }
                    });
                } else {
                    console.log('Envío cancelado por el usuario.');
                }
            });
        });
        
        
    </script>
    
{% include 'layouts/layout_footer.html' %}   

</body>          
{% endblock %}
