.modal-seleccion {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(240, 240, 240, 0.6);
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', sans-serif;
}

.modal-contenido {
  background: rgb(15, 15, 15);
  padding: 30px;
  border-radius: 0px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  position: relative;
  box-shadow: 0 0 25px rgba(0,0,0,0.2);
}

.cerrar {
  position: absolute;
  top: 10px; right: 15px;
  font-size: 22px;
  cursor: pointer;
}

.opciones-pago {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px 0;
}

.opcion {
  border: 2px solid #f3d300;
  border-radius: 0px;
  padding: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 15px;
  transition: all 0.3s ease;
}

.modal-contenido h2 {
  color: #f3d300; /* Cambiá este valor por el que quieras */
}

.opcion:hover,
.opcion.seleccionada {
  border-color:  #f3d300;
  background-color: #f3d300;
}

.opcion img {
  width: 32px;
  height: 32px;
}

.boton-continuar
 {
  background-color: #585118 !important;
  color: white !important;
  padding: 12px 25px;
  border: none;
  border-radius: 0px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.boton-confirmar {
  display: none;
  background-color: #ab9b29 !important;
  color: white !important;
  padding: 12px 25px;
  border: none;
  border-radius: 0px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}


.boton-confirmar {
  margin-top: 20px;
}

#form-cliente-pedido {
  display: none;
}

@media (max-width: 480px) {
  .modal-contenido {
    padding: 15px;
    max-width: 95vw;
  }

  .opcion {
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
  }

  .opcion span {
    font-size: 14px;
  }

  .boton-confirmar {
    font-size: 15px;
  }
}
