.telegram-detalle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.telegram-item {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Estilos aplicados solo a los elementos con ID */
#headerTitle, #headerLabel, #bodyLabel, #header, #body, #submitButton {
    color: black; /* Textos en negro */
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
