<<<<<<< HEAD
.loader-modal-crear-publicacion {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.load-inner-modal-crear-publicacion {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #333;
    margin: 5px;
    display: inline-block;
    animation: bounce-modal-crear-publicacion 1.5s infinite ease-in-out;
}

.load-one-modal-crear-publicacion {
    animation-delay: -0.32s;
}

.load-two-modal-crear-publicacion {
    animation-delay: -0.16s;
}

.load-three-modal-crear-publicacion {}

.text-modal-crear-publicacion {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

@keyframes bounce-modal-crear-publicacion {
    0%, 80%, 100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
}
=======
.loader-modal-crear-publicacion {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.load-inner-modal-crear-publicacion {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #333;
    margin: 5px;
    display: inline-block;
    animation: bounce-modal-crear-publicacion 1.5s infinite ease-in-out;
}

.load-one-modal-crear-publicacion {
    animation-delay: -0.32s;
}

.load-two-modal-crear-publicacion {
    animation-delay: -0.16s;
}

.load-three-modal-crear-publicacion {}

.text-modal-crear-publicacion {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

@keyframes bounce-modal-crear-publicacion {
    0%, 80%, 100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
}
>>>>>>> c771be39e03a9cc8cb8ab015daa471515565c719
