{% extends "layouts/layout.html" %}
{% block title %}Productos{% endblock %}
{% block content %}
<div class="producto-detalle">
        
            

            <div class="service-item">
                <h3 style="color: yellow;">Bot Automático</h3>
                <p>Este bot automatizado opera tanto en mercados locales como internacionales, con un retorno mensual del 2%. Ideal para aquellos que buscan beneficios mensuales constantes con un total de 24% + capital.</p>
                <a href="/detalle/bot-automatico" class="btn btn-success" style="margin-top: 10px;">Ver más</a>
            </div>
            <hr class="separator">

            <div class="service-item">
                <h3 style="color: yellow;">Sistema de Operaciones</h3>
                <p>Un sistema que permite a los usuarios operar de manera semiautomática, facilitando la toma de decisiones informadas con un máximo retorno mensual del 2%. Obtén un total de 240% + capital anual.</p>
                <a href="/detalle/sistema-operaciones" class="btn btn-success" style="margin-top: 10px;">Ver más</a>
            </div>
            <hr class="separator">

            <div class="service-item">
                <h3 style="color: yellow;">Cursos</h3>
                <p>Ofrecemos una variedad de cursos online sobre trading y otros temas relevantes, con materiales de estudio y un costo mensual accesible. Ideal para mejorar tus habilidades y conocimientos.</p>
                <a href="/detalle/index-cursos" class="btn btn-success" style="margin-top: 10px;">Ver más</a>
            </div>
            <hr class="separator">

            
            <div class="service-item">
                <h3 style="color: yellow;">Motor de Operaciones</h3>
                <p>Implementa estrategias propias con un retorno mensual del 2.5%. Este servicio permite obtener beneficios anuales significativos, con un retorno de capital garantizado y un total de 300% + capital.</p>
                <a href="/detalle/motor-de-operaciones" class="btn btn-success" style="margin-top: 10px;">Ver más</a>
            </div>
            <hr class="separator">

            <div class="service-item">
                <h3 style="color: yellow;">Copy Trading</h3>
                <p>Permite a los usuarios copiar estrategias de trading exitosas y subir sus propias estrategias, con un máximo retorno mensual del 2% y un total de 240% + capital anual.</p>
                <a href="/detalle/copy-trader" class="btn btn-success" style="margin-top: 10px;">Ver más</a>
            </div>
            <hr class="separator">

            <div class="service-item">
                <h3 style="color: yellow;">Panel de Señales</h3>
                <p>Proporciona señales diarias para operar, ayudando a los usuarios a identificar oportunidades en el mercado. Aunque no garantiza el retorno de capital, ofrece un total de 240% anual.</p>
                <a href="/detalle/panel-manual" class="btn btn-success" style="margin-top: 10px;">Ver más</a>
            </div>
            <hr class="separator">

            <div class="service-item">
                <h3 style="color: yellow;">Sistema de Fichas</h3>
                <p>Comparte tus fichas y sigue tus inversiones con un retorno del 0.65% por ficha. Este sistema facilita el seguimiento y la optimización de tus activos.</p>
                <a href="/detalle/fichas-tokens" class="btn btn-success" style="margin-top: 10px;">Ver más</a>
            </div>
            <hr class="separator">

            
            <div class="service-item">
                <h3 style="color: yellow;">CF Fintech</h3>
                <p>Una oportunidad para compartir tu negocio y recibir beneficios mensuales, con un costo inicial y un porcentaje de capital. Ideal para emprendedores en el sector financiero.</p>
                <a href="/detalle/index-fintech" class="btn btn-success" style="margin-top: 10px;">Ver más</a>
            </div>
       
  


</div>
{% include 'layouts/layout_footer.html' %}
<script>
    
</script>
{% endblock %}
