{% extends "layouts/layout.html" %}
{% block title %}Producto 1{% endblock %}
{% block content %}
<div class="producto-detalle">
    <h2>Motor De Operaciones</h2>
    <h4 class="planes-titulo" style="color: gold; font-size: 24px;">$ 10000 - 99999 </h4>
    <h4 class="planes-titulo" style="color: white; font-size: 24px;">2.5% <span class="planes-sub-titulo" style="color: white; font-size: 18px;">Mensual</span></h4>
    <p>Detalles adicionales del producto...</p>
    <!--<a href="{{ url_for('pago') }}" class="card-button" style="margin-top: 20px;">Comprar</a>-->
</div>
<script>
    
</script>
{% endblock %}
