{% extends "layouts/layout_detalle_productos.html" %}
{% block title %}Cursos{% endblock %}
{% block content %}
<div class="container my-5">
    <div class="container-fluid" id="cardIndex">
        <div class="container py-4 row justify-content-center m-auto">
            <div class="row py-3 justify-content-center">
                <div class="col-md-6 p-4 card card-body cardIndexPlanes"> 
                    <h2 class="card-title">Cursos</h2>
                    <h4 class="planes-titulo" style="color: gold; font-size: 24px;">100 cupos</h4>
                    <h4 class="planes-titulo" style="color: white; font-size: 24px;">Online y: <span class="planes-sub-titulo" style="color: white; font-size: 18px;">Mensual</span></h4>
                    <hr class="separator">
                    <p style="margin-bottom: 5px;">Te brindamos el material</p>
                    <p style="margin-bottom: 5px;">Clases semanales: <span style="color: white; background-color: green; border-radius: 5px; font-size: 14px; padding-left: 10px; padding-right: 10px;">Sí</span></p>
                    <p style="margin-bottom: 5px;">Costo: $ 15 <span style="color: white; background-color: green; border-radius: 5px; font-size: 14px; padding-left: 10px; padding-right: 10px;">Mensual </span></p>
                    <p style="margin-bottom: 5px; color: #7fff7f;">El costo es en dolares y todos los cursos tiene el mismo costo.</p>
                    <p>Este sistema de cursos ha sido cuidadosamente diseñado para lograr operar con instrumentos tanto del mercado argentino como del estadounidense. Se activa automáticamente todos los días a toda hora, realiza nuestros cursos sobre diversos temas relacionados con finanzas, garantiza una gestión eficiente y asesoramiento permanente.</p>
                    <p style="color: #7fff7f;">Además, contamos con un sistema de prueba que permite a los usuarios operar directamente desde la plataforma sin necesidad de recurrir a un broker ni operaciones reales, brindando a los usuarios un mayor control sobre sus conocimientos.</p>
                    <form id="subscriptionForm" action="/pago" method="GET">
                        <input type="hidden" id="costo_base" name="costo_base" value="15">
                        <input type="hidden" id="porcentaje_retorno" name="porcentaje_retorno" value="0">
                        <button id="subscribeButton" class="card-button btn-success long-button" style="margin-top: 20px;" type="submit">Suscribir ahora</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="color: black;">
                <h5 class="modal-title" id="loginModalLabel" style="color: black;">Inicie sesión</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="color: black;">
               <h3> Debe iniciar sesión para suscribirse.</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="loginRedirectButton">Aceptar</button>
            </div>
        </div>
    </div>
</div>

{% include 'layouts/layout_footer.html' %}

<script>
document.getElementById('subscribeButton').addEventListener('click', function(event) {
    event.preventDefault();
    if (!localStorage.getItem('acces_token')) {
        $('#loginModal').modal('show');
    } else {
        document.getElementById('subscriptionForm').submit();
    }
});

document.getElementById('loginRedirectButton').addEventListener('click', function() {
    window.location.href = '/';
});
</script>
{% endblock %}

