{% extends "layouts/layout_detalle_productos.html" %}
{% block title %}Copy Trading Automático{% endblock %}
{% block content %}
<div class="container my-5">
    <div class="container-fluid" id="cardIndex">
        <div class="container py-4 row justify-content-center m-auto">
            <div class="row py-3 justify-content-center">
                <div class="col-md-6 p-4 card card-body cardIndexPlanes"> 
                    <h2 class="card-title">Copy Trading Automático</h2>
                    <h4 class="planes-titulo" style="color: gold; font-size: 24px;">Comparte tu estrategia</h4>
                    <h4 class="planes-titulo" style="color: white; font-size: 24px;">Automaticamente <span class="planes-sub-titulo" style="color: white; font-size: 18px;">benericios continuas</span></h4>
                    <hr class="separator">
                    <p style="margin-bottom: 5px;">Beneficios diarios y por mes</p>
                    <p style="margin-bottom: 5px;">Retorno de capital: <span style="color: white; background-color: green; border-radius: 5px; font-size: 14px; padding-left: 10px; padding-right: 10px;">Sí</span></p>
                    <p style="margin-bottom: 5px;">Costo: $ 0 + <span style="color: white; background-color: green; border-radius: 5px; font-size: 14px; padding-left: 10px; padding-right: 10px;"> % Retorno de Capital </span></p>
                    <p style="margin-bottom: 5px; color: #7fff7f;">El sistema te paga por compartir te estrategia exitosa.</p>
                    <p>Este sistema ha sido cuidadosamente diseñado para operar compartir tu estrategia automaticamente aplicando mejora continua para operar instrumentos tanto del mercado argentino como del estadounidense. Se activa automáticamente todos los días a la misma hora, realiza las operaciones necesarias y luego se apaga hasta el día siguiente, garantizando una gestión eficiente y sin intervención manual.</p>
                    <p style="color: #7fff7f;">Además, contamos con un sistema semiautomático que permite a los usuarios testear las estrategias y con un test de historial y directamente desde la plataforma sin necesidad de recurrir a ninguna suscripcion ya estas compartiendo tu estrategia. Este sistema ofrece la conveniencia de realizar un seguimiento diario de las oportunidades de operaciones, brindando a los usuarios un mayor control sobre sus inversiones.</p>
                    <p  style="color: #7fff7f;">Esto permite a los Usuarios cargar sus propias estrategias ganadoras</p>
                    <p >Para cargar, operar y compartir tu propia estrategia comunicate con nosotros</p>
                    <a href="/" class="btn btn-success">Volver</a>
                </div>
            </div>
        </div>
    </div>
</div>



{% include 'layouts/layout_footer.html' %}
{% endblock %}
