{% extends "layouts/layout_detalle_productos.html" %}
{% block title %}Bot Automático{% endblock %}
{% block content %}
<div class="container my-5">
    <div class="container-fluid" id="cardIndex">
        <div class="container py-4 row justify-content-center m-auto">
            <div class="row py-3 justify-content-center">
                <div class="col-md-6 p-4 card card-body cardIndexPlanes"> 
                    <h2 class="card-title">Bot Automático</h2>
                    <h4 class="planes-titulo" style="color: gold; font-size: 24px;">Actúa Automáticamente</h4>
                    <h4 class="planes-titulo" style="color: white; font-size: 24px;">Automático y: <span class="planes-sub-titulo" style="color: white; font-size: 18px;">Semi automatizado</span></h4>
                    <hr class="separator">
                    <p style="margin-bottom: 5px;">Beneficios diarios y por mes</p>
                    <p style="margin-bottom: 5px;">Retorno de capital: <span style="color: white; background-color: green; border-radius: 5px; font-size: 14px; padding-left: 10px; padding-right: 10px;">Sí</span></p>
                    <p style="margin-bottom: 5px;">Costo: $ 15 + <span style="color: white; background-color: green; border-radius: 5px; font-size: 14px; padding-left: 10px; padding-right: 10px;">6 % Retorno de Capital </span></p>
                    <p style="margin-bottom: 5px; color: #7fff7f;">El costo es en dolares y el porcentaje es en pesos.</p>
                    <p>Este sistema de trading automático ha sido cuidadosamente diseñado para operar con instrumentos tanto del mercado argentino como del estadounidense. Se activa automáticamente todos los días a la misma hora, realiza las operaciones necesarias y luego se apaga hasta el día siguiente, garantizando una gestión eficiente y sin intervención manual.</p>
                    <p style="color: #7fff7f;">Además, contamos con un sistema semiautomático que permite a los usuarios operar directamente desde la plataforma sin necesidad de recurrir a un broker. Este sistema ofrece la conveniencia de realizar operaciones a la hora deseada, brindando a los usuarios un mayor control sobre sus inversiones.</p>
                    <form id="subscriptionForm" action="/pago" method="GET">
                        <input type="hidden" id="costo_base" name="costo_base" value="15">
                        <input type="hidden" id="porcentaje_retorno" name="porcentaje_retorno" value="6">
                        <button id="subscribeButton" class="card-button btn-success long-button" style="margin-top: 20px;" type="submit">Suscribir ahora</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="color: black;">
                <h5 class="modal-title" id="loginModalLabel" style="color: black;">Inicie sesión</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="color: black;">
               <h3> Debe iniciar sesión para suscribirse.</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="loginRedirectButton">Aceptar</button>
            </div>
        </div>
    </div>
</div>

{% include 'layouts/layout_footer.html' %}

<script>
document.getElementById('subscribeButton').addEventListener('click', function(event) {
    event.preventDefault();
    if (!localStorage.getItem('acces_token')) {
        $('#loginModal').modal('show');
    } else {
        document.getElementById('subscriptionForm').submit();
    }
});

document.getElementById('loginRedirectButton').addEventListener('click', function() {
    window.location.href = '/';
});
</script>
{% endblock %}

