body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
}

.createSubscription {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin-right: 20px;
    text-align: center;
    position: relative;
}

.createSubscription h1 {
    margin-top: 0;
}

.createSubscription label {
    display: block;
    margin: 10px 0 5px;
    color: yellow; /* Color amarillo para todos los labels */
}

.createSubscription input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.createSubscription button {
    width: 100%;
    padding: 10px;
    background: #e94b35;
    border: none;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}

.createSubscription button:hover {
    background: #d53a2e;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #999;
    text-decoration: none;
    z-index: 999;
}

.close-button:hover {
    color: #333;
}

.card {
    margin-top: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-title {
    margin-bottom: 20px;
    color: yellow; /* Color amarillo para el título */
}

.form-group {
    margin-bottom: 20px; /* Adds space between form groups */
}

.btn-primary {
    background: #007bff;
    border: none;
}

.btn-primary:hover {
    background: #0056b3;
}

.text-yellow {
    color: yellow; /* Clase para texto amarillo */
}
