<<<<<<< HEAD
.form-group {
    position: relative;
    margin-bottom: 15px;
  }

  .form-control {
    width: 100%;
    padding-right: 40px; /* Espacio para el ícono */
    box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño total del input */
  }

  .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    margin-top: 1px; /* Ajusta la posición vertical del ícono */
=======
.form-group {
    position: relative;
    margin-bottom: 15px;
  }

  .form-control {
    width: 100%;
    padding-right: 40px; /* Espacio para el ícono */
    box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño total del input */
  }

  .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    margin-top: 1px; /* Ajusta la posición vertical del ícono */
>>>>>>> c771be39e03a9cc8cb8ab015daa471515565c719
  }