body {
  background: #000;
  color: #fff;
}
container {
  background: #0f0;
}
#mensaje_correo_electronico {
  font-size: small;
  
  margin-bottom: 20px;
  margin-right: 20px;
}
#mensaje_cuentaBroker {
  font-size: small;  
  margin-bottom: 20px;
  margin-right: 20px;
}
#mensaje_simulado {
  font-size: small; 
  margin-bottom: 20px;
  margin-right: 20px;
}