{% with messages = get_flashed_messages()%}
{% if messages %}
{% for message in messages%}  
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
{% endfor %}
{% endif %}
{% endwith %}

{% if layout == 'layout'%}
    {% extends 'layouts/layout.html' %}
{% endif %}

{% if layout == 'layout_fichas'%}
    {% extends 'layouts/layout_fichas.html' %}
{% endif %}

{% if layout == 'layoutConexBroker' %}
   {% extends 'layouts/layoutConexBroker.html' %}    
{% endif %}



{% block content%}

<div class = 'container p-4'>
    <div class="container p-4 text-center">
        <button type="button" class="btn btn-success mx-2" data-bs-toggle="modal" data-bs-target="#IngresaValorFicha"><strong>RECIBIR</strong></button>

    </div>
                    
    <table class="table table-dark table-striped"  id="tablaDatos">
        <thead>           
            <tr>
                <th scope="col">Ficha</th>               
                <th scope="col">Inicial</th>               
                <th scope="col">Capitalizacion</th>
                <th scope="col">Estado</th>                     
                <th scope="col">Operaciones</th>
            </tr>            
        </thead>
        <tbody>
            {% for fichas in datos %}
                {% if fichas.ficha.user_id != usuario_id %}
                    <tr>
                        <th scope="row">{{fichas.id}}</th>                      
                        <td>{{ fichas.ficha.monto_efectivo }}</td>                        
                        <td>{{ fichas.ficha.interes }}%</td>
                        <td>{{fichas.estado_traza }}</td>                                                       
                        <td class="d-flex"> 
            
                        
                                <button type="button" class="btn btn-primary my-2" data-bs-toggle="modal" data-bs-target="#seleccionarUsuarioModal">Asignar</button>

                                <button type="button" class="btn btn-danger mx-2" data-bs-toggle="modal" data-bs-target="#reportarFichaModal"  data-ficha-id="{{ fichas.id }}" data-ficha-idFicha="{{ fichas.idFicha }}" onclick="setFichaDataReportar( this.getAttribute('data-ficha-id'), this.getAttribute('data-ficha-idFicha'))">Reportar</button>
                            </td>
                    </tr>
                {% endif %}    
            {% endfor %}
        </tbody>
    </table>


    <div class="modal fade" id="IngresaValorFicha" tabindex="-1" aria-labelledby="IngresaValorFichaModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content border shadow">
                <div class="modal-header">
                </div>
                
                <form id="tomarFicha" action="/fichas-tomar" method="POST">
                    <div class="modal-body">
                        <h6 style="color: blue; margin-bottom: 10px;">INGRESAR TOKEN</h6>
                        <input type="text" id="tokenInput" class="form-control" name="tokenInput" placeholder="Ingresa tu token">
                        <input type="hidden" id="access_token_forma" name="access_token_forma" >
                        <input type="hidden" id="layoutOrigen" name="layoutOrigen" value="layout">
                        <h2 class="modal-title text-center" id="valorllave" style="color: green;  100px; text-align: center;"></h2>
                    
                   
                    </div>
                    <div class="modal-footer">                  
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"  id="aceptarBtn">Aceptar</button>
                    </div>
                </form>    
            </div>
        </div>
    </div>




    <div class="modal fade" id="reportarFichaModal" tabindex="-1" aria-labelledby="reportarFichaModal" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="reportarFichaModal">Reportar Ficha</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="reportarFichaForm" action="/reportar-ficha" method="POST">
            <div class="modal-body">
                <input type="hidden" id="access_token" name="access_token">
                <input type="hidden" id="reportarFichaId" name="reportarFichaId">
                <input type="hidden" id="reportaridFicha" name="reportaridFicha">
                <input type="hidden" name="layoutOrigen"  id="layoutOrigen"  class="form-control" value='layout_fichas'> 
                                
                <p class="fw-bold text-dark" style="color: black;">¿Está seguro de que desea reportar esta ficha?</p>
                <p class="fw-bold text-dark" style="color: black;">Si reporta esta ficha se bloqueara la cuenta del emisor</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-danger">Reportar</button>
            </div>
            </form>
            
        </div>
        </div>
   </div>




   <div class="modal fade" id="seleccionarUsuarioModal" tabindex="-1" aria-labelledby="seleccionarUsuarioModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="seleccionarUsuarioModalLabel" style="color: black;" >Seleccionar Usuario</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul>
            {% for usuario in usuarios %}
            <ul>
            </ul>
              <li>
                <button type="button" class="btn btn-primary" onclick="seleccionarUsuario('{{ usuario.id }}', '{{ usuario.nombre }}')">{{ usuario.nombre }}</button>
              </li>
            
            {% endfor %}
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

    <script>
    ////cuando se abre el modal se llama la funcion para cargar los usuarios
    document.getElementById('seleccionarUsuarioModal').addEventListener('shown.bs.modal', function () {
        cargarUsuarios();
    });

        function setFichaDataReportar(fichaId,idFicha) {
            var accessToken = localStorage.getItem('access_token');
            var access_token_element = document.getElementById('access_token');
            var reportarFichaId_element = document.getElementById('reportarFichaId');
            var reportarIdFicha_element = document.getElementById('reportaridFicha');
           
            // Verifica si los elementos existen antes de intentar establecer sus valores
           
                access_token_element.value = accessToken;
                reportarFichaId_element.value = fichaId;
                reportarIdFicha_element.value = idFicha;
            
      }

        document.addEventListener('DOMContentLoaded', function() {
            var IngresaValorFicha = document.getElementById('IngresaValorFicha');
            IngresaValorFicha.addEventListener('click', function() {
                document.getElementById('tokenInput').value = '';
                document.getElementById('valorllave').textContent = '';
            });
        
            var aceptarBtn = document.getElementById('aceptarBtn');
            var tomarFichaForm = document.getElementById('tomarFicha');
            
            aceptarBtn.addEventListener('click', function() {
                // Obtener el valor del token ingresado
                var tokenInputValue = document.getElementById('tokenInput').value;
        
                // Verificar si el valor es un número y no está vacío
                if (!isNaN(tokenInputValue) && tokenInputValue.trim() !== '') {
                    var tokenForm = localStorage.getItem('access_token');
                    var layoutOrigen = "{{ layout }}";
                    document.getElementById('layoutOrigen').value = layoutOrigen;
                    document.getElementById('access_token_forma').value = tokenForm;
        
                    // Envía el formulario
                    tomarFichaForm.submit();
                } else {
                    // Muestra un mensaje de error o toma la acción que desees
                    alert('Ingresa un número válido en el campo del token.');
                }
            });
        });
        



//cuando se abre el modal se llama la funcion para cargar los usuarios
document.getElementById('seleccionarCuentaModal').addEventListener('shown.bs.modal', function () {
    cargarCuentas();
  });
  document.getElementById('seleccionarUsuarioModal').addEventListener('shown.bs.modal', function () {
    cargarUsuarios();
  });
  function cargarUsuarios() {
    fetch('/usuariosModal/')
      .then(response => response.json())
      .then(data => {
        const usuarios = data.usuarios;  // Suponiendo que la respuesta JSON contiene una propiedad "usuarios" con los datos de los usuarios
        const ul = document.querySelector('.modal-body ul');
        ul.innerHTML = '';  // Limpia la lista existente
  
        usuarios.forEach(usuario => {
          const li = document.createElement('li');
          const button = document.createElement('button');
          button.type = 'button';
          button.className = 'btn btn-primary';
          button.innerText = usuario.nombre;
          button.addEventListener('click', () => {
            seleccionarUsuario(usuario.id, usuario.nombre);
          });
  
          li.appendChild(button);
          ul.appendChild(li);
        });
      })
      .catch(error => console.error(error));
  }



    </script>
        

</div>
{%endblock%}
 