{% if layout == 'layout' %}
    {% extends 'layouts/layout.html' %}
{% elif layout == 'layout_fichas' %}
    {% extends 'layouts/layout_fichas.html' %}
{% elif layout == 'layoutConexBroker' %}
    {% extends 'layouts/layoutConexBroker.html' %}
{% elif layout == 'layout_signal' %}
    {% extends 'layouts/layout_signal.html' %}
{% endif %}

{% block title %}createSubscription{% endblock %}

{% block content %}
<div class="container mt-5">
    <div id="promotionsCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for promotion in promotions %}
            <div class="carousel-item {% if loop.first %}active{% endif %}">
                <div class="card">
                    <img src="{{ promotion.image_url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ promotion.title }}</h5>
                        <p class="card-text">{{ promotion.description }}</p>
                        <p class="card-text"><strong>Price: </strong>{{ promotion.price }} ARS</p>
                        <p class="card-text"><strong>Discount: </strong>{{ promotion.discount }}%</p>
                        <form id="carrucelOpcionesOfertasForm" onsubmit="handleFormSubmit(event)">
                            <input type="hidden" id="costo_base" name="costo_base" value="17">
                            <input type="hidden" id="porcentaje_retorno" name="porcentaje_retorno" value="0">
                            <button class="card-button btn-success long-button" style="margin-top: 20px;" type="submit">Donar $17</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#promotionsCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#promotionsCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    {% endblock %}