{% if layout == 'layout' %}
    {% extends 'layouts/layout.html' %}
{% elif layout == 'layout_fichas' %}
    {% extends 'layouts/layout_fichas.html' %}
{% elif layout == 'layoutConexBroker' %}
    {% extends 'layouts/layoutConexBroker.html' %}
{% elif layout == 'layout_signal' %}
    {% extends 'layouts/layout_signal.html' %}
{% endif %}

{% block title %}createSubscription{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="form-group">
          
            <select class="form-control" id="brokerSelect" onchange="redirectBroker()">
                <option value="" selected disabled>links</option>
                <option value="https://www.mercadopago.com.ar/developers/es/reference/subscriptions/_preapproval/post">suscripciones</option>
                <option value="https://www.youtube.com/watch?v=LHWRwd-FWr8&list=PLeJgM44JQrILyXsy-tu3MFEAWw27IgoPS&index=4">video</option>
               
            </select>
        </div>


        <div class="col-md-6">
            <div class="card">
                <div class="card-body createSubscription">
                    <h1 class="card-title text-center text-black">Crear Planes</h1>
                    <form>
                        <div class="form-group">
                            <label for="frequency" class="text-black">Frecuencia:</label>
                            <input type="number" class="form-control" id="frequency" placeholder="Frecuencia">
                        </div>
                        <div class="form-group">
                            <label for="amount" class="text-black">Monto:</label>                           
                            <input type="text" class="form-control" id="amount" placeholder="Monto">
                        </div>
                        <div class="form-group">
                            <label for="reason" class="text-black">Motivo:</label>
                            <input type="text" class="form-control" id="reason" placeholder="Motivo">
                        </div>
                        <div class="form-group">
                            <label for="frequency_type" class="text-black">Frecuencia:</label>
                            <input type="text" class="form-control" id="frequency_type" placeholder="Mensual" value = "months">
                        </div>
                        <div class="form-group">
                            <label for="currency_id" class="text-black">Moneda:</label>
                            <input type="text" class="form-control" id="currency_id" placeholder="ARS" value="ARS">
                        </div>
                        <div class="form-group">
                            <label for="repetitions" class="text-black">Repeticiones:</label>
                            <input type="number" class="form-control" id="repetitions" placeholder="Repeticiones" value="12">
                        </div>
                        <div class="form-group">
                            <label for="billing_day" class="text-black">Día de facturación:</label>
                            <input type="number" class="form-control" id="billing_day" placeholder="Día de facturación" value="10">
                        </div>
                        <button type="button" class="btn btn-primary btn-block mt-4" onclick="createPlan()">Crear Suscripción</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'layouts/layout_footer.html' %}

<script>
    //redirige a los links
    function redirectBroker() {
        var select = document.getElementById('brokerSelect');
        var selectedValue = select.value;
        if (selectedValue) {
          window.open(selectedValue, '_blank');
        }
    }




    function createPlan() {
        // Obtener los valores de frecuencia, monto y motivo
        const frequency = document.getElementById('frequency').value;
        const frequency_type = document.getElementById('frequency_type').value;
        const amount = document.getElementById('amount').value;
        const reason = document.getElementById('reason').value;
        const currency_id = document.getElementById('currency_id').value;
       // Obtener los valores de repeticiones y día de facturación
       const repetitions = document.getElementById('repetitions').value;
       const billing_day = document.getElementById('billing_day').value;
   
       // Crear objeto de datos a enviar al servidor
       const data = {
           frequency: parseInt(frequency),
           amount: parseFloat(amount),
           reason: reason,
           frequency_type: frequency_type,
           currency_id: currency_id,
           repetitions: parseInt(repetitions),
           billing_day: parseInt(billing_day)
       };
   
    
        // Enviar los datos al servidor mediante una solicitud HTTP
        fetch('/create_preapproval_plan/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
            // Manejar la respuesta del servidor
            console.log(data);
            alert('Plan de preaprobación creado con éxito. ID: ' + data.id);
           
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Error al crear la suscripción');
        });
    }
    
</script>
{% endblock %}