{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages%}  
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
{% endfor %}
{% endif %}
{% endwith %}
{% if layout == 'layout_administracion' %}
   {% extends 'layouts/layout_administracion.html' %}    
{% endif %}
{% if layout == 'layout' %}
{% extends 'layouts/layout.html'%}    
{% endif %}

{% block content%}

<div class="cart-container"> 
    <h3 style="color:black;" data-translate="carrito_compras">Carrito de Compras</h3>

    {% for pedido in data %}
    <div class="cart-item" data-precio="{{ pedido.precio_venta }}" data-id="{{ pedido.id }}">
        {% if pedido.imagen_url %}
        <img src="{{ pedido.imagen_url }}" alt="Imagen del producto" class="product-image">
        {% else %}
        <img src="default.jpg" alt="Producto sin imagen" class="product-image">
        {% endif %}
        <div class="product-details">
            
            <h2>{{ pedido.nombre_producto }}</h2>
            <p class="price">Precio: <span class="unit-price">{{ pedido.simbolo }} {{ pedido.precio_venta }}</span></p>
            <label for="quantity-{{ pedido.id }}">Cantidad:</label>
           
            <input type="number" id="quantity-{{ pedido.id }}" name="quantity" class="quantity-input" value="{{ pedido.cantidad or 1 }}" min="1">
            <button class="remove-button" data-pedido-id="{{ pedido.id }}">Eliminar</button>
          
        </div>
    </div>
    {% endfor %}
    <div class="cart-summary">
        <div class="summary-details">
            <p>Subtotal:{{ simbolo }} <span id="subtotal"></span></p>
            <p>Total:{{ simbolo }} <span id="total"></span></p>
        </div>
    
        <div class="buttons-container">
            <button id="return-button" onclick="goBack()">Volver</button>
    
            <form id="sistemaDePagos_pagoPedidos" method="POST" action="/sistemaDePagos_pagoPedidos/">
                <input type="hidden" id="access_token_btn_finalizarPago" name="access_token_btn_finalizarPago">
                <input type="hidden" id="correo_electronico_btn_finalizarPago" name="correo_electronico_btn_finalizarPago"> 
                <input type="hidden" id="productoComercial" name="productoComercial" value='finalizarPago'> 
                <input type="hidden" id="cluster_btn_finalizarPago" name="cluster_btn_finalizarPago" value='1'>        
                <input type="hidden" id="ambito_btn_finalizarPago" name="ambito_btn_finalizarPago">
                <input type="hidden" id="boton_pagoOnline" name="boton_pagoOnline" > 
                <input type="hidden" id="layoutOrigen" name="layoutOrigen" value="layout">
                <input type="hidden" id="pedido_data" name="pedido_data">
                <input type="hidden" id="calendly_url" name="calendly_url">
                <input type="hidden" id="nombrePublicacionUsuario" name="nombrePublicacionUsuario">

                <!-- Campo oculto para enviar el total -->
                <input type="hidden" id="total_pago" name="total_pago" >
    
                <button class="card-button btn-success long-button" type="submit" style="color: green;">Continuar</button>

            </form>
        </div>
    </div>
    
    


  
</div>


  
{% include 'layouts/layout_footer.html' %}  

{% include 'layouts/layout_carrito.html' %}  
<!-- Enlaces a scripts de JavaScript -->
<link rel =  "stylesheet" href = "{{ url_for('static',filename='css/productos/carritoCompras.css')}}"> 
<script src="{{ url_for('static', filename='js/productosComerciales/pedidos/carritoCompras.js') }}"></script>
<script src="{{ url_for('static', filename='js/productosComerciales/pedidos/pedido.js') }}"></script>
<script src="{{ url_for('static', filename='js/i18n.js') }}"></script>
<script>
    // Convertir 'data' a JSON de forma segura para evitar errores de sintaxis
    var data = {{ data|tojson }};
    
    // Validar que 'data[0]' y 'pagoOnline' existan antes de acceder a ellos
    var botonPedidoOnline = (Array.isArray(data) && data.length > 0 && data[0].pagoOnline) 
        ? data[0].pagoOnline 
        : "";

    console.log("Valor de botonPedidoOnline:", botonPedidoOnline);

    // Asignar el valor al input (si el elemento existe en el DOM)
    var inputElement = document.getElementById("boton_pagoOnline");
    if (inputElement) {
        inputElement.value = botonPedidoOnline;
    }

    calendly_url = (Array.isArray(data) && data.length > 0 && data[0].calendly_url) 
        ? data[0].calendly_url 
        : "";
    console.log("Valor de calendly_url:", calendly_url);
    // Asignar el valor al input (si el elemento existe en el DOM)
    var inputElement = document.getElementById("calendly_url");
    if (inputElement) {
        inputElement.value = calendly_url;
    }
    nombrePublicacionUsuario = (Array.isArray(data) && data.length > 0 && data[0].nombrePublicacionUsuario) 
        ? data[0].nombrePublicacionUsuario 
        : "";
    console.log("Valor de nombrePublicacionUsuario:", nombrePublicacionUsuario);
    // Asignar el valor al input (si el elemento existe en el DOM)
    var inputElement = document.getElementById("nombrePublicacionUsuario");
    if (inputElement) {
        inputElement.value = nombrePublicacionUsuario;
    }

</script>


{% endblock %}
