{% if layout == 'layout' %}
    {% extends 'layouts/layout.html' %}
{% elif layout == 'layout_fichas' %}
    {% extends 'layouts/layout_fichas.html' %}
{% elif layout == 'layoutConexBroker' %}
    {% extends 'layouts/layoutConexBroker.html' %}
{% elif layout == 'layout_signal' %}
    {% extends 'layouts/layout_signal.html' %}
{% elif layout == 'layout_administracion' %}
    {% extends 'layouts/layout_administracion.html' %}
{% endif %}
{% block content %}

<div class="container mt-auto">
    <div class="text-center mensaje">
        <h5>Ingresa tus datos para recibir tu pedido!</h5>
    </div>
    <div class="row justify-content-center">
        <!-- Columna izquierda vacía -->
        <div class="col-md-3"></div>

        <!-- Columna central con la tarjeta -->
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <div class="carousel-item  carrucelPromociones">
                <div class="row justify-content-center">
                    {% for pedido in pedidos %}
                        <div class="col-md-12">
                            <div class="card  carrucelPromociones text-center shadow-tarj">
                                <div class="card-header  carrucelPromociones">
                                    Datos del pedido
                                </div>
                                <div class="card-body  carrucelPromociones">
                                    <h5 class="card-title  carrucelPromociones">{{ pedido.reason }}</h5>
                                    <p class="card-text  carrucelPromociones">{{ pedido.price }} {{ pedido.currency_id }} c/u</p>
                                    {% if pedido.discount > 0 %}
                                        <p class="card-text ahorro">Descuento: {{ pedido.discount }}%</p>
                                    {% endif %}
                                    <div id="datosCliente">
                                        <input type="text" id="nombreCliente" name="nombreCliente" class="form-control" placeholder="Nombre" required>
                                        <input type="text" id="apellidoCliente" name="apellidoCliente" class="form-control" placeholder="Apellido" required>
                                        <input type="text" id="direccionCliente" name="direccionCliente" class="form-control" placeholder="Dirección" required>
                                        <input type="text" id="telefonoCliente" name="telefonoCliente" class="form-control" placeholder="Teléfono" required>
                                        <input type="email" id="emailCliente" name="emailCliente" class="form-control" placeholder="Email" required>
                                        <textarea id="comentariosCliente" name="comentariosCliente" class="form-control" placeholder="Comentarios" rows="3"></textarea>
                                    </div>

                                      {% include 'productosComerciales/pedidos/seleccionPagoReserva.html' %}

                                      
                                   
                                    <form class="formClientePedidoJs" id="form-cliente-pedido">
                                        <input type="hidden" id="ambito_pagoPedido" name="ambito_pagoPedido" value="{{ pedido.ambito }}">
                                        <input type="hidden" id="pedido_data_json_pagoPedido" name="pedido_data_json_pagoPedido" value="{{ pedido.pedido_data_json }}">
                                        <input type="hidden" id="cluster_pedido" name="cluster_pedido" value="{{ pedido.cluster }}">
                                       
                                    </form>
                                    
                                        <form class="pagoPedidoForm">
                                            <input type="hidden" id="accessToken_pagoPedido" name="accessToken_pagoPedido" value="">
                                            <input type="hidden" id="ambito_pagoPedido" name="ambito_pagoPedido" value="{{ pedido.ambito }}">
                                            <input type="hidden" id="reason" name="reason" value="{{ pedido.reason }}">
                                            <input type="hidden" id="costo_base" name="costo_base" value="{{ pedido.price }}">
                                            <input type="hidden" id="currency_id" name="currency_id" value="{{ pedido.currency_id }}">
                                            <input type="hidden" id="discount" name="discount" value="{{ pedido.discount }}">
                                            <input type="hidden" id="porcentaje_retorno" name="porcentaje_retorno" value="0">
                                            <input type="hidden" id="pedido_data_json_pagoPedido" name="pedido_data_json_pagoPedido" value="{{ pedido.pedido_data_json }}">
                                            <input type="hidden" id="cluster_pedido" name="cluster_pedido" value="{{ pedido.cluster }}">
                                            
                                        </form>
                                    
                                     
                                </div>
                            </div>
                        </div>

                        
                            <!-- Modal de Calendly -->
                            <div class="modal fade" id="calendlyModal" tabindex="-1" aria-labelledby="calendlyModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="calendlyModalLabel" style="color: black;">Agenda una Cita</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                                        </div>
                                        <div class="modal-body">
                                            <h5 style="color: black;">Agenda una cita con {{ pedido.nombrePublicacionUsuario }}</h5>

                                            {% if pedido.calendly_url %}
                                                <div class="calendly-inline-widget" data-url="{{ pedido.calendly_url }}" style="min-width:320px;height:700px;"></div>
                                            {% else %}
                                                <p style="color: black;">Este usuario aún no ha configurado su calendario de citas.</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Columna derecha vacía -->
        <div class="col-md-3"></div>
    </div>



    <!-- Modal oculto -->
<div id="modalPagoPaypal" class="modal-pago">
  <div class="modal-contenido">
    <span class="cerrar-modal" onclick="cerrarModalPago()">&times;</span>
    <h2>Confirmar Pago</h2>
    <div id="paypal-button-container"></div>
  </div>
</div>




    
</div>


{% include 'layouts/layout_footer.html' %}

<!-- Script de Calendly (colocarlo fuera del modal) -->
 <script src="https://www.paypal.com/sdk/js?client-id=AUw65LiG49k2wypTtf_g9kk1Qq9DZ1pFbWVfkpBKFUmJ9_A4GtfZuXhCZB9m0qrsuOr--wgEXjg1fk8S&currency=USD"></script>

<script src="https://assets.calendly.com/assets/external/widget.js" async></script>

<script src="{{url_for('static',filename='js/sistemaDePagos/pagoPedidos.js')}}"></script>
<script src="{{url_for('static',filename='js/productosComerciales/pedidos/procesaPedido.js')}}"></script>
 <link rel="stylesheet" href="{{ url_for('static', filename='css/sistemaDePagos/paypalmodal.css') }}">
{% endblock %}
