{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages%}  
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
{% endfor %}
{% endif %}
{% endwith %}
{% if layout == 'layout_administracion' %}
   {% extends 'layouts/layout_administracion.html' %}    
{% endif %}
{% if layout == 'layout' %}
{% extends 'layouts/layout.html'%}    
{% endif %}

{% block content %}
<div class="container mt-4">
  <h2 class="text-center text-white">Gestión de Pedidos</h2>
  <table class="table table-dark table-striped table-hover rounded p-3">
      <thead>
          <tr>
              <th>
                  Fecha de Entrega
                  <select id="filtroFecha" class="form-control form-control-sm" onchange="filtrarTabla()">
                      <option value="">Todos</option>
                      <!-- Opciones generadas dinámicamente -->
                  </select>
              </th>
              <th>
                  Nombre
                  <select id="filtroNombre" class="form-control form-control-sm" onchange="filtrarTabla()">
                      <option value="">Todos</option>
                      <!-- Opciones generadas dinámicamente -->
                  </select>
              </th>
              <th>
                  Dirección
                  <select id="filtroDireccion" class="form-control form-control-sm" onchange="filtrarTabla()">
                      <option value="">Todos</option>
                      <!-- Opciones generadas dinámicamente -->
                  </select>
              </th>
             
              <th>
                  Actual
                  <select id="filtroEstado" class="form-control form-control-sm" onchange="filtrarTabla()">
                      <option value="">Todos</option>
                      <option value="Pendiente">Pendiente</option>
                      <option value="Entregado">Entregado</option>
                      <option value="Cancelado">Cancelado</option>
                  </select>
              </th>
              
              <th>Total</th>
              <th>Estado</th>
              <th>Acciones</th>
          </tr>
      </thead>
      <tbody id="tablaPedidosEntrega">
          {% for pedido in data %}
          <tr>
              <td>{{ pedido.fecha_entrega.strftime('%d/%m/%Y') if pedido.fecha_entrega else '' }}</td>
              <td>{{ pedido.nombreCliente }}</td>
              <td>{{ pedido.lugar_entrega }}</td>              
              <td>{{ pedido.estado }}</td>
              <td>{{ pedido.precio_venta }}</td>
               <td>
                <input type="checkbox" class="estado-checkbox" onchange="actualizarEstado({{ pedido.id }}, this)" 
                       {{ 'checked' if pedido.estado == 'entregado' else '' }}>
               </td>
              <td>
               
      
                  <button class="btn btn-primary btn-sm" onclick="mostrarDetalles({{ pedido.id }})">
                      Detalle
                  </button>
                  <button class="btn btn-primary btn-sm" onclick="datosDelCliente({{ pedido.id }})">
                    Cliente
                </button>
                             
                  <button class="btn btn-danger btn-sm" onclick="cancelarPedido({{ pedido.id }})">
                      Cancelar
                  </button>
                 
              </td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
</div>

<!-- Modal para mostrar detalles -->
<div class="modal fade" id="modalDetallePedido" tabindex="-1" aria-labelledby="modalDetallePedidoLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content bg-dark text-white rounded">
          <div class="modal-header border-bottom border-secondary">
              <h5 class="modal-title" id="modalDetallePedidoLabel">Detalle del Pedido</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <table class="table table-dark table-striped table-hover rounded">
                  <thead>
                      <tr>
                          <th>Nombre</th>
                          <th>Cantidad</th>
                          <th>Consulta</th>
                          <th>Precio</th>
                      </tr>
                  </thead>
                  <tbody id="detallePedidoBody">
                      <!-- Se llenará dinámicamente -->
                  </tbody>
              </table>
          </div>
          <div class="modal-footer border-top border-secondary">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
      </div>
  </div>
</div>


{% include 'layouts/layout_footer.html' %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/productos/ventasProductosComerciales.css') }}"> 
<script src="{{ url_for('static', filename='js/productosComerciales/ventas/ventas.js') }}"></script>  
{% endblock %}

  
