body {
    font-family: Arial, sans-serif;
    background-color: #131313;
    margin: 0;
    padding: 0;
}

.container_galeria_imagenes {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.post-card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.post-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.post-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
}

.post-options {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    margin-top: 10px;
}

.option {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.option .icon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

/* General modal styles */
.modal_creaPublicacion {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Black with opacity */
}

/* Modal content */
.modal-content_creaPublicacion {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered horizontally */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Default width */
    max-width: 600px; /* Maximum width */
    border-radius: 8px; /* Rounded corners */
    position: relative;
}

/* Close button */
.close_creaPublicacion {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/* Close button on hover */
.close_creaPublicacion:hover,
.close_creaPublicacion:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Responsive design for small screens */
@media (max-width: 600px) {
    .modal-content_creaPublicacion {
        width: 95%; /* Full width on small screens */
        margin-top: 10%; /* Adjust margin */
    }
}

/* Style for the media icon button */
.media-icon-button_creaPublicacion {
    display: flex;
    align-items: center;
    cursor: pointer;
    background: none;
    border: none;
    padding: 10px;
}

.media-icon-button_creaPublicacion img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.media-icon-button_creaPublicacion span {
    font-size: 14px;
}

/* Style for the media container */
.media-container_creaPublicacion {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Adjust the size as needed */
    gap: 10px;
    margin-top: 10px;
}

/* Style for images and videos inside the container */
.media-container_creaPublicacion img,
.media-container_creaPublicacion video {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    object-fit: cover;
}

.cropper-container {
    max-width: 100%;
    max-height: 80vh;
    overflow: hidden;
}

.cropper-container img {
    width: 100%;
    height: auto;
}

/* Modal styles for media */
.image-modal_creaPublicacion {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Black with opacity */
}

/* Modal content */
.image-modal-content_creaPublicacion {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered horizontally */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Default width */
    max-width: 600px; /* Maximum width */
    border-radius: 8px; /* Rounded corners */
    position: relative;
}

/* Close button */
.close-image_creaPublicacion {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/* Close button on hover */
.close-image_creaPublicacion:hover,
.close-image_creaPublicacion:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Media inside the modal */
#modalImage_creaPublicacion {
    width: 100%;
    height: auto;
    max-height: 80vh; /* Limit height for better view */
    object-fit: contain; /* Maintain aspect ratio */
}

.thumbnail_creaPublicacion {
    max-width: 100px;
    max-height: 100px;
    cursor: pointer;
}






.icon-small {
    width: 24px;
    height: 24px;
}
/* Styles for the input group */
.input-group_creaPublicacion {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust the gap as needed */
}

.media-icon-button_creaPublicacion {
    display: flex;
    align-items: center;
    cursor: pointer;
    background: none;
    border: none;
    padding: 10px;
}

.media-icon-button_creaPublicacion img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.emoticon-button_creaPublicacion {
    display: flex;
    align-items: center;
    cursor: pointer;
    background: none;
    border: none;
    padding: 10px;
    font-size: 14px;
}


.modal_creaPublicacion .text-black {
    color: #000;
  }

  .black-text {
    color: rgb(255, 255, 255);
  }




  .card-media-grid-publicacion-admin {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
  }
  
  .card-media-grid-publicacion-admin img,
  .card-media-grid-publicacion-admin video {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  



  .card-publicacion-admin {
    width: 18rem; /* Tamaño fijo para las tarjetas */
    overflow: hidden; /* Asegura que el contenido no se desborde fuera de la tarjeta */
    border: 1px solid rgb(49, 49, 49); /* Borde dorado para la tarjeta */
    border-radius: 5px; /* Bordes redondeados */
    background-color: black; /* Fondo negro */
    color: #fff; /* Texto blanco */
    margin-bottom: 1rem; /* Espacio inferior entre tarjetas */
  }
  
  .card-body {
   /* color: gold; */ /* Texto dorado */
    padding: 15px;
  }
  
  .card-title {
    margin-bottom: 10px; /* Espacio debajo del título */   
    font-size: 1.25rem; /* Tamaño de fuente más grande */
    color: #fff; /* Título blanco */
    margin-bottom: 0.5rem;
  }
  
  .card-date {
    margin-bottom: 10px; /* Espacio debajo de la fecha */
    font-size: 0.9em; /* Tamaño del texto de la fecha */
    color: #02ccff; /* Color del texto de la fecha */
  }
  
  .card-text {
    color: #fff; /* Texto blanco */
    margin-bottom: 15px; /* Espacio debajo del texto de la publicación */
    font-size: 1em; /* Tamaño del texto de la publicación */
  }
  
  .card-media-grid-publicacion-admin {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
  }
  
  .card-media-grid-publicacion-admin img,
  .card-media-grid-publicacion-admin video {
    width: 100%;
    height: auto;
    max-height: 150px;
    object-fit: cover;
  }
  
  .btn-modificar-eliminar {
    display: flex;
    width: 100%;
    border: 2px solid gold;
    border-radius: 5px;
  }
  
  .btn-modificar-eliminar button {
    flex: 1;
    border: none;
    padding: 10px;
    color: gold;
    background-color: black;
    cursor: pointer;
    font-weight: bold;
  }
  
  .btn-modificar-eliminar button:hover {
    background-color: darkgray;
  }
  
  .btn-modificar-eliminar .btn-modificar {
    border-right: 2px solid gold;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .btn-modificar-eliminar .btn-eliminar {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  









 /* Estilo para el fondo del modal */
.modal-image-publicacion {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Fondo semi-transparente */
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Estilo para el contenido del modal */
.modal-content {
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  position: relative;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90%; /* Limita el ancho máximo a un 90% de la pantalla */
  max-height: 90%; /* Limita la altura máxima a un 90% de la pantalla */
  padding: 0;
  overflow: hidden;
}

/* Grilla para las imágenes dentro del modal */
.modal-image-grid {
  display: flex;
  flex-direction: row; /* Alinea las imágenes horizontalmente */
  overflow-x: auto; /* Permite el desplazamiento horizontal */
  scroll-snap-type: x mandatory; /* Ajuste para un deslizamiento más suave */
  gap: 10px; /* Espacio entre imágenes */
  padding: 10px;
  max-width: 100%;
  max-height: 100%;
}

/* Estilo para las imágenes dentro del modal */
.modal-image-grid img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Ajusta la imagen al tamaño del contenedor sin distorsión */
  scroll-snap-align: start; /* Alinea las imágenes al borde al deslizar */
  border-radius: 5px;
}

/* Ajuste adicional para evitar espacio innecesario */
.modal-content img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Ajuste de la imagen sin distorsión */
}

/* Para dispositivos móviles */
@media (max-width: 768px) {
  .modal-content {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .modal-image-grid {
    padding: 0;
    gap: 5px;
  }

  .modal-image-grid img {
    max-width: 95%;
    max-height: 95%;
  }
}


/* Estilo para el botón de cerrar */
.modal-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1002; /* Asegura que el botón esté por encima del contenido */
  }
  
  /* Efecto hover para el botón de cerrar */
  .modal-content .close:hover {
    color: #f00; /* Cambia el color al pasar el cursor */
  }





  .card-publicacion-admin {
    border: 5px solid transparent; /* Borde transparente por defecto */
    transition: border-color 0.3s;
  }
  
  /* Estilos para los bordes de las tarjetas */
.card-publicacion-admin.estado-activo {
    border: 5px solid green;
  }
  
  .card-publicacion-admin.estado-inactivo {
    border: 5px solid red;
  }
  
  .card-publicacion-admin.estado-pendiente {
    border: 5px solid gold;
  }
  
  .card-text-estado.estado-activo {
    color: green;
  }
  
  .card-text-estado.estado-inactivo {
    color: red;
  }
  
  .card-text-estado.estado-pendiente {
    color: gold;
  }
  