.hidden-message-media_imagenes {
  display: none;
}

#mensaje-exitoso-media_imagenes {
  color: #28a745;
  background-color: #000000;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

#exampleModalLabel{
  color: #000000;
}

#imagen-media_imagenes {
  display: none;
}

.preview-image-container-media_imagenes {
  text-align: center;
  position: relative;
  margin-top: 10px;
  background-color: #f0f0f0; /* Fondo gris claro */
  padding: 10px; /* Opcional: agrega algo de padding alrededor de la imagen */
  border-radius: 5px; /* Opcional: redondea las esquinas */
}

.custom-file-upload-media_imagenes {
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  cursor: pointer;
  color: #ffffff; /* Color del texto del botón */
  background-color: #6c757d; /* Gris oscuro para el fondo del botón */
  border-radius: 5px;
  width: 100%; /* Ocupa todo el ancho del contenedor */
  text-align: center;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

#preview-image-media_imagenes {
  width: 100%;
  max-width: 300px;
  margin-top: 10px;
}

.close-button-media_imagenes {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 5px 8px;
  cursor: pointer;
  font-size: 12px;
}

.close-button-media_imagenes:hover {
  background-color: #d32f2f;
}

#color-picker-btn-media_imagenes {
  background-color: #0000FF8C;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

#selected-color-media_imagenes {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  vertical-align: middle;
  border: 1px solid #ccc;
  background-color: #0000FF8C;
}

.description-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.modal-content {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
}
