   
        <div id="container-carrusel" class="horizontal-padding vertical-padding"  >
          <div class="carrusel">
            <button id="button-avance" class="prev">&#10094;</button>
            <div class="carrusel-container">                
                <div class="carrusel-item" >Salud</div>                   
                <div class="carrusel-item" >laboral</div>
                <div class="carrusel-item">Negoios</div>
                <div class="carrusel-item">Regionales</div>
                <div class="carrusel-item" >Tecnología</div>
                <div class="carrusel-item" >Amistad</div>                
                <div class="carrusel-item" >Turismo</div>
                <div class="carrusel-item" >Deportes</div>
                <div class="carrusel-item" >Noticias</div>
                <div class="carrusel-item" >Música</div>
                
            </div>
            <button id="button-avance" class="next">&#10095;</button>
        </div>
      </div>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/ambitos/carrucelDominios.css') }}">
      
      <script src="{{ url_for('static', filename='js/dpis/dpi.js') }}"></script>
      <script src="{{ url_for('static', filename='js/ambitos/carrucelDominios.js') }}"></script>
     
      