{% if layout == 'layout_administracion' %}
   {% extends 'layouts/layout_administracion.html' %}   
{% endif %}

{% block content %}
<div class="container">
    <div class="row justify-content-center"> <!-- Centra el contenido horizontalmente -->
        <div class="col-md-8 text-center"> <!-- Limita el ancho y centra el texto -->
            <h2 class="mb-4">Información de Ámbitos</h2>
            <div class="text-container-sobre-nosotros">
                <img src="/static/informacion_ambitos.png" alt="Descripción de la imagen" class="img-fluid"> <!-- img-fluid hace que la imagen sea responsive -->
            </div>
        </div>
    </div>
</div>
{% endblock %}