{% extends "layouts/layout_without_navbar.html" %}
{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Salio del sistema!</h1>
 
  <hr class="my-4">
  <p>Para ir a login puedes presionar el boton.</p>
  <a class="btn btn-primary btn-lg" href="/index" role="button">Logear</a>
</div>
{% include 'layouts/layout_footer.html' %}   
<script>
  
    let dominio = localStorage.getItem('dominio');
    let codigoPostal = localStorage.getItem('codigoPostal');
    let language = localStorage.getItem('language');
    let latitude = localStorage.getItem('latitude');
    let longitude = localStorage.getItem('longitude');
    localStorage.clear();
    localStorage.setItem('dominio', dominio);
    localStorage.setItem('codigoPostal', codigoPostal);
    localStorage.setItem('language', language);
    localStorage.setItem('latitude', latitude);
    localStorage.setItem('longitude', longitude);
   
</script>
{% endblock%}