{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}  
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% extends 'layouts/layoutConexBroker.html' %}

{% block content %}
<body>
<div class="container">
  
  <div class="container" id="cardIndex">                
    <div class="card-body cardIndexTriggers">
       
          
             <div id="luz" class="luz"></div> <!-- Elemento de la luz -->
         
       
        <div class="row">
            <div class="col text-start">
                <label for="lanzar" style="color: gold;">Cantidad de Triggers</label>
            </div>
        </div>
        <div class="row">
            <div class="col text-start">
                <!-- Dentro de trigger.html -->
                <span class="badge bg-primary">{% if num_triggers %}{{ num_triggers }}{% else %}0{% endif %}</span>
            </div>
        </div>
        <div class="row"> 
            <div class="col text-start">
                <label for="horaInicio" style="color: gold;">Hora de inicio:</label>                
                <input type="time" id="horaInicio" name="horaInicio" value="12:00">
            </div>
            <div class="col text-start">
                <label for="horaFin" style="color: gold;">Hora de fin:</label>
                <input type="time" id="horaFin" name="horaFin"  value="17:00">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col text-center">
                <label for="lanzar" style="color: gold;">Lanza todos los triggers</label>
                <button id="lanzar" type="button" class="btn btn-danger w-100 mb-2" style="transition: box-shadow 0.3s;"
                        onmouseover="this.style.boxShadow='0 0 10px 5px red';" onmouseout="this.style.boxShadow='none';"
                        data-bs-toggle="modal" data-bs-target="#confirmationModal">Lanzar Shedule</button>
            
                <button id="detener" type="button" class="btn btn-success w-100" style="transition: box-shadow 0.3s;"
                        onmouseover="this.style.boxShadow='0 0 10px 5px red';" onmouseout="this.style.boxShadow='none';"
                        data-bs-toggle="modal" data-bs-target="#confirmationModalDetenerShedule">Detener Shedule</button>
            </div>
        </div>
        
    </div>
</div>


  <div class="container" id="cardIndex">                
      <div class="card-body cardIndexTriggersAzul">
          <div class="row">
              <div class="col text-start">
                  <label for="detener" style="color: gold;">Cantidad de Threads</label>
              </div>
          </div>
          <div class="row">
              <div class="col text-start">
                  <span class="badge bg-primary">{% if num_threads %}{{ num_threads }}{% else %}0{% endif %}</span>
              </div>
          </div>
          <div class="row mt-3">
              <div class="col text-center">
                  <label for="detener" style="color: gold;">Detiene todos los threads</label>
                  <button id="detener" type="button" class="btn btn-primary w-100" style="transition: box-shadow 0.3s;"
                      onmouseover="this.style.boxShadow='0 0 10px 5px blue';" onmouseout="this.style.boxShadow='none';"                    
                      data-bs-toggle="modal" data-bs-target="#detenerModal">Detener</button>
              
              </div>
          </div>
      </div>
  </div>   
</div>


<div id="logContainer">
  <!-- Aquí se mostrarán los registros -->
</div>



<!-- Modal -->
<div class="modal fade modal-gold" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationModalLabel">Confirmación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Se lanzarán procesos automáticos permanentes.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" id="btnArrancarShedule" class="btn btn-success" >Aceptar</button>
      </div>
    </div>
  </div>
</div>




<!-- Modal Detener Shedule-->
<div class="modal fade modal-gold" id="confirmationModalDetenerShedule" tabindex="-1" aria-labelledby="confirmationModalDetenerSheduleLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationModalDetenerSheduleLabel">Confirmación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Se detendran los procesos automáticos permanentes.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" id="btnDetenerShedule" class="btn btn-success" >Aceptar</button>
      </div>
    </div>
  </div>
</div>






<!-- Modal Detener threads-->
<div class="modal fade modal-gold" id="detenerModal" tabindex="-1" aria-labelledby="detenerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detenerModalLabel">Advertencia</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Está por detener los procesos permanentes.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" id="btnDetenerThreads">Aceptar</button>
      </div>
    </div>
  </div>
</div>




<script>

// Función para activar la luz verde parpadeante
function activarLuzVerde() {
  var luz = document.getElementById("luz");
  luz.classList.remove("roja");
  luz.classList.add("verde");
  localStorage.setItem('luzEstado', 'verde');
  var intervalo = setInterval(function () {
      luz.classList.toggle("verde");
  }, 3000);
  localStorage.setItem('intervaloKey', intervalo.toString()); // Convertir a cadena
}

// Función para activar la luz roja
function activarLuzRoja() {
  var luz = document.getElementById("luz");
  luz.classList.remove("verde");
  luz.classList.add("roja");
  localStorage.setItem('luzEstado', 'roja');
  clearInterval(parseInt(localStorage.getItem('intervaloKey'))); // Convertir a entero
}

// Restaurar el estado de la luz al volver a la página
document.addEventListener("DOMContentLoaded", function() {
  var estadoLuz = localStorage.getItem('luzEstado');
  if (estadoLuz === 'verde') {
      activarLuzVerde();
  } else if (estadoLuz === 'roja') {
      activarLuzRoja();
  }
});


// Escuchar eventos de los botones
document.getElementById("lanzar").addEventListener("click", activarLuzVerde);
document.getElementById("detener").addEventListener("click", activarLuzRoja);







  $(document).ready(function() {
    $('#btnDetenerThreads').click(function() {
    
      $.ajax({
          type: 'GET',
          url: '/detenerWS/',
          contentType: 'application/json',         
          success: function(response) {
            $('#detenerModal').modal('hide');
            if (response.success) {
              // Si la solicitud fue exitosa, mostrar una notificación
             
              alert('Se detuvo exitosamente el websoket con el broker');
            } else {
                // Si hubo un problema, mostrar un mensaje de error
                alert('Hubo un problema al detener el hilo');
            }
             
          },
          error: function(xhr, status, error) {
              alert('Hubo un problema con la solicitud.');
          }
      });
  });

    $('#btnDetenerShedule').click(function() {
    
      $.ajax({
          type: 'GET',
          url: '/DetenerShedule/',
          contentType: 'application/json',         
          success: function(response) {
            $('#confirmationModalDetenerShedule').modal('hide');
            if (response.success) {
              // Si la solicitud fue exitosa, mostrar una notificación
             
              alert('Se detuvo exitosamente el shedule');
            } else {
                // Si hubo un problema, mostrar un mensaje de error
                alert('Hubo un problema al detener el hilo');
            }
             
          },
          error: function(xhr, status, error) {
              alert('Hubo un problema con la solicitud.');
          }
      });
  });

    $('#btnArrancarShedule').click(function() {
        var horaInicio = $('#horaInicio').val(); // Obtener el valor de la hora de inicio
        var horaFin = $('#horaFin').val(); // Obtener el valor de la hora de fin
        access_token = localStorage.getItem('access_token');
        correo_electronico = localStorage.getItem('correo_electronico');
        usuario =  localStorage.getItem('usuario');
        cuenta =  localStorage.getItem('cuenta');
        idUser = localStorage.getItem('usuario_id');
        selector = localStorage.getItem('selector');
        // Realizar una solicitud AJAX
        $.ajax({
            type: 'POST',
            url: '/ArrancaShedule',
            contentType: 'application/json',
            data: JSON.stringify({
                'fechaInicioShedule': horaInicio,
                'fechaFinShedule': horaFin,               
                'userCuenta': cuenta,                
                'access_token': access_token,
                'idUser': idUser,
                'correo_electronico': correo_electronico,
                'cuenta': cuenta,
                'selector' : selector
              
            }),
            success: function(response) {
              $('#confirmationModal').modal('hide');
              if (response.success) {
                // Si la solicitud fue exitosa, mostrar una notificación
               
                alert('Hilo iniciado exitosamente');
              } else {
                  // Si hubo un problema, mostrar un mensaje de error
                  alert('Hubo un problema al iniciar el hilo');
              }
               
            },
            error: function(xhr, status, error) {
                alert('Hubo un problema con la solicitud.');
            }
        });
    });
});




// Contador para llevar el seguimiento del número de líneas mostradas
let lineCount = 0;



//para local
const updatesDiv = document.getElementById('logContainer');

        // Inicializar lineCount antes de usarlo
// Función para hacer scroll hacia abajo
function scrollToBottom() {
  logContainer.scrollTop = logContainer.scrollHeight;
}

// Función para manejar los eventos SSE
function handleEvent(event) {
    const newUpdate = document.createElement('p');
    newUpdate.textContent = event.data;
    updatesDiv.appendChild(newUpdate);
    
    // Incrementar el contador de líneas después de agregar la actualización
    lineCount++;
    
    // Verificar si el número de líneas es múltiplo de 10 para limpiar el contenedor
    if (lineCount > 150) {
      // Eliminar las líneas adicionales
      while (updatesDiv.childElementCount > 150) {
          updatesDiv.removeChild(updatesDiv.firstChild);
      }
        // Limpiar el contenedor
        //updatesDiv.innerHTML = '';
    
    }
        // Hacer scroll hacia abajo después de cada actualización
        scrollToBottom();
}
// Llamar a la función scrollToBottom() inicialmente para asegurarse de que el scroll esté en la parte inferior al cargar la página
scrollToBottom();
// Función para actualizar las actualizaciones cada 30 segundos
function actualizarActualizaciones() {
  // Crear un EventSource para recibir eventos del servidor
  const eventSource = new EventSource('/logs');

  // Asignar el manejador de eventos
  eventSource.onmessage = handleEvent;

  // Manejar errores de conexión
  eventSource.onerror = function(event) {
      const errorMessage = document.createElement('p');
      errorMessage.textContent = "No se puede acceder a los logs momentáneamente.";
      updatesDiv.appendChild(errorMessage);
  }
}

// Actualizar las actualizaciones cada 30 segundos
actualizarActualizaciones()
//setInterval(actualizarActualizaciones, 3000);


  </script>
  

</body>
{% endblock %}
