{% extends 'layouts/layout.html' %}
{% block content %}
<div class="splash-container" id="splash" style="display:none">
  {% include 'notificaciones/splashPage.html' %}
</div>
  
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flash-messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
  
<body> 

  <div class = 'container p-4' id="contenido">
    <h2 name = "mensaje" id = "mensaje " >AGREGAR CUENTA PARA LOGEO EN BROKER</h2>
    <h1 name = "mensaje_correo_electronico" id = "mensaje_correo_electronico" ></h1>
    
    <div class="container" id="cardIndex">                
      <div class="card-body cardIndexCuentaBroker">
          <div class="row">
              <div class="col text-start">
                  <label for="lanzar" style="color: rgb(252, 252, 252);">Broker</label>
              </div>
          </div>
         
          <div class="row mt-3">
              <div class="col text-center">
                  <label for="lanzar" style="color: rgb(255, 255, 255);">Press Enter to add broker.</label>
                  
                  <button id="btnagregarCuentaBroker" type="button" class="btn btn-success w-100" style="transition: box-shadow 0.3s;"
                          onmouseover="this.style.boxShadow='0 0 10px 5px red';" onmouseout="this.style.boxShadow='none';"
                          data-bs-toggle="modal" data-bs-target="#agregarCuentaBroker">Agregar Broker</button>
              </div>
          </div>
          
      </div>
    </div>

  



    <div class="container" id="cardCuentaBroker">                
      <div class="card-body cardIndexCuentaBroker">
          <div class="row">
              <div class="col text-start">
                  <label for="lanzar" style="color: #f8f8f8;">Cuentas de Brokers</label>
              </div>
          </div>
         
          <div class="row mt-3">
              <div class="col text-center">
                  <label for="lanzar" style="color: rgb(255, 255, 255);">Press Enter to lock the account for operation.</label>
                  <form  name="get_cuentas_de_broker_usuario" action="/get_cuentas_de_broker_usuario" method="post" class="btn-guardar_inst">
                    <input type="hidden" name="access_token" id="access_token">
                    <div class="col">                            
                        <button onclick="mostrarSplash()" id="enviarSolicitud" type="submit" class="btn btn-secondary w-100" style="transition: box-shadow 0.3s;"
                          onmouseover="this.style.boxShadow='0 0 10px 5px red';" onmouseout="this.style.boxShadow='none';"
                          data-bs-toggle="modal" >Cuentas existentes</button>
                    </div>
                  </form>
                  
              </div>
          </div>
          
      </div>
    </div>





    <div class="container" id="cardIndex">                
      <div class="card-body cardIndexCuentaBroker">
          <div class="row">
              <div class="col text-start">
                  <label for="lanzar" style="color: rgb(252, 252, 252);">Signals</label>
              </div>
          </div>
         
          <div class="row mt-3">
              <div class="col text-center">
                  <label for="lanzar" style="color: rgb(251, 251, 249);">Press Enter to lock the signal for operation.</label>
                  
                  <button id="detener" type="button" class="btn btn-success w-100" style="transition: box-shadow 0.3s;"
                          onmouseover="this.style.boxShadow='0 0 10px 5px red';" onmouseout="this.style.boxShadow='none';"
                          data-bs-toggle="modal" data-bs-target="#modalSeleccionPais">Signals</button>
              </div>
          </div>
          
      </div>
    </div>






<!-- Modal Agregar cuenta broker-->
<div class="modal fade" id="agregarCuentaBroker" tabindex="-1" aria-labelledby="agregarCuentaBrokerLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="agregarCuentaBrokerLabel">Registrar Cuenta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <!--<meta http-equiv="refresh" content="1;url=http://localhost:5000/cargar" />-->
          <form name="registrar_cuenta" action="/registrar_cuenta" method="post" class="btn-guardar_inst">
            <input type="hidden" name="fecha" id="fecha" class="mb-3">
            <input type="hidden" name="access_token" id="access_token" class="mb-3">
            <input type="hidden" name="correo_electronico" id="correo_electronico" class="mb-3">
            <input type="hidden" name="environment" id="environment" class="mb-3">
            <input type="hidden" name="origin_page" value="registrarCuentaBroker" class="mb-3">

            <input type="text" name="usuario" class="mb-3" placeholder="user">
            <input type="text" name="cuenta" class="mb-3" placeholder="account">
            <input type="text" name="contraseña" class="mb-3" placeholder="password">

            <input type="hidden" name="broker_id" id="broker_id" class="mb-3">
            <input type="hidden" name="broker_nombre" id="broker_nombre" class="mb-3">

            <select class="form-select mb-3" aria-label="Default select example" name="selctorEnvironment1" id="selctorEnvironment1">
              <option selected>Open this select menu</option>
            </select>
            <select class="form-select mb-3" aria-label="Default select example" name="selctorEnvironment2" id="selctorEnvironment2">
              <option selected>Open this select menu</option>
              <option value="1">Simulacion</option>
              <option value="2">Produccion</option>
            </select>

            <div class="col mb-3">
              <button type="submit" class="btn btn-primary my-2">Agregar cuenta</button>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>











<!-- Modal para seleccionar el país -->
<div class="modal fade" id="modalSeleccionPais" tabindex="-1" aria-labelledby="modalSeleccionPais" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Encabezado del modal -->
      <div class="modal-header">
        <h5 class="modal-title" id="modalVacioLabel">Seleccionar País</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- Cuerpo del modal (puedes dejarlo vacío o agregar contenido) -->
       <!-- Cuerpo del modal (agrega un select para elegir entre Argentina y USA) -->
       <div class="modal-body">
        <p>Por favor, selecciona tu país:</p>
        <select class="form-select mb-3" id="seleccionarPais">
          <option value="" selected disabled>Select a Country</option> <!-- Opción sin valor por defecto -->
          <option value="argentina">Argentina</option>
          <option value="usa">USA</option>
        </select>
      </div>
      <!-- Pie del modal (puedes dejarlo vacío o agregar botones) -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button onclick="mostrarSplash()" type="button" class="btn btn-primary" id="guardarPais">Guardar</button>
      </div>
    </div>
  </div>
</div>



{% include 'layouts/layout_footer.html' %}   
    <script>   

      function mostrarSplash() {
        document.getElementById("splash").style.display = "block";
      }

      document.getElementById('guardarPais').addEventListener('click', function() {
        document.getElementById('splash').style.display = 'block';
        document.getElementById('contenido').style.display = 'none';
        var selectedCountry = document.getElementById('seleccionarPais').value;
        var usuario_id =localStorage.getItem('usuario_id');
        access_token = localStorage.getItem('access_token');
        refresh_token = localStorage.getItem('refresh_token');
        var selector = localStorage.getItem('selector');
        localStorage.setItem('paisSeleccionado', selectedCountry);
        $('#modalSeleccionPais').modal('hide'); // Esta línea cierra el modal
         // Redirigir a la ruta /panel_control_sin_cuenta
        layoutOrigen = 'layout'; // Cambia 'nombre_del_layout' por el valor deseado
        var url = '/panel_control_sin_cuenta?country=' + selectedCountry + '&layoutOrigen=' + layoutOrigen+ '&usuario_id=' + usuario_id+'&access_token='+access_token+'&refresh_token='+refresh_token+'&selector='+selector;
        window.location.href = url;
      });   
  // en este script cargo el correo electrónico almacenado en el localStorage
  access_token = localStorage.getItem("access_token");
  correo_electronico = localStorage.getItem("correo_electronico");

  let enlace_correo = "<a href='mailto:" + correo_electronico + "' style='text-decoration:none'>" + correo_electronico + "</a>";
  document.getElementById("mensaje_correo_electronico").innerHTML = enlace_correo;
  document.getElementById("correo_electronico").value = correo_electronico;

  $(document).ready(function() {
    // Escuchar el evento de cambio en el combobox 1
    $("#selctorEnvironment1").change(function() {
      // Obtener el valor seleccionado
      
      var selectedValue = $(this).val();
    
  
      // Asignar el valor al campo de entrada oculto "environment" en el formulario 1
      $("input[name='broker_id']").val(selectedValue);
    });
  
    // Escuchar el evento de cambio en el combobox 2
    $("#selctorEnvironment2").change(function() {
      // Obtener el valor seleccionado
      var selectedValue2 = $(this).val();
     
  
      // Asignar el valor al campo de entrada oculto "environment" en el formulario 2
      $("input[name='environment']").val(selectedValue2);
    });
  
    // Asignar el valor del access token al campo oculto en ambos formularios
    $("input[name='access_token']").val(access_token);
    $("input[name='access_token_form2']").val(access_token);
  });


  function cargarOpcionesCombo() {
    // Realizar una solicitud Ajax para obtener las opciones del combo
    fetch('/cuenta-endpoint-all/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            accessToken: access_token // Reemplaza 'TOKEN_AQUI' con el token adecuado
        })
    })
    .then(response => response.json())
    .then(data => {
        const selectElement = document.getElementById('selctorEnvironment1');
        // Limpiar las opciones existentes
        selectElement.innerHTML = '';

        // Agregar la opción inicial
        const initialOption = document.createElement('option');
        initialOption.value = ''; // Opcional: puedes asignar un valor específico aquí si lo necesitas
        initialOption.textContent = 'Open this select menu';
        selectElement.appendChild(initialOption);

        // Agregar las nuevas opciones desde los datos obtenidos
        data.endpoints.forEach(endpoint => {
            const optionElement = document.createElement('option');
            optionElement.value = endpoint.id; // Cambiar por el valor correcto
            optionElement.textContent = endpoint.nombre; // Cambiar por el texto correcto
            selectElement.appendChild(optionElement);
        });

        // Agregar un event listener para el cambio en el selector de entorno
        selectElement.addEventListener('change', function() {
            // Obtener el valor y el texto seleccionados
            const selectedOption = this.options[this.selectedIndex];
            const brokerId = selectedOption.value;
            const brokerNombre = selectedOption.textContent;

            // Actualizar los campos ocultos con los valores seleccionados
            document.getElementById('broker_id').value = brokerId;
            document.getElementById('broker_nombre').value = brokerNombre;
        });
    })
    .catch(error => {
      console.error('Error al cargar opciones del combo:', error);
      alert('Hubo un problema al cargar las opciones del combo. Por favor, logee nuevamente en el sistema puede haber vencido el token de acceso o inténtalo de nuevo más tarde o contacta al soporte técnico.');
  });
}



// Llamar a la función para cargar las opciones del combo cuando la página se cargue
window.addEventListener('DOMContentLoaded', cargarOpcionesCombo);




     
    </script>
    

    </div>
  </div>
</body>


{% endblock%}