<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <meta http-equiv = "X-UA-Compatible" content = "id=edge">
    <title>System DPI</title>
    <!-- Estilos y scripts aquí... -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/layouts/layout_bajo.css') }}">
</head>

<body>
    
    <!-- El contenido principal va aquí... -->

    <!-- Layout en la parte inferior -->
    
    <div id="bottomLayout" class="fixed-bottom bg-dark text-white p-3">
        <form action="/productosComerciales_pedidos_mostrar_carrito/" method="POST">
            <input type="hidden" id="access_token_btn_carrito_bajo" name="access_token_btn_carrito_bajo" value="">
            <input type="hidden" id="ambito_btn_carrito_bajo" name="ambito_btn_carrito_bajo" value="">
           
            <button id="closeLayout" class="btn btn-sm">
                <img src="{{ url_for('static', filename='img/carrito.png') }}" alt="Select File Icon" style="width: 24px; height: 24px;">           
            </button>
        </form>
        <div class="custom-dropdown-menu-container">
            <button class="btn btn-sm close-layout-btn">
                <img src="{{ url_for('static', filename='icons/clipart3496311.png') }}" alt="Select File Icon" style="width: 24px; height: 24px;">
            </button>
            <ul class="custom-dropdown-menu">
                <li><a class="dropdown-item" id='Social' href="#">Social</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" id='Educativo' href="#">Educational</a></li>
                <li><hr class="dropdown-divider"></li> 
                <li><a class="dropdown-item" id='Laboral' href="#">Work</a></li>                          
                <li><hr class="dropdown-divider"></li> 
                <li><a class="dropdown-item" id='Negocio' href="#">Business</a></li>                          
                <li><hr class="dropdown-divider"></li> 
                <li><a class="dropdown-item" id='Artes' href="#">Creations</a></li>                          
                <li><hr class="dropdown-divider"></li> 
                <li><a class="dropdown-item" id='Deporte' href="#">Sports</a></li>                          
                <li><hr class="dropdown-divider"></li> 
                <li><a class="dropdown-item" id='Familia' href="#">Family</a></li>                          
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" id='Amistad' href="#">Friendship</a></li>                          
                <li><hr class="dropdown-divider"></li> 
                <li><a class="dropdown-item" id='Personal' href="#">Personal</a></li>                          
                <li><hr class="dropdown-divider"></li> 
                <li><a class="dropdown-item" id='Salud' href="#">Health</a></li>                          
                <li><hr class="dropdown-divider"></li> 
                <li><a class="dropdown-item" id='Filantropia' href="#">Philanthropy</a></li>                          
                <li><hr class="dropdown-divider"></li> 
                <li><a class="dropdown-item" id='Naturaleza' href="#">Nature</a></li>
                <li class="nav-item content">
                    <a class="nav-link active" style="color: black;" href="/turing-testTuring">Turing test</a>
                </li>
            </ul>
            
        </div>
        
        <button class="btn btn-sm btn-redirigir" onclick="window.location.href='/mostrarGaleria/'">
            <img src="{{ url_for('static', filename='icons/edit-icon-png-3598.png') }}" alt="Select File Icon" style="width: 24px; height: 24px;">
        </button>
        
                 
        
    </div>
 <!-- Distribuir las opciones aquí -->
 
 
<!-- Contenedor principal -->
<div id="container">
    <!-- Otros contenidos -->

    <!-- Contenedor para opciones de publicación -->
    <div class="post-options layoutBajo">
      
    </div>

</div>


</div>
<script>
    debugger;
    let access_tokenx = localStorage.getItem("access_token");
    var ambitox = localStorage.getItem("dominio");
    //carrito   
    document.getElementById('access_token_btn_carrito_bajo').value = access_tokenx;  
    document.getElementById('ambito_btn_carrito_bajo').value = ambitox;
</script>
    <!-- Scripts al final del body -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/media/muestraPublicacionesEnHome.js') }}"></script>
    <script src="{{ url_for('static', filename='js/layouts/layout_bajo.js') }}"></script>   
   
    
</body>
</html>
