<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
      
    <meta http-equiv = "X-UA-Compatible" content = "id=edge">
    <title>DPI</title>
   
    <!--BOOSTRAP 5.1.3-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
    <!-- dropzone -->
    <script src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js"></script>
    <link href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css" />
    <!--font-awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js" integrity="sha512-xbQU0+iHqhVt7VIXi6vBJKPh3IQBF5B84sSHdjKiSccyX/1ZI7Vnkt2/8y8uruj63/DVmCxfUNohPNruthTEQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!--CSS PERSONALIZADO -->
    <link rel =  "stylesheet" href = "{{ url_for('static',filename='css/main.css')}}">
    <link rel =  "stylesheet" href = "{{ url_for('static',filename='css/navbar.css')}}">
    <link rel =  "stylesheet" href = "{{ url_for('static',filename='css/profile.css')}}">
    <link rel =  "stylesheet" href = "{{ url_for('static',filename='css/loginSistema.css')}}">
    <link rel =  "stylesheet" href = "{{ url_for('static',filename='css/tarjetasPlanes.css')}}">
    <link rel =  "stylesheet" href = "{{ url_for('static',filename='css/sobreNosotros.css')}}">
    <link rel =  "stylesheet" href = "{{ url_for('static',filename='css/pieDePagina.css')}}">
    <link rel =  "stylesheet" href = "{{ url_for('static',filename='css/faq.css')}}">
    <link rel =  "stylesheet" href = "{{ url_for('static',filename='css/splashPages/splash.css')}}">
    <link rel =  "stylesheet" href = "{{ url_for('static',filename='css/index.css')}}">
    <link rel =  "stylesheet" href = "{{ url_for('static',filename='css/dpis/dpi.css')}}">
   
    <link rel=   "stylesheet" href=" {{ url_for('static', filename='css/social/mostrarImagenes.css') }}">
    <link rel=   "stylesheet" href=" {{ url_for('static', filename='css/social/galeriaImagenes.css') }}">
    <link rel=   "stylesheet" href=" {{ url_for('static', filename='css/social/modales/modalGaleriaPublicacionesMostradas.css') }}">
    <link rel=   "stylesheet" href=" {{ url_for('static', filename='css/social/publicaciones/modificarPublicaciones.css') }}">
    <link rel=   "stylesheet" href=" {{ url_for('static', filename='css/social/publicaciones/muestraDesplieguePublicacionHome.css') }}">     
  

    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon.png')}}">
    <script src="{{ url_for('static', filename='js/notificacionAlertOperacion.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js')}}"></script> 
    <script src="/static/js/actualizaTabla.js"></script> 

  
    <meta charset="UTF-8">
    <title>Registro de usuarios</title>
    <meta name="google-signin-client_id" content="TU_CLIENTE_ID_DE_GOOGLE">
    <script src="https://apis.google.com/js/platform.js" async defer></script>    
    <script src="https://cdn.jsdelivr.net/npm/axios@1.7.2/dist/axios.min.js"></script>
      <!--esto es para los colores-->
     <!-- Include the Pickr library -->
 
</head>

<body>
 
 


            
      
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <!-- Logo -->
                <div class="LogoDpi"></div>
        
                <!-- Botón para colapsar menú -->
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarNav"
                        aria-controls="navbarNav"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
        
                <!-- Menú -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item content">
                            <a class="nav-link active" href="/">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 .5l6 6V15a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6.5l6-6zM13 6.707l-5-5-5 5V14h3v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h3V6.707z"/>
                                </svg>
                               
                            </a>
                        </li>
                                             
                        
                        
                       
                       
                        <li class="nav-item">
                            <a class="nav-link" href="/registrar_usuario">Register</a>
                        </li>
                       
                       
                       <!--
                        <li class="nav-item content">
                            <a class="nav-link active" href="/subirVideoYtube/">Videos</a>
                        </li>
                       --> 
                       
                    </ul>
                </div>
            </div>
        </nav>
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top NdpiLogo " > 
        </nav>
     
<!-- Banner azul responsive -->
  <div class="pull-up-80" style="margin-top: -80px; margin-bottom: -40px;">
        {% include 'ambitos/carrucelDominios.html' %}
      </div>





<!-- Modal para seleccionar el país -->
<div class="modal fade" id="modalSeleccionPais" tabindex="-1" aria-labelledby="modalSeleccionPais" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <!-- Encabezado del modal -->
        <div class="modal-header">
          <h5 class="modal-title" id="modalVacioLabel" style="color: black;">Signals by Country</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!-- Cuerpo del modal (puedes dejarlo vacío o agregar contenido) -->
         <!-- Cuerpo del modal (agrega un select para elegir entre Argentina y USA) -->
         <div class="modal-body">
          <p>Please, select Country:</p>
          <select class="form-select mb-3" id="seleccionarPais">
            <option value="" selected disabled>Select a Country</option> <!-- Opción sin valor por defecto -->
            <option value="usa">USA</option>
            <option value="argentina">Argentina</option>            
          </select>
        </div>
        <!-- Pie del modal (puedes dejarlo vacío o agregar botones) -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button onclick="mostrarSplash()" type="button" class="btn btn-primary" id="guardarPais">Save</button>
        </div>
      </div>
    </div>
  </div>
    <!-- <div class = 'container p-4'> -->
    
<!-- este input es para cargar el domain al inicio y luego con cada clic en la barra de herramientas -->      
<input type="hidden" class="text" id="domain" name="domain" value="laboral">
                                 


      {%block content%}
      {% endblock%}
  
      
    <!-- </div> -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/min/dropzone.min.js"></script>
    
    
  

    <script>
       
        
        // Solicitar permiso para mostrar notificaciones
        solicitarPermiso();
     
        // Cerrar el menú desplegable al ser seleccionado
        cerrarMenuSeleccionado();
    </script>
   
</body>
</html>
