<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv = "X-UA-Compatible" content = "id=edge">
    <title>System DPI</title>
   
    <!--BOOSTRAP 5.1.3-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
    <!-- dropzone -->
    <script src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js"></script>
    <link href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>

    <!--CSS PERSONALIZADO -->
    <link rel =  "stylesheet" href = "{{ url_for('static',filename='css/main.css')}}">
    <link rel =  "stylesheet" href = "{{ url_for('static',filename='css/splashPages/splash.css')}}">
    <link rel =  "stylesheet" href = "{{ url_for('static',filename='css/splashPages/splash_modal_crear_publicacion.css')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon.png')}}">
    

    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js" integrity="sha512-xbQU0+iHqhVt7VIXi6vBJKPh3IQBF5B84sSHdjKiSccyX/1ZI7Vnkt2/8y8uruj63/DVmCxfUNohPNruthTEQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/js/actualizaTabla.js"></script>     
    <meta charset="UTF-8">
    <title>Registro de usuarios</title>
    <meta name="google-signin-client_id" content="TU_CLIENTE_ID_DE_GOOGLE">
    <script src="https://apis.google.com/js/platform.js" async defer></script>    
    <script src="https://cdn.jsdelivr.net/npm/axios@1.7.2/dist/axios.min.js"></script>
    <script src="{{url_for('static',filename='js/main.js')}}"></script>
      <!--esto es para los colores-->
     <!-- Include the Pickr library -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr@^1.8.2/dist/themes/classic.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr@^1.8.2/dist/pickr.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/PanelControlUsuarioBroker/estrategiaUsuarios.css') }}">
   <!----> <link rel =  "stylesheet" href = "{{ url_for('static',filename='css/tarjetasFichas.css')}}">
    <!----> <link rel =  "stylesheet" href = "{{ url_for('static',filename='css/tarjetasTriggers.css')}}">
    <!----> <link rel =  "stylesheet" href = "{{ url_for('static',filename='css/tarjetasRegistrarCuentaBroker.css')}}">
   <!---->  <link rel =  "stylesheet" href = "{{ url_for('static',filename='css/productos/descripcionProductos.css')}}">
   <!---->  <link rel =  "stylesheet" href = "{{ url_for('static',filename='css/social/subirImagen.css')}}">
   <!---->  <link rel =  "stylesheet" href = "{{ url_for('static',filename='css/pieDePagina.css')}}">
   <!---->  <link rel=   "stylesheet" href=" {{ url_for('static', filename='css/social/mostrarImagenes.css') }}">
   
   <!---->  <link rel=   "stylesheet" href=" {{ url_for('static', filename='css/social/galeriaImagenes.css') }}">
   <!---->  <link rel=   "stylesheet" href=" {{ url_for('static', filename='css/social/modales/modalGaleriaPublicacionesMostradas.css') }}">
   
   <!---->  <link rel=   "stylesheet" href=" {{ url_for('static', filename='css/social/publicaciones/modificarPublicaciones.css') }}">
     
   <!---->  <link rel =  "stylesheet" href = "{{ url_for('static',filename='css/tarjetasPlanes.css')}}">
   <!---->  <link rel =  "stylesheet" href = "{{ url_for('static',filename='css/sub_menus/sub_estrategias.css')}}">
   <!---->  <link rel =  "stylesheet" href = "{{ url_for('static', filename='css/herramientasAdmin/controlMdh.css')}}">
   <!---->  <link rel=   "stylesheet" href=" {{ url_for('static', filename='css/social/publicaciones/muestraDesplieguePublicacionHome.css') }}">     
  
   



   <link rel =  "stylesheet" href = "{{ url_for('static',filename='css/sistemaDePagos/carrucelPromocionOfertas.css')}}">
   <link rel =  "stylesheet" href = "{{ url_for('static',filename='css/social/media/telegramEnviaMensaje.css')}}"> 
   <link rel =  "stylesheet" href = "{{ url_for('static',filename='css/social/media/newsLetter.css')}}"> 

 
   
  

  </head>
  <style>
    /* Mostrar submenú cuando el mouse pasa por encima */
    .nav-item.dropdown:hover .dropdown-menu {
        display: block;
    }
    
    /* Mantener el submenú visible */
    .nav-item.dropdown .dropdown-menu {
        display: none;
    }
    
/* Opcional: Estilo para scrollbar */
.nav-item.dropdown .dropdown-menu::-webkit-scrollbar {
    height: 8px;                /* Altura del scrollbar */
    background: #f1f1f1;        /* Fondo del scrollbar */
}

.nav-item.dropdown .dropdown-menu::-webkit-scrollbar-thumb {
    background: #888;           /* Color del scrollbar */
    border-radius: 4px;         /* Bordes redondeados */
}

.nav-item.dropdown .dropdown-menu::-webkit-scrollbar-thumb:hover {
    background: #555;           /* Color al pasar el mouse por el scrollbar */
}
</style>
<body>
    <!-- As a heading -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <h1 name="mensaje_correo_electronico" id="mensaje_correo_electronico"></h1>
            <h1 name="mensaje_cuentaBroker" href="/loginApi" id="mensaje_cuentaBroker"></h1>
            <h1 name="mensaje_simulado"  id="mensaje_simulado"></h1>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNav" >
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                   
                    
                    <li class="nav-item ">
                        <a class="nav-link active" aria-current="page" href="/home">Home</a>
                    </li>

                    <li class="nav-item dropdown">                      
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Herramientas</a>
                        <ul class="dropdown-menu">  
                            <li><hr class="dropdown-divider"></li>     
                            <li><a class="dropdown-item" href="/herramientasSheet_accionesSheet_iniciar">Iniciar Ws Sheet</a></li>                                
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/herramientasSheet_accionesSheet_detener">Reiniciar MDH Sheet</a></li>
                            <li><hr class="dropdown-divider"></li>     
                            <li><a class="dropdown-item" href="/herramientasSheet_accionesSheet_controlMDH">Control MDH</a></li>  
                            <li><hr class="dropdown-divider"></li>     
                            <li><a class="dropdown-item" href="/herramientaAdmin-administracion-control-redis/">Control Redis</a></li>
                            <li><hr class="dropdown-divider"></li>     
                            <li><a class="dropdown-item" href="/creaPublicacionesPartes_testCgs/">Test CDS</a></li>                                                                                                                                          
                        </ul>                        
                    </li>
                   
                    
                    <li class="nav-item dropdown">                      
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Usuarios</a>
                        <ul class="dropdown-menu">  
                            <li><hr class="dropdown-divider"></li>     
                            <li><a class="dropdown-item" href="/usuarios-generales/">Todos los Usuario</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/usuarios/">Usuario Por CP</a></li>                                                                                              
                        </ul>                        
                    </li>
                    
                  
                    <li class="nav-item ">
                        <a class="nav-link" aria-current="page" href="/cuentas-Usuario-Broker/" >Cuentas</a>                        
                    </li>
                    
                    <li class="nav-item dropdown">                      
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Estrategias</a>
                        <ul class="dropdown-menu">  
                            <li><hr class="dropdown-divider"></li>     
                            <li><a class="dropdown-item" href="/estrategias-usuario-general/">Estrategias Lista</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/abm-estrategias-mostrar">Estrategias Sistema</a></li>
                            <li><hr class="dropdown-divider"></li>     
                            <li><a class="dropdown-item" href="/abm-estrategias-mostrar-procesos/">Estrategia Usuario</a></li>                                                                      
                        </ul>                        
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" aria-current="page" href="/herramAdmin_accionesTrigger_actualizaHorario/" >Shedule</a>                       
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" aria-current="page" href="/cuentas_endPointBrokers/" >Brokers</a>                                              
                    </li>
                    <li class="nav-item dropdown">                      
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Sistema Pagos</a>
                        <ul class="dropdown-menu">  
                            <li><hr class="dropdown-divider"></li>     
                            <li><a class="dropdown-item" href="/create_preapproval_html?layout=layout_administracion">Crear planes</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/productosComerciales_planes_muestra">Consulta</a></li>
                            <li><hr class="dropdown-divider"></li>     
                            <li><a class="dropdown-item" href="/abm-estrategias-mostrar-procesos/">Informe</a></li>                                                                     
                        </ul>                        
                    </li>
                    <li class="nav-item dropdown">                      
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Suscripciones Pagos</a>
                        <ul class="dropdown-menu">  
                            <li><hr class="dropdown-divider"></li>     
                            <li><a class="dropdown-item"  href="/productosComerciales_suscripciones_muestra?layout=layout_administracion">Consulta</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/abm-estrategias-mostrar-procesos/">Informe</a></li>                                                                                             
                        </ul>                        
                    </li>
                    <li class="nav-item dropdown">                      
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Promociones</a>
                        <ul class="dropdown-menu">  
                            <li><hr class="dropdown-divider"></li>     
                            <li><a class="dropdown-item" href="/productosComerciales_promociones_get_promociones?layout=layout_administracion">Crear promocion</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/sistemaDePagos_get_planes_promociones?layout=layout_administracion">Crear promocion desde plan</a></li>
                            <li><hr class="dropdown-divider"></li>     
                            <li><a class="dropdown-item"  href="/productosComerciales_promociones_consulta_promociones?layout=layout_administracion">Consulta</a></li>
                            <li><hr class="dropdown-divider"></li>     
                            <li><a class="dropdown-item" href="/abm-estrategias-mostrar-procesos/">Informe</a></li>                                                                
                         </ul>                        
                    </li>
                    <li class="nav-item dropdown">                      
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Comunicacion</a>
                        <ul class="dropdown-menu">  
                            <li><hr class="dropdown-divider"></li>     
                            <li><a class="dropdown-item" href="/telegram-envia-mensaje/">Telegram</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/comunicacion_newsLetter_comunica">newsletter</a></li>
                            <li><hr class="dropdown-divider"></li>     
                            <li><a class="dropdown-item" id="consultas-link">Consultas</a></li>
                            <li><hr class="dropdown-divider"></li>     
                            <li><a class="dropdown-item" href="/abm-estrategias-mostrar-procesos/">Informe</a></li>                                                              
                         </ul>                        
                    </li>
                    <li class="nav-item dropdown">                      
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Ambitos</a>
                        <ul class="dropdown-menu">  
                            <li><hr class="dropdown-divider"></li>     
                            <li><a class="dropdown-item" href="/social-media-ambitos-ambitos/">Consultas</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/social-media-ambitosCategorias-categorias/">Categorias</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/social-media-ambitosCategorias-codP/">Pub Cat CodP</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/social-media-publicaciones-ambitos-obtener-informe/">Información</a></li>                                                                                        
                         </ul>                        
                    </li>
                                   
                    </li>
                   
                    
                    <li class="nav-item ">
                        <a class="nav-link active " aria-current="page" href="#ingreso">Login</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link active" aria-current="page" href="/registrar_usuario">Registrarse</a>
                    </li>
                </ul>
                
            </div>
        </div>
    </nav>
   

    <div class = 'container p-4'>
        
      {%block content%}
      {% endblock%}
        <div class="splash-container" id="splash" style="display:none">
         {% include 'notificaciones/splashPage.html' %}
        </div>
        <div class="splash-container" id="splash" style="display:none">
            {% include 'notificaciones/splashPage_espere.html' %}
           </div>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/min/dropzone.min.js"></script>

    

    <script>
     
        
        document.addEventListener("DOMContentLoaded", function() {
           



            const userId = localStorage.getItem("usuario_id");
            if (userId) {
              const link = document.getElementById("consultas-link");
              link.href = `/comunicacion_contacto_consultas/layout/${userId}`;
            }
          });
  // Custom JavaScript to handle submenu toggle
  $(document).ready(function() {
    $('.dropdown-submenu a.dropdown-toggle').on("click", function(e) {
        e.stopPropagation();
        e.preventDefault();
        $(this).next('.dropdown-menu').toggle();
        $('.dropdown-submenu .dropdown-menu').not($(this).next()).hide();
    });

    // Close submenu when clicking outside
    $(document).on("click", function() {
        $('.dropdown-submenu .dropdown-menu').hide();
    });
});


        let correo_electronico = localStorage.getItem("correo_electronico");  
        
        let access_token = localStorage.getItem("access_token")
        let refreshToken = localStorage.getItem("refresh_token")
        let cuentaBroker = localStorage.getItem("cuenta")
        let selector = localStorage.getItem("selector")
        let rol = localStorage.getItem('roll');
        var cuentaB = localStorage.getItem("cuenta");  
      
     //   console.log(access_token)
        var cuentaLink = document.querySelector('.nav-menu-generar');
       
        if (localStorage.getItem("selector")) {
            let cuentaBroker = localStorage.getItem("cuenta");  
            let simulado = localStorage.getItem("selector"); 
            
               // document.getElementById("access_token_get_cuentas_usuario_broker").value = access_token;
          
                if (simulado == 'simulado') {
                    let cuenta = "<a  style='text-decoration:none; color:white; '>SIMULADO</a>";
                    document.getElementById("mensaje_simulado").innerHTML = cuenta;
                
                    let enlace_correo = "<a ' style='text-decoration:none; color:orange;'>" + correo_electronico + "</a>";
                    document.getElementById("mensaje_correo_electronico").innerHTML = enlace_correo;

                    let mensaje = "<a ' style='text-decoration:none;  color:orange;'>" + cuentaBroker + "</a>";
                    document.getElementById("mensaje_cuentaBroker").innerHTML = mensaje;
                    
                    } else if (simulado == 'produccion') {

                    let cuenta = "<a style='text-decoration:none; color:orange; '>REAL</a>";
                    document.getElementById("mensaje_simulado").innerHTML = cuenta;

                    let enlace_correo = "<a ' style='text-decoration:none; color:#00ff00;''>" + correo_electronico + "</a>";
                    document.getElementById("mensaje_correo_electronico").innerHTML = enlace_correo;

                    let mensaje = "<a ' style='text-decoration:none;  color:#00ff00;'>" + cuentaBroker + "</a>";
                    document.getElementById("mensaje_cuentaBroker").innerHTML = mensaje;
                    } else {
                        let enlace_correo = "<a ' style='text-decoration:none; color:orange;'>" + correo_electronico + "</a>";
                        document.getElementById("mensaje_correo_electronico").innerHTML = enlace_correo;
    
                    }
                
                
                    //aqui oculto generador de fichas si no posee cuenta de broker logeada
                  
                     
                    try {
                       
                    } catch (error) {
                        console.error('Error al cambiar el estilo de cuentaLink:', error);
                        // Aquí puedes agregar más lógica para manejar el error si es necesario.
                    }
                    
                        
                   
                
                
                }else {
                    let enlace_correo = "<a ' style='text-decoration:none; color:orange;'>" + correo_electronico + "</a>";
                    document.getElementById("mensaje_correo_electronico").innerHTML = enlace_correo;
                    console.log("El valor 'selector' no existe en localStorage.");
                  }

                // Verificar si el rol es "administrador"
        if (rol != 'ADMINISTRADOR') {
            // Ocultar el enlace del menú de administración
            var adminLink = document.querySelector('.nav-link.dropdown-toggle');
            adminLink.style.display = 'none';

             var adminLink1 = document.querySelector('#AdministrarPublicacionesLayout');
            if (adminLink1) {
                adminLink1.style.display = 'none';
            }
        }

       // Cerrar el menú desplegable al ser seleccionado
       cerrarMenuSeleccionado();
       $(document).ready(function() {
        // Mantener el submenú abierto cuando se hace clic
        $('.dropdown-menu').on('click', function (e) {
            e.stopPropagation();
        });

        // Cerrar el submenú al hacer clic fuera de él
        $(document).on('click', function (e) {
            if (!$(e.target).closest('.dropdown').length) {
                $('.dropdown-menu').hide();
            }
        });

        // Abrir el submenú cuando se pasa el mouse
        $('.dropdown').hover(
            function () {
                $(this).children('.dropdown-menu').stop(true, true).slideDown(200);
            }, 
            function () {
                $(this).children('.dropdown-menu').stop(true, true).slideUp(200);
            }
        );
    });









   
   



    
    </script>
   
</body>
</html>
