<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--BOOSTRAP 5.1.3-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
    <!-- dropzone -->
    <script src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js"></script>
    <link href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css" />
    <!--CSS PERSONALIZADO -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon.png') }}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js" integrity="sha512-xbQU0+iHqhVt7VIXi6vBJKPh3IQBF5B84sSHdjKiSccyX/1ZI7Vnkt2/8y8uruj63/DVmCxfUNohPNruthTEQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/js/actualizaTabla.js"></script>
    <title>logeado en Broker</title>
    <meta name="google-signin-client_id" content="TU_CLIENTE_ID_DE_GOOGLE">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{{url_for('static', filename='js/notificacionAlertOperacion.js') }}"></script>
    <!--esto es para los colores-->
    <!-- Include the Pickr library -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr@^1.7.0/dist/themes/classic.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr@^1.7.0/dist/pickr.min.js"></script>
    <!--CSS PERSONALIZADO -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/PanelControlUsuarioBroker/estrategiaUsuarios.css') }}">
    <link rel =  "stylesheet" href = {{ url_for('static',filename='css/tarjetasFichas.css')}}>
    <link rel =  "stylesheet" href = {{ url_for('static',filename='css/navbar.css')}}>
    <link rel =  "stylesheet" href = {{ url_for('static',filename='css/splashPages/splash.css')}}>
    <link rel =  "stylesheet" href = {{ url_for('static',filename='css/productos/descripcionProductos.css')}}>
    <link rel =  "stylesheet" href = {{ url_for('static',filename='css/tarjetasPlanes.css')}}>
    <link rel =  "stylesheet" href = {{ url_for('static',filename='css/pieDePagina.css')}}>
    <link rel =  "stylesheet" href = {{ url_for('static',filename='css/sistemaDePagos/carrucelPromocionOfertas.css')}}>
    <script src="{{url_for('static',filename='js/sistemaDePagos/carrucelPromocionOfertas.js')}}"></script> 
    <!-- <script src="{{url_for('static',filename='js/paneles/panelSignalSinCuentas.js')}}"></script> -->

   

</head>

<body>
    <!-- As a heading -->    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" >
        <div class="container-fluid">
            <h1 id="mensaje_correo_electronico" name="mensaje_correo_electronico" ></h1>
            <h1 id="mensaje_cuentaBroker" name="mensaje_cuentaBroker" href="/loginApi" id="mensaje_cuentaBroker"></h1>
      
      
      
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNav" >
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                   
                    <li class="nav-item ">
                        <a class="nav-link active" aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/descripcionProductos?layout=layout_signal">Suscribir</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dashboard</a>
                        <ul class="dropdown-menu">  
                          <li><a class="dropdown-item"id="guardarPaisSeleccionado">signals</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#" onclick="seleccionarPais('argentina')">Argentina</a></li>                           
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#" onclick="seleccionarPais('usa')">USA</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li>
                            <a id="notificacionTelegramLink" class="dropdown-item" href="#" onclick="toggleNotificacionTelegram()">Notificación activa</a>
                          </li>
                          <li><hr class="dropdown-divider"></li>
                          <li>
                            <a id="toggleIDTelegram" class="dropdown-item" href="#" onclick="toggleIDTelegram()">ID telegram</a>
                          </li>
                        </ul>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Log Out</a>
                        <ul class="dropdown-menu">                        
                          <li>
                            <form  name="reporteCuenta" action="/logOutSystem" method="post" class="btn-guardar_inst">
                                <div class="form-group"><input type="hidden" name="layoutOrigen"  id="layoutOrigen"  class="form-control" value='layoutConexBroker'></div>  
                                <div class="form-group"><input type="hidden" name="autenticacion_accounCuenta"  id="autenticacion_accounCuenta"  class="form-control"></div>  
                                <div class="form-group"><input type="hidden" name="autenticacion_access_token"  id="autenticacion_access_token"  class="form-control"></div>  
                                <div class="form-group"><input type="hidden" name="autenticacion_refresh_token"  id="autenticacion_refresh_token"  class="form-control"></div>  
                                <div class="col">  
                                 <li><button type="submit" class="dropdown-item text-black">exit system</button></li>
                                </div>
                              </form> 
                          </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Usuario</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/llamada/index-contacto">Contacto</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/registrar_usuario">Registrarse</a></li>
                        </ul>
                    </li>
                </ul>
                
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top Nindex " > 
    </nav>


    <div class = 'container p-4'>


        <!-- Modal id Telegram-->
   
        <div class="modal fade" id="telegramModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="color: black;">ID Telegram</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <input type="text" id="idTelegramInput" class="form-control" value="">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" onclick="saveIDTelegram()">Save changes</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal id Telegram-->

        
      {%block content%}
      {% endblock%}
          <div class="splash-container" id="splash" style="display:none">
            {% include 'notificaciones/splashPage.html' %}
         </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/min/dropzone.min.js"></script>
    
    <script src="{{url_for('static',filename='js/main.js')}}"></script>
    
    <script>


        function toggleIDTelegram() {
            // Get the ID from localStorage
            var idTelegram = localStorage.getItem('idtelegram');

            // Set the value of the input if the idTelegram is not null
            document.getElementById('idTelegramInput').value = idTelegram ? idTelegram : '';

            // Show the modal
            $('#telegramModal').modal('show');
        }



        function saveIDTelegram() {
            // Get the value from the input
            var idTelegram = $('#idTelegramInput').val();
      
            // Save the value to localStorage
            localStorage.setItem('idtelegram', idTelegram);
      
            // Optionally, hide the modal
            $('#telegramModal').modal('hide');
          }





     // Función para activar/desactivar la notificación y cambiar el texto y color del enlace
     function toggleNotificacionTelegram() {
        var currentStatus = localStorage.getItem('notificacionTelegram');
        
        if (currentStatus === 'True') {
            localStorage.setItem('notificacionTelegram', 'False');
            document.getElementById('notificacionTelegramLink').textContent = 'Notificación inactiva';
            document.getElementById('notificacionTelegramLink').style.color = 'grey'; // Color gris
        } else {
            localStorage.setItem('notificacionTelegram', 'True');
            document.getElementById('notificacionTelegramLink').textContent = 'Notificación activa';
            document.getElementById('notificacionTelegramLink').style.color = '#00ff00'; // Verde más fuerte y brillante
        }
    }

    // Al cargar la página, verifica el estado actual y aplica el texto y color correspondiente
    document.addEventListener('DOMContentLoaded', function() {
        var currentStatus = localStorage.getItem('notificacionTelegram');

        if (currentStatus === 'True') {
            document.getElementById('notificacionTelegramLink').textContent = 'Notificación activa';
            document.getElementById('notificacionTelegramLink').style.color = '#00ff00'; // Verde más fuerte y brillante si está activo
        } else {
            localStorage.setItem('notificacionTelegram', 'False');
            document.getElementById('notificacionTelegramLink').textContent = 'Notificación inactiva';
            document.getElementById('notificacionTelegramLink').style.color = 'grey'; // Color gris si está desactivado
        }
    });




        function seleccionarPais(pais) {
            localStorage.setItem('paisSeleccionado', pais);           
            var usuario_id = localStorage.getItem('usuario_id');
            access_token = localStorage.getItem('access_token');
            var selector = localStorage.getItem('selector');
            debugger;
            var layoutOrigen = 'layout_signal';
            var url = '/panel_control?country=' + pais + '&layoutOrigen=' + layoutOrigen+'&usuario_id='+usuario_id+'&access_token='+access_token+'&selector='+selector;
            window.location.href = url;
        }
        
         correo_electronico = localStorage.getItem("correo_electronico");  
         cuentaBroker = localStorage.getItem("cuenta");  
         simulado = localStorage.getItem("selector");  
         access_token = localStorage.getItem("access_token")
         refreshToken = localStorage.getItem("refresh_token")
         rol = localStorage.getItem('roll');
         selectedCountry  = localStorage.getItem('paisSeleccionado');
         usuario_id = localStorage.getItem('usuario_id');
         //logOutSystem
         document.getElementById('autenticacion_accounCuenta').value = cuentaBroker;
         document.getElementById('autenticacion_access_token').value = access_token ;
         document.getElementById('autenticacion_refresh_token').value = refreshToken;
         document.getElementById('guardarPaisSeleccionado').addEventListener('click', function() {
            var pais = selectedCountry;
            localStorage.setItem('paisSeleccionado', pais);
            debugger;
            usuario_id = localStorage.getItem('usuario_id');
            var selector = localStorage.getItem('selector');
            var layoutOrigen = 'layout_signal';
            var url = '/panel_control_sin_cuenta?country=' + pais + '&layoutOrigen=' + layoutOrigen+'&usuario_id='+usuario_id+' &access_token='+access_token+'&selector='+selector;
            window.location.href = url;
        });
        
        

                // Verificar si el rol es "administrador"
      //  if (rol != 'ADMINISTRADOR') {
            // Ocultar el enlace del menú de administración
      //       adminLink = document.querySelector('.nav-link.dropdown-toggle');
      //      adminLink.style.display = 'none';
       // }
       
            // Cerrar el menú desplegable al ser seleccionado
            cerrarMenuSeleccionado();
    </script>
   
</body>
</html>
