<<<<<<< HEAD
.service-item {
    margin-bottom: 30px; /* Espaciado entre elementos de servicio */
    text-align: center;
}

.service-item h3 {
    color: #f8b400; /* Color del título */
    font-size: 24px; /* Tamaño del título */
    margin-bottom: 10px; /* Espaciado inferior del título */
}

.service-item p {
    color: #666; /* Color del texto */
    font-size: 16px; /* Tamaño del texto */
}

.btn.btn-success {
    background-color: #28a745; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none; /* Eliminar borde del botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    text-decoration: none; /* Eliminar subrayado del botón */
    border-radius: 5px; /* Borde redondeado del botón */
}

.btn.btn-success:hover {
    background-color: #218838; /* Color de fondo del botón al pasar el mouse */
}
=======
.service-item {
    margin-bottom: 30px; /* Espaciado entre elementos de servicio */
    text-align: center;
}

.service-item h3 {
    color: #f8b400; /* Color del título */
    font-size: 24px; /* Tamaño del título */
    margin-bottom: 10px; /* Espaciado inferior del título */
}

.service-item p {
    color: #666; /* Color del texto */
    font-size: 16px; /* Tamaño del texto */
}

.btn.btn-success {
    background-color: #28a745; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none; /* Eliminar borde del botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    text-decoration: none; /* Eliminar subrayado del botón */
    border-radius: 5px; /* Borde redondeado del botón */
}

.btn.btn-success:hover {
    background-color: #218838; /* Color de fondo del botón al pasar el mouse */
}
>>>>>>> c771be39e03a9cc8cb8ab015daa471515565c719
