/* Ajustar padding del body para navbar fijo */
body {
    padding-top: 70px; /* Altura del navbar */
}


.NdpiLogo {
  height: 60px;
  width: 70px;
  position: fixed;
  top: 0;
  left: 500px; /* Mueve el elemento 100px hacia la derecha */
  background: url('/static/leon.png') no-repeat center left;
  background-size: contain;
  display: flex;
  align-items: center;
  padding-left: 80px; /* Ajusta según sea necesario */
}




/* Estilo para el logo */
.LogoDpi {
    height: 45px;
    width: 70px; /* Ajustar al tamaño del logo */
    background-size: contain;
    display: flex;
    align-items: left;
    margin-right: 500px; /* Espacio entre el logo y el menú */
    padding: 0 50px; /* Padding horizontal solo en pantallas grandes */
}

/* Ajuste para aumentar el espacio entre los items del menú */
.navbar-nav {
    display: flex; /* Asegura que los items del menú se alineen en fila */
    margin-left: 25px; /* Ajusta la distancia entre el logo y los items del menú */
    gap: 20px; /* Espacio entre los items del menú */
}

/* Para mover un item específico, por ejemplo el segundo item */
.navbar-nav .nav-item:nth-child(2) {
    margin-left: 0px; /* Mueve el segundo item 30px a la derecha */
}

/* Si deseas ajustar más el espacio dentro de los items */
.navbar-nav .content{
    padding-left: 0px; /* Ajusta el padding para cada item */
    padding-right: 15px; /* Ajusta el padding para cada item */
}

/* Estilo para el contenedor de navegación */
.navbar-nav {
    display: flex; /* Asegura que los items del menú se alineen en fila */
    margin-left: 50px; /* Ajusta la distancia entre el logo y los items del menú */
    flex-wrap: nowrap; /* Asegura que los items no se ajusten en pantallas grandes */
    justify-content: flex-start; /* Alinea los items del menú a la izquierda */
}



/* Estilo para el contenedor de navegación */
.navbar-nav {
    display: flex; /* Asegura que los items del menú se alineen en fila */
    margin-left: 50px; /* Ajusta la distancia entre el logo y los items del menú */
    flex-wrap: nowrap; /* Asegura que los items no se ajusten en pantallas grandes */
    justify-content: flex-start; /* Alinea los items del menú a la izquierda */
}


/* Estilo responsive para dispositivos con pantallas pequeñas */
@media (max-width: 767px) {
    .LogoDpi {
        padding-left: 10px; /* Ajusta según sea necesario para dispositivos móviles */
        padding-right: 10px; /* Asegura que el padding derecho también sea pequeño */
        margin-right: 0; /* Elimina el margen derecho para que el logo esté completamente a la izquierda */
    }
    .NdpiLogo {
      left: 0; /* Cambia a 0 en pantallas más pequeñas */
    }
}

/* Estilo para el botón de la navbar */
.navbar-toggler {
    margin-left: auto; /* Empuja el botón al lado opuesto del logo */
}

/* Ajuste del desplazamiento para anclas */
section[id] {
    scroll-margin-top: 70px;
}









.navbar-nav .nav-link {
    position: relative;
    color: white; /* Color del texto normal */
    transition: color 0.3s ease; /* Transición suave para el color */
}

.navbar-nav .nav-link:hover {
    color: #007bff; /* Cambia el color del texto al pasar el mouse (opcional) */
}

.navbar-nav .nav-link::after {
    content: ''; /* Genera un pseudo-elemento para la línea */
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px; /* Grosor de la línea */
    background-color: blue; /* Color de la línea */
    transform: scaleX(0); /* Escala inicial: oculta la línea */
    transition: transform 0.3s ease; /* Animación suave */
}

.navbar-nav .nav-link:hover::after {
    transform: scaleX(1); /* Escala completa: línea visible */
}




/* Estilos para la sección sobre-nosotros */
.sobre-nosotros {
    font-family: 'Poppins', sans-serif;
    font-size: 52px;
    font-weight: 700;
    color: rgb(224, 224, 223);
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Estilos de la imagen */
.text-container-sobre-nosotros img {
    width: 100%; /* Asegura que la imagen ocupe todo el espacio disponible */
    height: auto;
}

/* Contenedor con flexbox para alinear el texto e imagen */
.flex-container {
    display: flex;
    align-items: center; /* Alinea verticalmente el contenido */
    justify-content: space-between; /* Asegura que el texto y la imagen estén separados */
    flex-wrap: wrap; /* Permite que los elementos se ajusten cuando haya poco espacio */
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
    .flex-container {
        flex-direction: column; /* Cambia la dirección a columna en pantallas pequeñas */
        text-align: center; /* Centra el texto */
    }

    .image-container-sobre-nosotros {
        order: 1; /* Asegura que el texto quede arriba */
    }

    .text-container-sobre-nosotros {
        order: 2; /* Asegura que la imagen quede abajo */
        margin-top: 20px; /* Añade un espacio entre el texto y la imagen */
    }

    .sobre-nosotros {
        font-size: 36px; /* Reduce el tamaño del texto en pantallas pequeñas */
    }

    .sobre-nosotros-descripcion {
        font-size: 16px; /* Reduce el tamaño de la descripción */
        margin-top: 20px; /* Añade un espacio entre el título y la descripción */
    }

    /* Asegura que el botón ocupe el 100% del espacio disponible */
    .card-button {
        width: 100%;
    }
}

/* Media queries para pantallas muy pequeñas */
@media (max-width: 480px) {
    .sobre-nosotros {
        font-size: 28px; /* Aún más pequeño para pantallas muy pequeñas */
    }
    
    .sobre-nosotros-descripcion {
        font-size: 14px; /* Ajuste adicional para pantallas muy pequeñas */
    }
}









/* Contenedor de las tarjetas */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    margin-top: 30px;
  }
  
  /* Estilos para cada tarjeta */
  .card {
    width: 268px;  /* Ancho inicial para pantallas grandes */
    height: 106px;
    background-color: #0000006b; /* Fondo oscuro con algo de transparencia */
    border-radius: 12px; /* Bordes redondeados */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 -4px 8px rgba(255, 255, 255, 0.2); /* Sombra para efecto convexo */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: transform 0.2s ease, box-shadow 0.3s ease; /* Efecto de hover y transición suave */
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
    flex-grow: 0; /* Para evitar que crezca más allá del tamaño especificado */
  }
  
  /* Efecto al pasar el cursor sobre la tarjeta */
  .card:hover {
    transform: translateY(-5px); /* Eleva la tarjeta un poco al hacer hover */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4), 0 -6px 12px rgba(255, 255, 255, 0.3); /* Sombra más pronunciada para resaltar el relieve */
  }
  
  /* Estilos para el contenido de la tarjeta */
  .card-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* Título de la tarjeta */
  .card-title {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: white; /* Texto blanco */
    margin: 0; /* Elimina el margen para evitar que se desplace */
  }
  
  /* Número en la tarjeta */
  .card-number {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    color: white; /* Texto blanco */
    font-weight: bold;
    margin: 0; /* Elimina el margen para evitar que se desplace */
  }
  
  /* Clases específicas para cada tarjeta (si necesitas personalización) */
  .numRequeris-card1 {
    background-color: #0000006b; /* Fondo oscuro con algo de transparencia */
  }
  
  .numRequeris-card2 {
    background-color: #0000006b; /* Fondo oscuro con algo de transparencia */
  }
  
  .numRequeris-card3 {
    background-color: #0000006b; /* Fondo oscuro con algo de transparencia */
  }
  
  .numRequeris-card4 {
    background-color: #0000006b; /* Fondo oscuro con algo de transparencia */
  }
  
  /* Media Queries para pantallas más pequeñas (responsive) */
  @media (max-width: 768px) {
    .card {
      width: calc(50% - 8px); /* Ajustar las tarjetas al 50% del contenedor para pantallas medianas */
      height: 106px; /* Mantener la altura */
    }
  
    .card-container {
      gap: 8px; /* Reducir el espacio entre las tarjetas */
    }
  }
  
  @media (max-width: 480px) {
    .card {
      width: 100%; /* En pantallas pequeñas, que cada tarjeta ocupe todo el ancho */
      height: 106px; /* Mantener la altura */
    }
  
    .card-container {
      gap: 8px; /* Reducir el espacio entre las tarjetas */
    }
  }
  












   /* Desplegar el menú al pasar el mouse sobre el elemento */
   #AdministrarDominiosLayout:hover .dropdown-menu {
    display: block;
}

/* Opcional: agregar una transición para suavizar el efecto */
.dropdown-menu {
    display: none;
    transition: all 0.3s ease;
}