<!-- Contenedor del aviso de cookies -->
<div id="cookieConsent">
    Este sitio web usa cookies para mejorar tu experiencia.  
    <div class="cookie-buttons">
        <button id="acceptCookies" class="cookie-btn">Aceptar</button>
        <button id="rejectCookies" class="cookie-btn">Rechazar</button>
    </div>
</div>
<link rel=   "stylesheet" href=" {{ url_for('static', filename='css/cookies/cookies.css') }}">
<script src="{{ url_for('static', filename='js/cookies/cookies.js') }}"></script>
