{% if layout == 'layout_administracion' %}
   {% extends 'layouts/layout_administracion.html' %}   
{% endif %}
{% block content %}
<h2>Gestión de Ambitos</h2>
<div class="table-responsive">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">Orden</th>
                <th scope="col">Id</th>
                <th scope="col">User ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Idioma</th>
                <th scope="col">Valor</th>
                <th scope="col">Estado</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% if datos %}
            {% for ambito in datos %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ ambito.id }}</td>
                <td>{{ ambito.user_id }}</td>
                <td>{{ ambito.nombre }}</td>
                <td>{{ ambito.descripcion }}</td>
                <td>{{ ambito.idioma }}</td>
                <td>{{ ambito.valor }}</td>
                <td>{{ ambito.estado }}</td>
                <td>
                    <!-- Botón para editar -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#editarAmbitoModal" 
                    data-ambito-id="{{ ambito.id }}"
                    data-nombre="{{ ambito.nombre }}"
                    data-descripcion="{{ ambito.descripcion }}"
                    data-idioma="{{ ambito.idioma }}"
                    data-valor="{{ ambito.valor }}"
                    data-estado="{{ ambito.estado }}"
                    data-user_id="{{ ambito.user_id }}">Editar</button>
                    <!-- Botón para eliminar -->
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#eliminarAmbitoModal" 
                        data-ambito-id="{{ ambito.id }}"
                        data-nombre="{{ ambito.nombre }}">Eliminar</button>



                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="9" class="text-center">No hay datos disponibles</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>

<!-- Formulario de creación -->
<form id="ambito-form">
    <input type="hidden" id="ambito-id" value="">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" required class="form-control"><br>

    <label for="descripcion">Descripción:</label>
    <input type="text" id="descripcion" class="form-control"><br>

    <label for="idioma">Idioma:</label>
    <input type="text" id="idioma" class="form-control"><br>

    <label for="valor">Valor:</label>
    <input type="text" id="valor" class="form-control"><br>

    <label for="estado">Estado:</label>
    <input type="text" id="estado" class="form-control"><br>
    
    <button type="button" class="btn btn-success" onclick="crearAmbito()">Crear Ámbito</button>

</form>


<!-- Modal de confirmación -->
<div class="modal fade" id="confirmacionCrearAmbitoModal" tabindex="-1" aria-labelledby="confirmacionCrearAmbitoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmacionCrearAmbitoModalLabel" style="color: black;">Confirmar Creación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="color: black;">
        ¿Estás seguro de que deseas crear este nuevo ámbito con los datos ingresados?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" id="confirmarCrearAmbito" onclick="confirmarCrearAmbito()">Confirmar</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal de edición -->
<div class="modal fade" id="editarAmbitoModal" tabindex="-1" aria-labelledby="editarAmbitoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editarAmbitoModalLabel" style="color: black;">Editar Ámbito</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="editarAmbitoForm">
          <input type="hidden" id="ambito-id-editar">
          <label for="nombre-editar" style="color: black;">Nombre:</label>
          <input type="text" id="nombre-editar" class="form-control" required><br>

          <label for="descripcion-editar" style="color: black;">Descripción:</label>
          <input type="text" id="descripcion-editar" class="form-control"><br>

          <label for="idioma-editar" style="color: black;">Idioma:</label>
          <input type="text" id="idioma-editar" class="form-control"><br>

          <label for="valor-editar" style="color: black;">Valor:</label>
          <input type="text" id="valor-editar" class="form-control"><br>

          <label for="estado-editar" style="color: black;">Estado:</label>
          <input type="text" id="estado-editar" class="form-control"><br>

          <label for="user_id-editar" style="color: black;">User ID:</label>
          <input type="text" id="user_id-editar" class="form-control" required><br>

          <button type="button" class="btn btn-primary" onclick="actualizarAmbito()">Actualizar Ambito</button>
        </form>
      </div>
    </div>
  </div>
</div>


  


<!-- Modal de confirmación de eliminación -->
<div class="modal fade" id="eliminarAmbitoModal" tabindex="-1" aria-labelledby="eliminarAmbitoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eliminarAmbitoModalLabel" style="color: black;">Confirmar Eliminación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p style="color: black;">¿Está seguro de que desea eliminar el ámbito?</p>       
        <input type="hidden"  id="ambito-nombre-eliminar" class="form-control"><br>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" onclick="eliminarAmbito()">Eliminar</button>
      </div>      
    </div>
  </div>
</div>


{% include 'layouts/layout_footer.html' %}   
<script src="{{ url_for('static', filename='js/media/publicaciones/ambitos.js') }}"></script>
<script>
    
// Cuando el modal de edición se abre, cargamos los datos

$(document).ready(function() {
    $('#editarAmbitoModal').on('show.bs.modal', function (event) {
      
        var button = $(event.relatedTarget); // El botón que disparó el modal
        var ambitoId = button.data('ambito-id');
        var nombre = button.data('nombre');
        var descripcion = button.data('descripcion');
        var idioma = button.data('idioma');
        var valor = button.data('valor');
        var estado = button.data('estado');
        var userId = button.data('user_id');

        var modal = $(this);
        modal.find('#ambito-id-editar').val(ambitoId);
        modal.find('#nombre-editar').val(nombre);
        modal.find('#descripcion-editar').val(descripcion);
        modal.find('#idioma-editar').val(idioma);
        modal.find('#valor-editar').val(valor);
        modal.find('#estado-editar').val(estado);
        modal.find('#user_id-editar').val(userId);
    });




// Cargar el nombre del ámbito en el modal de confirmación de eliminación
$('#eliminarAmbitoModal').on('show.bs.modal', function (event) {
   
    var button = $(event.relatedTarget); // El botón que activó el modal
    var id = button.data('ambito-id'); // Obtener el ID desde los atributos del botón
    var nombre = button.data('nombre'); // Opcionalmente, obtener el nombre para mostrarlo en el modal

    var modal = $(this);
    modal.find('#ambito-nombre-eliminar').text(nombre); // Mostrar el nombre en el modal
    modal.find('.btn-danger').attr('onclick', `eliminarAmbito(${id})`); // Pasar el ID a la función eliminarAmbito
});





});






</script>

{% endblock %}