{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages%}  
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
{% endfor %}
{% endif %}
{% endwith %}
{% extends 'layouts/layoutConexBroker.html'%}
{% block content%}

  
  <div>
    <h2>Alta de Estrategias en app.py</h2>
    <div class="table-responsive">  
    <table class="table table-dark table-striped">
      <thead>           
        <tr> 
          <th scope="col">id</th> 
          <th scope="col">cuenta</th>
          <th scope="col">nombre</th>
          <th scope="col">Estado</th>
          <th scope="col">descripcion</th>
          <th scope="col">fecha</th>
          <th scope="col">Acciones</th>
        </tr>            
      </thead>
      <tbody>
        <!-- Verificar si hay datos -->
        {% if datos %}
          <!-- Si hay datos, iterar sobre ellos -->
          {% for dato in datos %}
          <tr>          
            <td>{{ dato.id }}</td>
            <td>{{ dato.accountCuenta }}</td> 
            <td>{{ dato.nombreEstrategia }}</td>  
            <td>{{ dato.estado }}</td>          
            <td>{{ dato.descripcion }}</td> 
            <td>{{ dato.fecha }}</td> 
            <td class="d-flex">          
               <button type="button" class="btn btn-success mx-2" data-bs-toggle="modal" data-bs-target="#altaEstrategiaModal" data-estrategiaId-id="{{ dato.id }}" onclick="setUserDataAlta(this.getAttribute('data-estrategiaId-id'))">Agregar</button>
              
                <button type="button" class="btn btn-danger mx-2" data-bs-toggle="modal" data-bs-target="#eliminarEstrategiaModal" data-estrategiaId-id="{{ dato.id }}" onclick="setUserData(this.getAttribute('data-estrategiaId-id'))">Eliminar</button>
            </td>
             
      
          </tr>
          {% endfor %}
        {% else %}
          <!-- Si no hay datos, mostrar una fila de tabla vacía -->
          <tr>
            <td colspan="6">No hay datos disponibles</td>
          </tr>
        {% endif %}
      </tbody>
      
    </table>
  </div>
  </div>

  
  
 <!-- Formulario modal para editar la estrategia -->
<div class="modal fade" id="editarEstrategiaModal" tabindex="-1" aria-labelledby="editarEstrategiaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="editarEstrategiaModalLabel">Editar Estrategia</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form id="editarEstrategiaForm" action="/abm-estrategias-editar" method="POST">
              <div class="modal-body">
                  <input type="hidden" id="editarEndPointId" name="id">
                  <div class="form-group">
                      <label for="editarEndPointApiUrl">API URL:</label>
                      <input type="text" class="form-control" id="editarEndPointApiUrl" name="api_url" required>
                  </div>
                  <div class="form-group">
                      <label for="editarEndPointWsUrl">WebSocket URL:</label>
                      <input type="text" class="form-control" id="editarEndPointWsUrl" name="ws_url" required>
                  </div>
                  <div class="form-group">
                      <label for="editarEstrategiaNombre">Nombre:</label>
                      <input type="text" class="form-control" id="editarEstrategiaNombre" name="nombre" required>
                  </div>
                  <div class="form-group">
                      <label for="editarEstrategiaDescripcion">Descripción:</label>
                      <input type="text" class="form-control" id="editarEstrategiaDescripcion" name="descripcion">
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-primary">Guardar Cambios</button>
              </div>
          </form>
      </div>
  </div>
</div>

  <div class="modal fade" id="eliminarEstrategiaModal" tabindex="-1" aria-labelledby="eliminarEstrategiaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="eliminarEstrategiaModalLabel">Eliminar Estrategia</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="/abm-estrategias-eliminar-app/" method="POST">
          <div class="modal-body">
            <input type="hidden" id="eliminarEstrategiaId" name="eliminarEstrategiaId" value = "">
            <input type="hidden" id="eliminarEstrategiaToken" name="eliminarEstrategiaToken" value = "">
            <input type="hidden" id="eliminarEstrategiaCuenta" name="eliminarEstrategiaCuenta" value = "">
            <p class="fw-bold text-dark"  style="color: black;">¿Está seguro de que desea eliminar esta Estrategia?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-danger">Eliminar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  

  <div class="modal fade" id="altaEstrategiaModal" tabindex="-1" aria-labelledby="altaEstrategiaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="altaEstrategiaModalLabel">Agregar Estrategia</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="/abm-estrategias-alta-app/" method="POST" id="estrategiaForm">
          <div class="modal-body">
            <input type="hidden" id="altaEstrategiaId" name="altaEstrategiaId" value = "">
            <input type="hidden" id="altaEstrategiaToken" name="altaEstrategiaToken" value = "">
            <input type="hidden" id="altaEstrategiaCuenta" name="altaEstrategiaCuenta" value = "">
            <p class="fw-bold text-dark"  style="color: black;">¿Está seguro de que desea agregar esta Estrategia?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-danger">Agregar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
 


  <div class="modal fade" id="seleccionarBrokerModal" tabindex="-1" aria-labelledby="seleccionarBrokerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="seleccionarBrokerModalLabel" style="color: black;" >Seleccionar Broker</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul>
            {% for broker in brokers %}
            <ul>
            </ul>
              <li>
                <button type="button" class="btn btn-primary" onclick="seleccionarBroker()"></button>
              </li>
            
            {% endfor %}
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>


  
<!-- Enlaces a scripts de JavaScript -->
<script >
  $(document).ready(function() {
    // Validación del nombre
    var nombre = document.getElementById("correo_electronico");
    function validateNombre(event) {
      if (nombre.value.indexOf(' ') >= 0) {
        nombre.setCustomValidity("El correo_electronico no debe contener espacios en blanco");
        event.preventDefault();
      } else {
        nombre.setCustomValidity("");
      }
    }
  
    // Validación de la confirmación de contraseña
    var password = document.getElementById("password");
    var confirm_password = document.getElementById("confirm_password");
  
    function validatePassword() {
      if (password.value != confirm_password.value) {
        confirm_password.setCustomValidity("Las contraseñas no coinciden");
      } else {
        confirm_password.setCustomValidity("");
      }
    }
  
   
    
   
  });

  const editButtons = document.querySelectorAll('[data-bs-target="#editarEstrategiaModal"]');
    editButtons.forEach(button => {
        button.addEventListener('click', () => {
            const id = button.dataset.id;
            const apiUrl = button.dataset.apiUrl;
            const wsUrl = button.dataset.wsUrl;
            const nombre = button.dataset.nombre;
            const descripcion = button.dataset.descripcion;

            document.querySelector('#editarEndPointId').value = id;
            document.querySelector('#editarEndPointApiUrl').value = apiUrl;
            document.querySelector('#editarEndPointWsUrl').value = wsUrl;
            document.querySelector('#editarEstrategiaNombre').value = nombre;
            document.querySelector('#editarEstrategiaDescripcion').value = descripcion;
        });
    });


  function setUserData(estrategiaId) {
    access_token = localStorage.getItem('access_token');
    account = localStorage.getItem('cuenta');
    document.getElementById('eliminarEstrategiaId').value = estrategiaId;
    document.getElementById('eliminarEstrategiaToken').value = access_token
    document.getElementById('eliminarEstrategiaCuenta').value = account
  }
  function setUserDataAlta(estrategiaId) {
    access_token = localStorage.getItem('access_token');
    account = localStorage.getItem('cuenta');
    document.getElementById('altaEstrategiaId').value = estrategiaId;
    document.getElementById('altaEstrategiaToken').value = access_token
    document.getElementById('altaEstrategiaCuenta').value = account
  }


   // Obtén el formulario y el mensaje de carga
   const form = document.getElementById('estrategiaForm');
   const loadingMessage = document.getElementById('loadingMessage');

   // Agrega un evento al enviar el formulario
   form.addEventListener('submit', function() {
       // Muestra el mensaje de carga
       loadingMessage.style.display = 'flex';
   });

    
    





















      //#################### seleccionarBroker ######################//
  function seleccionarBroker(brokerId, api_url, ws_url, nombre,descripcion) {
    //aqui cargo en los input los datos seleccionados   
    //document.getElementById('brokerIdInput').value = brokerId;
    document.getElementById('api_url').value = api_url;
    document.getElementById('ws_url').value = ws_url;
   // document.getElementById('nombre').value = nombre;
   // document.getElementById('descripcion').value = descripcion;
   
    // Cierra el modal de selección de usuario
    const modal = document.getElementById('seleccionarBrokerModal');
    const bootstrapModal = bootstrap.Modal.getInstance(modal);
    bootstrapModal.hide();
  }

  ////cuando se abre el modal se llama la funcion para cargar los usuarios
  document.getElementById('seleccionarBrokerModal').addEventListener('shown.bs.modal', function () {
    cargarCuentas();
  });
  function cargarCuentas() {
    // Obtener el accessToken del localStorage
    const accessToken = localStorage.getItem("access_token");
    
    if (!accessToken) {
      console.error("No se encontró el accessToken en el localStorage");
      return;
    }
    
    
   
    // Configurar las opciones de la solicitud fetch para pedir las cuentas y mostrar el modal con las cuentas
    const requestOptions = {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ accessToken: accessToken })
    };
     
    fetch('/abm-estrategias-all-Brokers-post/', requestOptions)
      .then(response => response.json())
      .then(data => {
        const broker = data.brokers;  // Accede a data.cuentas en lugar de data.usuarios
  
        const ul = document.querySelector('.modal-body ul');
        ul.innerHTML = '';  // Limpia la lista existente
  
        broker.forEach(broker => {
          const li = document.createElement('li');
          const button = document.createElement('button');
          button.type = 'button';
          button.className = 'btn btn-primary';
          button.innerText = broker.nombre; // Mostrar el nombre del broker
          button.addEventListener('click', () => {
            // Llamar a seleccionarCuenta con los datos deseados
            seleccionarBroker(broker.id, broker.api_url, broker.ws_url, broker.nombre,broker.descripcion);
          });
  
          li.appendChild(button);
          ul.appendChild(li);
        });
      })
      .catch(error => console.error(error));
  }
</script>
{% endblock %}
