{% if layout == 'layout_detalle_productos' %}
{% extends "layouts/layout_detalle_productos.html" %}
{% endif %}
{% if layout == 'layout_signal' %}
{% extends 'layouts/layout_signal.html' %}    
{% endif %}
{% if layout == 'layout'%}
{% extends 'layouts/layout.html' %}
{% endif %}

{% if layout == 'layout_fichas'%}
{% extends 'layouts/layout_fichas.html' %}
{% endif %}

{% if layout == 'layoutConexBroker' %}
{% extends 'layouts/layoutConexBroker.html' %}    
{% endif %}
{% if layout == 'layout_index' %}
{% extends 'layouts/layout_index.html' %} 
{% endif %}
{% if layout == 'layout_dpi' %}
{% extends 'layouts/layout_dpi.html' %} 
{% endif %}
{% if layout == 'layout_administracion' %}
    {% extends 'layouts/layout_administracion.html' %}
{% endif %}
{% block content %}

<div class="jumbotron" style="margin-top: 80px;">
  <h1 class="display-4">¡No Posee Categoría asociada!</h1>  
  <button onclick="volverInicio()" style="margin-top: 20px; padding: 10px 20px;">Volver al inicio</button>
</div>

{% include 'layouts/layout_footer.html' %}
  <script>
    function volverInicio() {
    window.history.back(); // Vuelve a la página anterior
  }

  // Redirección automática luego de 5 segundos
  setTimeout(() => {
    window.history.back(); // También vuelve automáticamente
  }, 5000);
</script>
{% endblock%}
